unpackaged/main/default/flows/Account_Update_Referrals_with_Payments_Enterprise_Partner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Partnership_IDs</name>
        <label>Assign Partnership IDs</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_PartnersipIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Partnership_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Partnership_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Referral_Partner_Value</name>
        <label>Assign Referral Partner Value</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Referrals.Payments_Enterprise_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payments_Enterprise_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Referrals</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account: Update Referrals with Payments Enterprise Partner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Referrals with Payments Enterprise Partner</label>
    <loops>
        <description>Loop through Partnership Records to find referral records</description>
        <name>Loop_through_Partnership_records</name>
        <label>Loop through Partnership records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Partnerships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Partnership_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Referral_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Referrals</name>
        <label>Loop thru Referrals</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>rs_Referal_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Referral_Partner_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Referral_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partnerships</name>
        <label>Get Partnerships</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Partnership_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partnerships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_Records</name>
        <label>Get Referral Records</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partnership__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_PartnersipIDs</elementReference>
            </value>
        </filters>
        <object>Referral__c</object>
        <outputReference>rs_Referal_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Payments_Enterprise_Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referral_Records</name>
        <label>Update Referral Records</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputReference>rs_Referal_List</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partnerships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payments_Enterprise_Partner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>coll_Partnerships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partnerships__c</objectType>
    </variables>
    <variables>
        <name>coll_ReferralRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>rs_Referal_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>var_PartnersipIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReferralIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RefPaymentsEnterprisePartner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
