unpackaged/main/default/flows/Account_Created_Updated_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_to_Collection_Var_Outbound_Prohibited_time_bound</name>
        <label>Assign to Collection Var Outbound Prohibited (time bound)</label>
        <locationX>270</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>coll_OutboundProhibitedTimeBound</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Referrals_Two</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Referrals_Two</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Referral_Record_Outbound_and_Inbound_Prohibited</name>
        <label>Assign to Referral Record Outbound and Inbound Prohibited</label>
        <locationX>468</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>coll_ReferralHasOutboundandinboundprohibited</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Referral_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Referral_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Referral_has_Outbound_and_Inbound_Prohibited_Count</name>
        <label>Referral has Outbound and Inbound Prohibited Count</label>
        <locationX>380</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>var_CountReferralhasOutboundandInboundProhibited</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>coll_ReferralHasOutboundandinboundprohibited</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_is_Zero_or_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Referral_has_Outbound_prohibited_time_bound</name>
        <label>Referral has Outbound prohibited (time bound)</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>var_CountReferralhasOUtboundProhibitedTimeBound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>coll_OutboundProhibitedTimeBound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_is_Zero_or_Null_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Brand_Customer_Status_Update</name>
        <label>Brand Customer Status Update</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Referral_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_BrandCustomerStatusUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AffiniPay_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CASEpeer_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClientPay_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPACharge_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Docketwise_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LawPay_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MyCase_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Soluno_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Websites_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Woodpecker_Customer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_is_Zero_or_Null</name>
        <label>Count is Zero or Null</label>
        <locationX>380</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Count_is_Zero_or_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CountReferralhasOutboundandInboundProhibited</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CountReferralhasOutboundandInboundProhibited</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Referrals_Two</targetReference>
            </connector>
            <label>Yes Count is Zero or Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_is_Zero_or_Null_2</name>
        <label>Count is Zero or Null 2</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Set_Software_Non_Compete_in_Effect_to_Outbound_Prohibited_time_bound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Count_is_Zero_or_Null_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountReferralhasOUtboundProhibitedTimeBound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CountReferralhasOUtboundProhibitedTimeBound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Software_Non_Compete_in_Effect_to_None</targetReference>
            </connector>
            <label>Yes Count is Zero or Null 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_has_Partner_Software_Non_Compete_Type_Outbound_prohibited_Time_bound</name>
        <label>Referral has Partner Software Non-Compete Type = Outbound prohibited (Time bound)</label>
        <locationX>402</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Referrals_Two</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Referral_has_partner_software_non_compete_type_Outbound_Prohibited_Time_Boun</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Referrals_Two.Partner_Software_Non_Compete_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Prohibited (time bound)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Software_Non_Compete_in_Effect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Software_Non_Compete_in_Effect__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Software_Non_Compete_Expiry_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fmlaToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Collection_Var_Outbound_Prohibited_time_bound</targetReference>
            </connector>
            <label>Yes Referral has partner software non-compete type = Outbound Prohibited (Time Bound)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_record_has_Partner_Software_Non_Compete_Type_Outbound_and_inbound_prohi</name>
        <label>Referral record has Partner Software Non-Compete Type = Outbound and inbound prohibited</label>
        <locationX>600</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Referral_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Software_Non_Compete_Type_Outbound_and_Inbound_Prohibited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Referral_Records.Partner_Software_Non_Compete_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound and Inbound Prohibited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Referral_Record_Outbound_and_Inbound_Prohibited</targetReference>
            </connector>
            <label>Yes Partner Software Non -Compete Type = Outbound and Inbound Prohibited</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlaToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>fxCurrentSalesCampaign_Opportunity</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDate})&amp;&quot;: Reassignment of &quot;&amp;{!varPriorOwnerName}&amp;&quot;&#39;s Opportunites&quot;</expression>
    </formulas>
    <formulas>
        <name>fxCurrentSalesCampaign_Prospect</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDate})&amp;&quot;: Reassignment of &quot;&amp;{!varPriorOwnerName}&amp;&quot;&#39;s Prospects&quot;</expression>
    </formulas>
    <interviewLabel>Account: Created/Updated - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Created/Updated - After Save</label>
    <loops>
        <name>Loop_through_Referral_Records</name>
        <label>Loop through Referral Records</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <collectionReference>Get_Referral_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Referral_record_has_Partner_Software_Non_Compete_Type_Outbound_and_inbound_prohi</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Referral_has_Outbound_and_Inbound_Prohibited_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Referrals_Two</name>
        <label>Loop through Referrals Two</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <collectionReference>Get_Referral_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Referral_has_Partner_Software_Non_Compete_Type_Outbound_prohibited_Time_bound</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Referral_has_Outbound_prohibited_time_bound</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Referral_Records</name>
        <label>Get Referral Records</label>
        <locationX>380</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Referral_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Software_Non_Compete_in_Effect_to_None</name>
        <label>Set Software Non-Compete in Effect to None</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <inputAssignments>
            <field>Software_Non_Compete_in_Effect__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Software_Non_Compete_in_Effect_to_Outbound_Prohibited_time_bound</name>
        <label>Set Software Non-Compete in Effect to Outbound Prohibited (time bound)</label>
        <locationX>314</locationX>
        <locationY>2147</locationY>
        <inputAssignments>
            <field>Software_Non_Compete_in_Effect__c</field>
            <value>
                <stringValue>Outbound Prohibited (time bound)</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update Account with Outbound and inbound prohibited</label>
        <locationX>578</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>Partner_Software_Non_Compete_Type__c</field>
            <value>
                <stringValue>Outbound and Inbound Prohibited</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Referral_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>AffiniPay_Customer_Status__c</field>
            <value>
                <elementReference>$Record.AffiniPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASEpeer_Customer_Status__c</field>
            <value>
                <elementReference>$Record.CASEpeer_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPACharge_Customer_Status__c</field>
            <value>
                <elementReference>$Record.CPACharge_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientPay_Customer_Status__c</field>
            <value>
                <elementReference>$Record.ClientPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docketwise_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Docketwise_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_Customer_Status__c</field>
            <value>
                <elementReference>$Record.LawPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Customer_Status__c</field>
            <value>
                <elementReference>$Record.MyCase_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soluno_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Soluno_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Websites_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Websites_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Woodpecker_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Woodpecker_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Brand_Customer_Status_Update</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_OutboundProhibitedTimeBound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>coll_ReferralHasOutboundandinboundprohibited</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>var_CountReferralhasOutboundandInboundProhibited</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CountReferralhasOUtboundProhibitedTimeBound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPriorOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
