unpackaged/main/default/flows/Account_Update_Contacts_on_Customer_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assign customer status for each</description>
        <name>Assign_Customer_Status</name>
        <label>Assign Customer Status</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_contacts.AffiniPay_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AffiniPay_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contacts.CASEpeer_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CASEpeer_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contacts.ClientPay_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClientPay_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contacts.CPACharge_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CPACharge_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contacts.Docketwise_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Docketwise_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contacts.LawPay_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LawPay_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contacts.MyCase_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MyCase_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contacts.Soluno_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Soluno_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contacts.Websites_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Websites_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contacts.Woodpecker_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Woodpecker_Customer_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_contacts</targetReference>
        </connector>
    </assignments>
    <description>Updates related contacts when a Customer Status is updated / changed.</description>
    <environments>Default</environments>
    <interviewLabel>Account - Update Contacts on Customer Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Contacts on Customer Status Update</label>
    <loops>
        <name>Loop_contacts</name>
        <label>Loop contacts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Customer_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get contacts related to account</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>Loop_contacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AffiniPay_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CASEpeer_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ClientPay_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CPACharge_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Docketwise_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LawPay_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MyCase_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Soluno_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Websites_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Woodpecker_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
