unpackaged/main/default/flows/Account_Brand_Status_Updates_By_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Account_from_Account_Record</name>
        <label>Account from Account Record</label>
        <locationX>1038</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_Account_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Linked_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_from_Prod_Env_Record</name>
        <label>Account from Prod Env Record</label>
        <locationX>2202</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_Account_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Product_Env_Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Linked_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Affinipay_Active</name>
        <label>Assign Affinipay Active</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_Affinipay_Active</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Affinipay_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Affinipay_Churned</name>
        <label>Assign Affinipay Churned</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_Affinipay_Chruned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Affinipay_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Brand_Totals</name>
        <label>Assign Brand Totals</label>
        <locationX>1038</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Prod_Env_Count_AffiniPay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count_Affinipay_Total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Prod_Env_Count_ClientPay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count_ClientPay_Total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Prod_Env_Count_CPACharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count_CPACharge_Total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Prod_Env_Count_LawPay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count_Lawpay_Total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Prod_Env_Count_MyCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count_MyCase_Total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Prod_Env_Count_Docketwise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count_Docketwise_Total</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ClienPay_Chruned</name>
        <label>Assign ClienPay Chruned</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_ClientPay_Chruned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_ClientPay_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ClientPay_Active</name>
        <label>Assign ClientPay Active</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_ClientPay_Active</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_ClientPay_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CPACharge_Active</name>
        <label>Assign CPACharge Active</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_CPACharge_Active</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_CPACharge_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CPACharge_Churned</name>
        <label>Assign CPACharge Churned</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_CPACharge_Chruned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_CPACharge_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docketwise_Active</name>
        <label>Assign Docketwise Active</label>
        <locationX>4890</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_Docketwise_Churned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Docketwise_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docketwise_Churned</name>
        <label>Assign Docketwise Churned</label>
        <locationX>4626</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_Docketwise_Active</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Docketwise_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docketwise_Prospect</name>
        <label>Assign Docketwise Prospect</label>
        <locationX>4362</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_Docketwise_Prospect</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Docketwise_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_and_Logging</name>
        <label>Assign ID and Logging</label>
        <locationX>1038</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Last_Touch_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account: Brand Status Updates By PE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Run_Brand_Update_From_PE_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lawpay_Active</name>
        <label>Assign Lawpay Active</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_Lawpay_Active</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Lawpay_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lawpay_Churned</name>
        <label>Assign Lawpay Churned</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_Lawpay_Chruned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Lawpay_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MC_Payments_Active</name>
        <label>Assign MC Payments Active</label>
        <locationX>3130</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_MyCase_Payments_Active</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_MyCase_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MC_Payments_Churned</name>
        <label>Assign MC Payments Churned</label>
        <locationX>3394</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_MyCase_Payments_Churned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_MyCase_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>MedPay to be included in the Affinipay count</description>
        <name>Assign_MedPay_Active</name>
        <label>Assign MedPay Active</label>
        <locationX>2426</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_Affinipay_Active</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Affinipay_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>MedPay to be included in the Affinipay count</description>
        <name>Assign_MedPay_Churned</name>
        <label>Assign MedPay Churned</label>
        <locationX>2690</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_Affinipay_Chruned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Affinipay_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MyCase_Active</name>
        <label>Assign MyCase Active</label>
        <locationX>3658</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_MyCase_Active</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_MyCase_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MyCase_Churned</name>
        <label>Assign MyCase Churned</label>
        <locationX>3922</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>count_MyCase_Churned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_MyCase_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>1038</locationX>
        <locationY>1634</locationY>
        <assignmentItems>
            <assignToReference>rv_Account_Update.AffiniPay_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Affinipay_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.ClientPay_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ClientPay_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.CPACharge_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_CPACharge_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.LawPay_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Lawpay_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.MyCase_Payments_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_MC_Payments_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Account_Update.Docketwise_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Docketwise_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ID_and_Logging</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>c_PE_Affinipay_RecordType_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001Dm9MQAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_PE_Docketwise_RecordType_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01279000000L8OmAAK</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_PE_MyCase_RecordType_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001Dm68QAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Brand_and_Status_Count</name>
        <label>Brand and Status Count</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Affinipay_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AffiniPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Affinipay_Active</targetReference>
            </connector>
            <label>Affinipay Active</label>
        </rules>
        <rules>
            <name>Affinipay_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AffiniPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Affinipay_Churned</targetReference>
            </connector>
            <label>Affinipay Churned</label>
        </rules>
        <rules>
            <name>Cliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ClientPay_Active</targetReference>
            </connector>
            <label>ClientPay Active</label>
        </rules>
        <rules>
            <name>ClientPay_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ClienPay_Chruned</targetReference>
            </connector>
            <label>ClientPay Churned</label>
        </rules>
        <rules>
            <name>CPACharge_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPACharge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CPACharge_Active</targetReference>
            </connector>
            <label>CPACharge Active</label>
        </rules>
        <rules>
            <name>CPACharge_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPACharge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CPACharge_Churned</targetReference>
            </connector>
            <label>CPACharge Churned</label>
        </rules>
        <rules>
            <name>Lawpay_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lawpay_Active</targetReference>
            </connector>
            <label>Lawpay Active</label>
        </rules>
        <rules>
            <name>Lawpay_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lawpay_Churned</targetReference>
            </connector>
            <label>Lawpay Churned</label>
        </rules>
        <rules>
            <name>MedPay_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MedPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MedPay_Active</targetReference>
            </connector>
            <label>MedPay Active</label>
        </rules>
        <rules>
            <name>MedPay_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MedPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MedPay_Churned</targetReference>
            </connector>
            <label>MedPay Churned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Docketwise_Status_Cont</name>
        <label>Docketwise Status Cont</label>
        <locationX>4758</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Docketwise_Prospect</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>trialing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>unpaid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Docketwise_Prospect</targetReference>
            </connector>
            <label>Docketwise Prospect</label>
        </rules>
        <rules>
            <name>Docketwise_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>past due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Docketwise_Churned</targetReference>
            </connector>
            <label>Docketwise Active</label>
        </rules>
        <rules>
            <name>Docketwise_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Docketwise_Active</targetReference>
            </connector>
            <label>Docketwise Churned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deleted_PE</name>
        <label>Is Deleted PE</label>
        <locationX>1810</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>PE_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Deleted PE</defaultConnectorLabel>
        <rules>
            <name>Current_item_is_Deleted_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>input_Deleted_PE_RecordID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Records</targetReference>
            </connector>
            <label>Current item is Deleted ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyCase_Payments_Non_Payments_Cont</name>
        <label>MyCase Payments / Non Payments Cont</label>
        <locationX>3658</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MC_Payments_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Payments_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Firm_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MC_Payments_Active</targetReference>
            </connector>
            <label>MC Payments Active</label>
        </rules>
        <rules>
            <name>MC_Payments_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Payments_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Firm_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MC_Payments_Churned</targetReference>
            </connector>
            <label>MC Payments Churned</label>
        </rules>
        <rules>
            <name>MyCase_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Payments_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Firm_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MyCase_Active</targetReference>
            </connector>
            <label>MyCase Active</label>
        </rules>
        <rules>
            <name>MyCase_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.Payments_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Firm_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MyCase_Churned</targetReference>
            </connector>
            <label>MyCase Churned</label>
        </rules>
    </decisions>
    <decisions>
        <name>PE_Record_Type</name>
        <label>PE Record Type</label>
        <locationX>3482</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Affinipay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_PE_Affinipay_RecordType_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_and_Status_Count</targetReference>
            </connector>
            <label>Affinipay</label>
        </rules>
        <rules>
            <name>MyCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_PE_MyCase_RecordType_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Records.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyCase_Payments_Non_Payments_Cont</targetReference>
            </connector>
            <label>MyCase</label>
        </rules>
        <rules>
            <name>Docketwise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Records.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_PE_Docketwise_RecordType_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Docketwise_Status_Cont</targetReference>
            </connector>
            <label>Docketwise</label>
        </rules>
    </decisions>
    <decisions>
        <name>PE_Records_Found</name>
        <label>PE Records Found</label>
        <locationX>1038</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Brand_Totals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Linked_PE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Records</targetReference>
            </connector>
            <label>YES Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1752</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Unknown Trigger</defaultConnectorLabel>
        <rules>
            <name>Account_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Account_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_from_Account_Record</targetReference>
            </connector>
            <label>Account Record</label>
        </rules>
        <rules>
            <name>Product_Environment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Product_Env_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_from_Prod_Env_Record</targetReference>
            </connector>
            <label>Product Environment</label>
        </rules>
    </decisions>
    <description>Process uses the PE records to calculate brand status on the account page</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Affinipay_Status</name>
        <dataType>String</dataType>
        <expression>IF({!count_Affinipay_Total} &gt;0, 
   IF({!count_Affinipay_Active} &gt;0, &quot;Active&quot;, 
      IF({!count_Affinipay_Chruned} &gt;0, &quot;Churned&quot;, &quot;&quot;)),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_ClientPay_Status</name>
        <dataType>String</dataType>
        <expression>IF({!count_ClientPay_Total} &gt;0, 
   IF({!count_ClientPay_Active} &gt;0, &quot;Active&quot;, 
      IF({!count_ClientPay_Chruned} &gt;0, &quot;Churned&quot;, &quot;&quot;)),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_CPACharge_Status</name>
        <dataType>String</dataType>
        <expression>IF({!count_CPACharge_Total} &gt;0, 
   IF({!count_CPACharge_Active} &gt;0, &quot;Active&quot;, 
      IF({!count_CPACharge_Chruned} &gt;0, &quot;Churned&quot;, &quot;&quot;)),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_Docketwise_Status</name>
        <dataType>String</dataType>
        <expression>IF({!count_Docketwise_Total} &gt;0, 
   IF({!count_Docketwise_Active} &gt;0, &quot;Active&quot;, 
      IF({!count_Docketwise_Churned} &gt;0, &quot;Churned&quot;, 
          IF( {!count_Docketwise_Prospect} &gt;0, &quot;Prospect&quot;, &quot;&quot;))),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_Lawpay_Status</name>
        <dataType>String</dataType>
        <expression>IF({!count_Lawpay_Total} &gt;0, 
   IF({!count_Lawpay_Active} &gt;0, &quot;Active&quot;, 
      IF({!count_Lawpay_Chruned} &gt;0, &quot;Churned&quot;, &quot;&quot;)),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_MC_Payments_Status</name>
        <dataType>String</dataType>
        <expression>IF({!count_MyCase_Total} &gt;0, 
   IF({!count_MyCase_Payments_Active} &gt;0, &quot;Active&quot;, 
      IF({!count_MyCase_Payments_Churned} &gt;0, &quot;Churned&quot;, &quot;&quot;)),&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Account: Brand Status Updates By PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Brand Status Updates By PE</label>
    <loops>
        <name>Loop_through_Records</name>
        <label>Loop through Records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Account_Linked_PE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Deleted_PE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Brand_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Linked_PE</name>
        <label>Get Account Linked PE</label>
        <locationX>1038</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PE_Records_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Account_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_PE_MyCase_RecordType_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_PE_Affinipay_RecordType_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_PE_Docketwise_RecordType_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>1038</locationX>
        <locationY>1850</locationY>
        <inputReference>rv_Account_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1626</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>count_Affinipay_Active</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Affinipay_Chruned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Affinipay_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_ClientPay_Active</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_ClientPay_Chruned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_ClientPay_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_CPACharge_Active</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_CPACharge_Chruned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_CPACharge_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Docketwise_Active</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Docketwise_Churned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Docketwise_Prospect</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Docketwise_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Lawpay_Active</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Lawpay_Chruned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Lawpay_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_MedPay_Active</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_MedPay_Churned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_MedPay_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_MyCase_Active</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_MyCase_Churned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_MyCase_Payments_Active</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_MyCase_Payments_Churned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_MyCase_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>input_Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>input_Deleted_PE_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>input_Product_Env_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>rv_Account_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
