unpackaged/main/default/flows/Autolaunched_MC_Opportunity_Subscribed_User_Count_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_On_Product_Picker_Not_Subscribed</name>
        <label>Add On Product Picker Not Subscribed</label>
        <locationX>523</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>varAddOnValidationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Firm Is Not Subscribed to Accounting - Please Remove from Product Picker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Add_On_Mismatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_On_Quantity_Mismatch</name>
        <label>Add On Quantity Mismatch</label>
        <locationX>446</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>varAddOnValidationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add-On Quantities Do Not Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Add_On_Mismatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_On_Subscription_Not_on_Product_Picker</name>
        <label>Add On Subscription Not on Product Picker</label>
        <locationX>336</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>varAddOnValidationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Firm Subscribed to Accounting - Please Add to Product Picker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Add_On_Mismatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_On_Mismatch</name>
        <label>Assign Add On Mismatch</label>
        <locationX>537</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>AddOnMismatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Main_SKU_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Main_SKU_Quantity</name>
        <label>Assign Main SKU Quantity</label>
        <locationX>678</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>MainOppSKU_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Main_Opp_SKU.Qty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subscription_Charge_Main</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Period</name>
        <label>Assign Matched Period</label>
        <locationX>593</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>BillingPeriodMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Matched_Tier</name>
        <label>Assign Matched Tier</label>
        <locationX>1157</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TierMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Period_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Missing_SKUs_TRUE</name>
        <label>Assign Missing SKUs TRUE</label>
        <locationX>319</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>MissingSKUs</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varValidationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity Missing SKUs</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Quantity_Match</name>
        <label>Assign Quantity Match</label>
        <locationX>1340</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>QuantityMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscribedUserQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_Charge_Main.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ProductMatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tier_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quantity_Mismatch</name>
        <label>Assign Quantity Mismatch</label>
        <locationX>730</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>QuantityMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscribedUserQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_Charge_Main.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ProductMatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varValidationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quantities Do Not Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tier_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tier_Validation</name>
        <label>Assign Tier Validation</label>
        <locationX>806</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>varValidationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Tiers Do Not Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Period_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_On_Check</name>
        <label>Add On Check</label>
        <locationX>599</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Assign_Main_SKU_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Add_Ons</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Add_On_SKU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subscription_Charge_Add_On</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Main_SKU_Quantity</targetReference>
            </connector>
            <label>No Add Ons</label>
        </rules>
        <rules>
            <name>Accounting_on_Product_Picker_Not_on_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_On_SKU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subscription_Charge_Add_On</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_On_Product_Picker_Not_Subscribed</targetReference>
            </connector>
            <label>Accounting on Product Picker Not on Subscription</label>
        </rules>
        <rules>
            <name>Accounting_on_Subscription_Not_on_Product_Picker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_On_SKU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subscription_Charge_Add_On</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_On_Subscription_Not_on_Product_Picker</targetReference>
            </connector>
            <label>Accounting on Subscription Not on Product Picker</label>
        </rules>
        <rules>
            <name>Quantities_Do_Not_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_On_SKU.Qty__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Subscription_Charge_Add_On.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_On_Quantity_Mismatch</targetReference>
            </connector>
            <label>Quantities Do Not Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Period_Check</name>
        <label>Billing Period Check</label>
        <locationX>962</locationX>
        <locationY>783</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matched_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Main_Opp_SKU.SKU_Product__r.Pricing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Subscribed_SKU_Product.Pricing_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matched_Period</targetReference>
            </connector>
            <label>Matched Period</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_SKU_Check</name>
        <label>Opportunity SKU Check</label>
        <locationX>311</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Assign_Missing_SKUs_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_SKUs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Main_Opp_SKU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscription_Charge_Add_On</targetReference>
            </connector>
            <label>Has SKUs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantities_Match_Check</name>
        <label>Quantities Match Check</label>
        <locationX>959</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Assign_Quantity_Mismatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Charge_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subscription_Charge_Main</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Charge Found</label>
        </rules>
        <rules>
            <name>Quantities_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainOppSKU_Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Subscription_Charge_Main.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quantity_Match</targetReference>
            </connector>
            <label>Quantities Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Check</name>
        <label>Tier Check</label>
        <locationX>959</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Assign_Tier_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matched_Tier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SubscribedTier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OppSKU_Tier</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matched_Tier</targetReference>
            </connector>
            <label>Matched Tier</label>
        </rules>
    </decisions>
    <description>Validates that the main Opp SKU matches the subscribed user count from the MC App</description>
    <environments>Default</environments>
    <formulas>
        <name>f_ProductMatch</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!Main_Opp_SKU.SKU_Product__r.Billing_Plan__c} = {!Subscription_Charge_Main.Billing_Plan__c}, TRUE, FALSE )</expression>
    </formulas>
    <formulas>
        <name>f_SubscribedBillingCycle</name>
        <dataType>String</dataType>
        <expression>IF( {!Subscription_Charge_Main.Period__c} = &quot;Month&quot;, &quot;Monthly&quot;, &quot;Annual&quot;)</expression>
    </formulas>
    <formulas>
        <name>OppSKU_Tier</name>
        <dataType>String</dataType>
        <expression>LEFT(RIGHT({!Main_Opp_SKU.SKU_Product__r.Billing_Plan__r.Name},4),3)</expression>
    </formulas>
    <formulas>
        <name>SubscribedTier</name>
        <dataType>String</dataType>
        <expression>LEFT(RIGHT({!Subscription_Charge_Main.Name}, 4),3)</expression>
    </formulas>
    <interviewLabel>Autolaunched: MC Opportunity Subscribed User Count Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched: MC Opportunity Subscribed User Count Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Add_On_SKU</name>
        <label>Add-On SKU</label>
        <locationX>188</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_SKU_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Main_Opp_SKU</name>
        <label>Main Opp SKU</label>
        <locationX>188</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_On_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>SKU Product for the Billing Plan</description>
        <name>Subscribed_SKU_Product</name>
        <label>Subscribed SKU Product</label>
        <locationX>967</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quantities_Match_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subscription_Charge_Main.Billing_Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SKU_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Subscription_Charge_Add_On</name>
        <label>Subscription Charge Add-On</label>
        <locationX>577</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_On_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingSubscriptionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting User License</stringValue>
            </value>
        </filters>
        <filters>
            <field>Zuora_Effective_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Subscription_Product_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Subscription_Charge_Main</name>
        <label>Subscription Charge Main</label>
        <locationX>816</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscribed_SKU_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingSubscriptionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zuora_Effective_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Accounting User License</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Subscription_Product_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>62</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Main_Opp_SKU</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddOnMismatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BillingPeriodMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BillingSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MainOppSKU_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MissingSKUs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityBillingCycle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Main_Opp_SKU.Pricing_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OppSKU_BillingPeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Main_Opp_SKU.SKU_Product__r.Pricing_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProductMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuantityMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>subscribedBillingCycle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>f_SubscribedBillingCycle</elementReference>
        </value>
    </variables>
    <variables>
        <name>SubscribedUserQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TierMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAddOnValidationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMainOppSKU_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Main_Opp_SKU.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Validation message returned through evaluation of product picker to zuora subscription</description>
        <name>varValidationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
