unpackaged/main/default/flows/Autolaunch_Create_Lead_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_flow_Variables</name>
        <label>Assign flow Variables</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.Last_Touch_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.Bypass_Duplicate_Rules_on_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.Bypass_VR_and_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Messaging</name>
        <label>Set Error Messaging</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>error_Create_Lead_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>error_Create_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: On Creating Lead </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>error_Create_Lead_System_MSG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Lead_Record_Vars</name>
        <label>Set Lead Record Vars</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_PE_Compnay_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PE_Record.Owner_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_PE_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PE_Record.Owners_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.Lead_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Docketwise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Lead_Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_Sys_Admin_User_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_flow_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Vars</name>
        <label>Set Output Vars</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>output_Lead_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Lead_Create.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>ID of the sys Admin user</description>
        <name>con_Sys_Admin_User_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0058W00000BElhlQAD</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Brand</name>
        <label>Brand</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Brand No Supported Yet</defaultConnectorLabel>
        <rules>
            <name>Docketwise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PE_Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docketwise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Record_Vars</targetReference>
            </connector>
            <label>Docketwise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Recieved</name>
        <label>Record Recieved</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No Supported</defaultConnectorLabel>
        <rules>
            <name>Product_Environment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PE_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand</targetReference>
            </connector>
            <label>Product Environment</label>
        </rules>
    </decisions>
    <description>Service flow for creating lead accounts by Brand. DW only brand supported currently.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_PE_Compnay_Name</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!input_PE_Record.Firm_Name__c}), &quot;TBD&quot;,{!input_PE_Record.Firm_Name__c})</expression>
    </formulas>
    <formulas>
        <name>f_PE_Last_Name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!input_PE_Record.Owners_Last_Name__c}), &quot;TBD&quot;,{!input_PE_Record.Owners_Last_Name__c})</expression>
    </formulas>
    <interviewLabel>Autolaunch: Create Lead Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch: Create Lead Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_Output_Vars</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Messaging</targetReference>
        </faultConnector>
        <inputReference>rv_Lead_Create</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Recieved</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>error_Create_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>error_Create_Lead_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>System message for error</description>
        <name>error_Create_Lead_System_MSG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>input_PE_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>output_Lead_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>rv_Lead_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
