unpackaged/main/default/flows/Autolaunched_Create_New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>243</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>varNewContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.Number_of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.Lead_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Online Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContact.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <description>Callable subflow to create new contact where one doesn&#39;t existing for automated processes</description>
    <environments>Default</environments>
    <interviewLabel>Autolaunched: Create New Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched: Create New Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>429</locationX>
        <locationY>246</locationY>
        <inputReference>varNewContact</inputReference>
    </recordCreates>
    <start>
        <locationX>117</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>input_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
