unpackaged/main/default/flows/Autolaunched_Assign_Self_Serve_Signup_Rep_Assisted_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Inbound_Request_for_Update</name>
        <label>Assign Inbound Request for Update</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>reccolvarInboundRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recvarInboundRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Inbound_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inbound_Request_Values</name>
        <label>Assign Inbound Request Values</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>recvarInboundRequest.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Inbound_Requests.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recvarInboundRequest.Self_Serve_Signup_Rep_Assisted_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSelfServeSignupRepAssistedType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Inbound_Request_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_MQL_Date_Contact</name>
        <label>Assign Last MQL Date</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varLastMQLDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Last_MQL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inbound_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_MQL_Date_Lead</name>
        <label>Assign Last MQL Date</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varLastMQLDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Last_MQL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inbound_Requests</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Last_MQL_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inbound_Request_Found</name>
        <label>Inbound Request Found</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Update_Last_MQL_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_InboundRequestFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inbound_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Inbound_Requests</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fxSelfServeSignupRepAssistedType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Contact.New_MQL_Type__c})=&#39;Self-Serve Signup: Incomplete Application&#39; || TEXT({!Get_Lead.New_MQL_Type__c})=&#39;Self-Serve Signup: Incomplete Application&#39;,&#39;Incomplete Application&#39;,
IF(TEXT({!Get_Contact.New_MQL_Type__c})=&#39;Self-Serve Signup: Missing Documents&#39; || TEXT({!Get_Lead.New_MQL_Type__c})=&#39;Self-Serve Signup: Missing Documents&#39;,&#39;Missing Documents&#39;,
IF(TEXT({!Get_Contact.New_MQL_Type__c})=&#39;Self-Serve Signup: Upsell&#39; || TEXT({!Get_Lead.New_MQL_Type__c})=&#39;Self-Serve Signup: Upsell&#39;,&#39;Upsell&#39;,
TEXT({!Loop_Inbound_Requests.Self_Serve_Signup_Rep_Assisted_Type__c})
)))</expression>
    </formulas>
    <interviewLabel>Auto launched: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched: Assign Self-Serve Signup Rep Assisted Type</label>
    <loops>
        <name>Loop_Inbound_Requests</name>
        <label>Loop Inbound Requests</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Inbound_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Inbound_Request_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Inbound_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Last_MQL_Date_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inbound_Requests</name>
        <label>Get Inbound Requests</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inbound_Request_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Self-Serve Sign Up</stringValue>
            </value>
        </filters>
        <filters>
            <field>MQL_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>varLastMQLDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>MQL_Date_Expiration__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varLastMQLDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Trial_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Last_MQL_Date_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inbound_Requests</name>
        <label>Update Inbound Requests</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Update_Last_MQL_Values</targetReference>
        </connector>
        <inputReference>reccolvarInboundRequests</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_or_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Last_MQL_Values</name>
        <label>Update Last MQL Values</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <flowName>Autolaunched_Update_Last_MQL_Values</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>reccolvarInboundRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trial_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recvarInboundRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trial_Request__c</objectType>
    </variables>
    <variables>
        <name>varLastMQLDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
