unpackaged/main/default/flows/Autolaunched_Get_Assignment_Group_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_GetAssignmentGroupMembers</name>
        <label>Get Assignment Group Members</label>
        <locationX>226</locationX>
        <locationY>542</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asg_AssignmentGroupMemberCount</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Assignment_Group_Member__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>SELECT Id,User__c,User_Name__c,User_Slack_ID__c,User_Role_Name__c FROM Assignment_Group_Member__c WHERE Assignment_Group_Name__c = &#39;{!var_AssignmentGroupName}&#39; AND Is_Active__c = TRUE AND IsDeleted = FALSE AND Min_Number_of_Employees__c &lt;= {!fx_NumberOfEmployees} ORDER BY Min_Number_of_Employees__c DESC, Last_Assignment__C ASC LIMIT 1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>asg_AssignmentGroupMemberCount</name>
        <label>Assign Assignment Group Member Count</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>act_GetAssignmentGroupMembers.sObjects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CheckCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_NumberOfEmployees</name>
        <label>Assign Number Of Employees</label>
        <locationX>94</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asg_NumberOfEmployeesToText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_NumberOfEmployeesToText</name>
        <label>Assign Number of Employees to Text</label>
        <locationX>226</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfEmployeesText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NumberOfEmployees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>act_GetAssignmentGroupMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_Variables</name>
        <label>Assign Variables</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignmentGroupMembers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignmentGroupMembers.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignmentGroupMembers.User_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberUserSlackID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignmentGroupMembers.User_Slack_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberUserRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignmentGroupMembers.User_Role_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignmentGroupMembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_CheckCount</name>
        <label>Check Count</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>loop_AssignmentGroupMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_CountIsZeroOrNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>act_GetAssignmentGroupMembers.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_AssignmentGroupMemberCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_SendSlackMessage</targetReference>
            </connector>
            <label>Is Zero or Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_NumberOfEmployeesIsNullOrNegative</name>
        <label>Number Of Employees Is Null or Negative</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>asg_NumberOfEmployeesToText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_NumberOfEmployeesIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberOfEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_NumberOfEmployees</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asg_NumberOfEmployees</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>fx_NumberOfEmployees</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!var_NumberOfEmployeesText}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Autolaunched - Get Assignment Group Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched - Get Assignment Group Member</label>
    <loops>
        <name>loop_AssignmentGroupMembers</name>
        <label>Loop</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <collectionReference>act_GetAssignmentGroupMembers.sObjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asg_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>up_AssignmentGroupMember</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>up_AssignmentGroupMember</name>
        <label>Update Assignment Group Member</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignmentGroupMemberID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assignment__c</field>
            <value>
                <elementReference>fx_Now</elementReference>
            </value>
        </inputAssignments>
        <object>Assignment_Group_Member__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_NumberOfEmployeesIsNullOrNegative</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sub_SendSlackMessage</name>
        <label>Send Slack Message</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <flowName>Autolaunched_Send_Slack_Message</flowName>
        <inputAssignments>
            <name>var_SlackConversationID</name>
            <value>
                <stringValue>C04UVF7SD5H</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SlackMessage</name>
            <value>
                <elementReference>txt_SlackMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>txt_SlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:error-triangle: *Assignment Group Member Failure*

&gt; *What*
&gt; No active Assignment Group Members for {!var_AssignmentGroupName} were found.
&gt;
&gt; :salesforce-2: &lt;{!$Setup.Instance_Configuration__c.Instance_URL__c}/{!var_RecordId} |View in Salesforce&gt;
&gt; 
&gt; *Impact*
&gt; The record was not assigned.
&gt; 
&gt; *Investigation Required*
&gt; 1. Assign the record to the relevant user.
&gt; 2. Add or update Assignment Group Members for {!var_AssignmentGroupName} to prevent this from happening again.</text>
    </textTemplates>
    <variables>
        <name>var_AssignmentGroupMemberCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_AssignmentGroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_AssignmentGroupMemberUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_AssignmentGroupMemberUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AssignmentGroupMemberUserRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AssignmentGroupMemberUserSlackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AssignmentGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Group_Members_Sorted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assignment_Groups__c</objectType>
    </variables>
    <variables>
        <name>var_NumberOfEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NumberOfEmployeesText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
