unpackaged/main/default/flows/Billing_Subscriptions_Opportunity_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Conversion_Date</name>
        <label>Assign Conversion Date</label>
        <locationX>917</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Environment_Firm_ID.Conversion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Opportunity_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Purchase_and_Conversion_Date</name>
        <label>Assign First Purchase and Conversion Date</label>
        <locationX>913</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Environment_Firm_ID.Conversion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product_Environment_Firm_ID.First_Purchase_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Opportunity_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Purchase_Date</name>
        <label>Assign First Purchase Date</label>
        <locationX>915</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Environment_Firm_ID.First_Purchase_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Opportunity_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Matching_Firm</name>
        <label>Assign No Matching Firm</label>
        <locationX>1007</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>varSlackMessageDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Matching Firm ID Found in Salesforce</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Values</name>
        <label>Assign Opportunity Values</label>
        <locationX>1358</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>rv_Oportunity_Update.Total_Number_of_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Environment_Firm_ID.Total_Users__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Oportunity_Update.Number_of_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Environment_Firm_ID.Total_Users__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Oportunity_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Oportunity_Update.Billing_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Oportunity_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Active_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Oportunity_Update.Product_Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Environment_Firm_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Value</name>
        <label>Assign Stage Value</label>
        <locationX>231</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Environment_Firm_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Opportunity_Check</name>
        <label>Active Opportunity Check</label>
        <locationX>1102</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>Update_Prod_Env</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Active_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_SKU_Check</targetReference>
            </connector>
            <label>Has Active Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Subscription_Account_Link</name>
        <label>Billing Subscription Account Link</label>
        <locationX>1351</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>Update_Prod_Env</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Link_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Subscription_Account</targetReference>
            </connector>
            <label>Link Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dates_to_Populate</name>
        <label>Dates to Populate</label>
        <locationX>718</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Purchase_and_Conversion_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Time_Charge__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Opportunity.Billing_Subscription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Purchase_and_Conversion_Date</targetReference>
            </connector>
            <label>First Purchase and Conversion Date</label>
        </rules>
        <rules>
            <name>First_Purchase_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Time_Charge__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Opportunity.Billing_Subscription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Purchase_Date</targetReference>
            </connector>
            <label>First Purchase Date</label>
        </rules>
        <rules>
            <name>Conversion_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Time_Charge__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Opportunity.Billing_Subscription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Conversion_Date</targetReference>
            </connector>
            <label>Conversion Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Updated_Subscription</name>
        <label>New or Updated Subscription</label>
        <locationX>223</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Value</targetReference>
            </connector>
            <label>New Subscription</label>
        </rules>
        <rules>
            <name>Updated_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Time_Charge__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.First_Time_Charge__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Value</targetReference>
            </connector>
            <label>Updated Closed Won</label>
        </rules>
        <rules>
            <name>Sales_Lead_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Lead_Conversion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sales_Lead_Conversion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Value</targetReference>
            </connector>
            <label>Sales Lead Conversion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_SKU_Check</name>
        <label>Opportunity SKU Check</label>
        <locationX>1232</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Opportunity_SKUs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Lead_Conversion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SKUs_to_Opportunity</targetReference>
            </connector>
            <label>Add Opportunity SKUs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Environment_Check</name>
        <label>Product Environment Check</label>
        <locationX>719</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Matching_Firm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populate_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Environment_Firm_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Opportunity</targetReference>
            </connector>
            <label>Populate Dates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_Analysis</name>
        <label>Start Date Analysis</label>
        <locationX>224</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_or_Equal_to_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription_Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Account__r.Firm_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_or_Updated_Subscription</targetReference>
            </connector>
            <label>Greater or Equal to Today</label>
        </rules>
    </decisions>
    <description>Updates MC opportunity to Approvals and Closed Won</description>
    <environments>Default</environments>
    <formulas>
        <description>Stage name formula to determine if Approvals or Closed Won</description>
        <name>f_StageName</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.First_Time_Charge__c} = TRUE, &quot;Closed Won&quot;, &quot;Approvals&quot;)</expression>
    </formulas>
    <interviewLabel>Billing Subscriptions: Opportunity Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Subscriptions: Opportunity Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Active Opportunity matching billing account&#39;s SFDC account</description>
        <name>Active_Opportunity</name>
        <label>Active Opportunity</label>
        <locationX>727</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dates_to_Populate</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account__r.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MyCase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Returning Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Environment_Firm_ID</name>
        <label>Get Product Environment Firm ID</label>
        <locationX>455</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Environment_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Firm_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account__r.Firm_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Subscription_Account</name>
        <label>Update Billing Subscription Account</label>
        <locationX>1465</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>Update_Prod_Env</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Active_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1360</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>Billing_Subscription_Account_Link</targetReference>
        </connector>
        <inputReference>rv_Oportunity_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prod_Env</name>
        <label>Update Prod Env</label>
        <locationX>1109</locationX>
        <locationY>83</locationY>
        <inputReference>Get_Product_Environment_Firm_ID</inputReference>
    </recordUpdates>
    <start>
        <locationX>106</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Start_Date_Analysis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_System__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zuora-MC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Historical_Cancellation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Billing_Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Add_SKUs_to_Opportunity</name>
        <label>Add SKUs to Opportunity</label>
        <locationX>1492</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </connector>
        <flowName>Function_Opportunity_SKU_Update_from_Subscription_Charges</flowName>
        <inputAssignments>
            <name>varBillingSubsription</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunity</name>
            <value>
                <elementReference>Active_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>FirmConvertedMessageBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*Firm Converted*
&gt;Firm: {!$Record.Billing_Account__r.Name}
&gt;Name: {!$Record.Billing_Account__r.Bill_To_Name__c}
&gt;Firm ID: {!$Record.Billing_Account__r.Firm_ID__c}
&gt;test</text>
    </textTemplates>
    <variables>
        <name>count_Opportunities_Found</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rv_Oportunity_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varConversionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstPurchaseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>detail for slack notification</description>
        <name>varSlackMessageDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
