unpackaged/main/default/flows/Billing_Subscription_On_Update_Opportunity_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Billing_System_Check</name>
        <label>Billing System Check</label>
        <locationX>204</locationX>
        <locationY>391</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zuora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zuora-MC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_and_Update_Opportunity</targetReference>
            </connector>
            <label>Zuora</label>
        </rules>
    </decisions>
    <description>Triggered on update of first time charge to evaluate and move Opportunities to Closed Won</description>
    <environments>Default</environments>
    <interviewLabel>Billing Subscription: On Update Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Subscription: On Update Opportunity Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>86</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Billing_System_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Time_Charge__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Billing_Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluate_and_Update_Opportunity</name>
        <label>Evaluate and Update Opportunity</label>
        <locationX>431</locationX>
        <locationY>390</locationY>
        <flowName>Autolaunched_Billing_Subscription_Opportunity_Update_Evaluation</flowName>
        <inputAssignments>
            <name>input_FirmID</name>
            <value>
                <elementReference>$Record.Firm_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_FirstTimeCharge</name>
            <value>
                <elementReference>$Record.First_Time_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_TriggeredOnCreate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBillingSubscription</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
