unpackaged/main/default/flows/Case_Status_Change_by_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_New_Case_Values</name>
        <label>Assign New Case Values</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>q_MyCaseAccounting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.IsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Resolution_mc__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Case_Sub_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Escalation_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Escalation_Assignee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Escalation_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.New__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Investigating__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.DelegatedAt__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Waiting_on_CSM__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Confirmed_Bug__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Resolved__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Filed__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Assigned__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Started__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Fixed__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Bug_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Bug_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Escalation_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Escalation_Description__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TextBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>q_MyCaseAccounting</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G8W0000045beRUAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>rt_MyCase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001DllLQAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>rt_MyCase_Accounting</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001DllMQAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>rt_MyCase_Support</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001DllNQAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>rt_MyCase_Websites</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001DllOQAS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Record_Type_Inbound</name>
        <label>Case Record Type</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_MyCase_Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rt_MyCase</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status</targetReference>
            </connector>
            <label>Case: MyCase</label>
        </rules>
        <rules>
            <name>Case_MyCase_Support_Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rt_MyCase_Support</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status</targetReference>
            </connector>
            <label>Case: MyCase Support</label>
        </rules>
        <rules>
            <name>Case_Website_Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rt_MyCase_Websites</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status</targetReference>
            </connector>
            <label>Case: Website</label>
        </rules>
        <rules>
            <name>Case_Accounting_Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rt_MyCase_Accounting</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Accounting</targetReference>
            </connector>
            <label>Case: Accounting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Type_Outbound</name>
        <label>Case Record Type</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_MyCase_Outbound</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rt_MyCase</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Change_Waiting_on_Client</targetReference>
            </connector>
            <label>Case: MyCase</label>
        </rules>
        <rules>
            <name>Case_MyCase_Support_Outbound</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rt_MyCase_Support</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Change_Waiting_on_Client</targetReference>
            </connector>
            <label>Case: MyCase Support</label>
        </rules>
        <rules>
            <name>Case_Website_Outbound</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rt_MyCase_Websites</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Change_Waiting_on_Client</targetReference>
            </connector>
            <label>Case: Website</label>
        </rules>
        <rules>
            <name>Case_Accounting_Outbound</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rt_MyCase_Accounting</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Change_Waiting_on_Client</targetReference>
            </connector>
            <label>Case: Accounting</label>
        </rules>
        <rules>
            <name>Case_Partner</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Change_Waiting_on_Client</targetReference>
            </connector>
            <label>Case: Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>1634</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Case_Status_Change_Re_Opened</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Change_New_Customer_Email</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Status_Accounting</name>
        <label>Case Status</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Accounting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Case_Status_Change_New_Customer_Email</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Direction</name>
        <label>Email Direction</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPrivateDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Auto_Response</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
        <rules>
            <name>Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Record_Type_Inbound</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the outbound email is an auto response</description>
        <name>Is_Auto_Response</name>
        <label>Is Auto Response?</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Case_Record_Type_Outbound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Auto Response</defaultConnectorLabel>
        <rules>
            <name>Auto_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Headers</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AutoResponse</stringValue>
                </rightValue>
            </conditions>
            <label>Auto Response</label>
        </rules>
    </decisions>
    <description>1/25/24 JC - Added decision under Outbound emails to not include Auto Response Emails in following logic</description>
    <environments>Default</environments>
    <interviewLabel>Case: Status Change by Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Status Change by Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <inputReference>Get_Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_Status_Change_New_Customer_Email</name>
        <label>Case Status Change: New Customer Email</label>
        <locationX>1502</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Customer Email</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Status_Change_Re_Opened</name>
        <label>Case Status Change: Re-Opened</label>
        <locationX>1766</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Re-Opened</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Status_Change_Waiting_on_Client</name>
        <label>Case Status Change: Waiting on Client</label>
        <locationX>402</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress: Waiting on Client</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Direction</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
