unpackaged/main/default/flows/Contact_Create_New_Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Active_Opp</name>
        <label>Navigate to Active Opp</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Validation_Opportunity_Creation.varActiveOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity</name>
        <label>Navigate to Opportunity</label>
        <locationX>600</locationX>
        <locationY>2114</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Account</name>
        <label>Assign Contact Account</label>
        <locationX>864</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validation_Opportunity_Creation.output_OpportunityType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Account_Id</name>
        <label>Assign New Account Id</label>
        <locationX>600</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Account_for_Opportunity.varCreatedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SellNewBusiness</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_with_New_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Values</name>
        <label>Assign Opportunity Values</label>
        <locationX>600</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Accepts_Online_Payments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Accepts_Online_Payments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Facebook_Click_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.FBCLID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Forecasted_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forecasted_Users</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Current_LPM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Current_LPM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Current_Payments_Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Current_Payments_Solution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Next_Steps__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Next_Step_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Next_Step_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_OppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OpportunityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Number_of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Qualifying_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QualifyingRep.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.BDR_Demo_Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Demo_Scheduled_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Merchant_App_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Merchant_App_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Current_LPM_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Current_LPM_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Current_Payments_Solution_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Current_Payments_Solution_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Is_Originating_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Last_MQL_Date_Before_Opportunity_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Last_MQL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Last_MQL_Type_Before_Opportunity_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Last_MQL_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Last_MQL_Brand_Before_Opp_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Last_MQL_Brand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Cntcts_Last_Act_Date_Before_Opty_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.LastActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Upsell</name>
        <label>Assign Upsell</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_OpportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SellUpsell</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ExistingBusinessChoice</name>
        <choiceText>Upsell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewBusinessChoice</name>
        <choiceText>New Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellNewBusiness</name>
        <choiceText>Sell {!varRecordTypeName} (New Business)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellUpsell</name>
        <choiceText>Sell Add-On {!varRecordTypeName} Products (Upsell)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellUpsellCASEpeer</name>
        <choiceText>Sell additional {!varRecordTypeName} seats or products (Upsell)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Link_Application_Check</name>
        <label>Link Application Check</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Link_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Link_Merchant_Application_Now</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Merchant_Application</targetReference>
            </connector>
            <label>Link Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Create_Validation</name>
        <label>Opportunity Create Validation</label>
        <locationX>325</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>New_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Active_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validation_Opportunity_Creation.output_HasActiveOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Open_Opportunity</targetReference>
            </connector>
            <label>Has Active Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type_Validation</name>
        <label>Opportunity Type Validation</label>
        <locationX>600</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Customer</name>
            <conditionLogic>1 AND (2 OR 4 OR 5) AND (3 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Validation_Opportunity_Creation.output_HasActiveContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType_ContractMapping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SellUpsell</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType_ContractMapping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASEpeer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType_ContractMapping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docketwise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Opportunity_Type_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SellUpsell</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upsell</targetReference>
            </connector>
            <label>Upsell Opp</label>
        </rules>
        <rules>
            <name>New_Business_New_Account</name>
            <conditionLogic>(1 OR 6)  AND 2 AND (3 OR  4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Select_Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SellNewBusiness</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validation_Opportunity_Creation.output_HasActiveContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType_ContractMapping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType_ContractMapping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASEpeer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType_ContractMapping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docketwise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Opportunity_Type_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SellNewBusiness</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account_for_Opportunity</targetReference>
            </connector>
            <label>New Business New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Software_or_Payments</name>
        <label>Software or Payments</label>
        <locationX>600</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payments</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay Payments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AffiniPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPACharge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Application_Check</targetReference>
            </connector>
            <label>Payments</label>
        </rules>
    </decisions>
    <description>Creates new opportunity from contact</description>
    <dynamicChoiceSets>
        <name>OpportunityRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedRelatedAccounts</name>
        <collectionReference>Validation_Opportunity_Creation.colRelatedAccounts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DefaultCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 14</expression>
    </formulas>
    <formulas>
        <name>DefaultOpportunityType</name>
        <dataType>String</dataType>
        <expression>IF( 
AND( {!Validation_Opportunity_Creation.output_HasActiveContract},
{!varRecordTypeName} = &quot;MyCase&quot;), 
&quot;Upsell&quot;, 
&quot;New Business&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_OppName</name>
        <dataType>String</dataType>
        <expression>{!Contact.Account.Name} &amp; &quot; - &quot; &amp; {!varRecordTypeName}</expression>
    </formulas>
    <formulas>
        <name>RecordType_ContractMapping</name>
        <dataType>String</dataType>
        <expression>CASE( {!varRecordTypeName}, 
&quot;LawPay Payments&quot;, &quot;LawPay&quot;,
{!varRecordTypeName} )</expression>
    </formulas>
    <interviewLabel>Contact: Create New Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Create New Opportunity Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>600</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Contact_Status</targetReference>
        </connector>
        <inputReference>varOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>325</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Brand</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Employees</name>
        <label>Update Account Employees</label>
        <locationX>600</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Software_or_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>Employees</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Status</name>
        <label>Update Contact Status</label>
        <locationX>600</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_Account_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_New_Account</name>
        <label>Update Contact with New Account</label>
        <locationX>600</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_New_Account_for_Opportunity.varCreatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_Open_Opportunity</name>
        <label>Active Open Opportunity</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Active_Opp</targetReference>
        </connector>
        <fields>
            <name>Active_Open_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Active_Open_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>active_opportunity_display</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This Account currently has an open &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!varRecordTypeName}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Opportunity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See details below and either work that deal or move it to &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Closed Lost&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; before creating a new one.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Active_Open_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Active_Open_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityDisplayDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Owner&lt;/strong&gt;: {!Validation_Opportunity_Creation.varActiveOpportunitySameAccount.Owner_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage&lt;/strong&gt;: {!Validation_Opportunity_Creation.varActiveOpportunitySameAccount.StageName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Close Date&lt;/strong&gt;: {!Validation_Opportunity_Creation.varActiveOpportunitySameAccount.CloseDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Active_Open_Opportunity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Related_Accounts</name>
                    <choiceReferences>SelectedRelatedAccounts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Related Accounts</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Validation_Opportunity_Creation.output_HasRelatedAccounts</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>600</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Type_Validation</targetReference>
        </connector>
        <fields>
            <name>OppDetailsDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Set or update applicable details for your {!varRecordTypeName} Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oppTypeDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;ALERT&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: This Account is currently a &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!varRecordTypeName}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Customer. Choose an option below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Select_Opportunity_Type</name>
                    <choiceReferences>SellUpsell</choiceReferences>
                    <choiceReferences>SellNewBusiness</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Opportunity Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>newAccountDisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Customer wants another &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varRecordTypeName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; account. This will create a new Account in Salesforce and relate the existing contact to it.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Opportunity_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>SellNewBusiness</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Validation_Opportunity_Creation.output_HasActiveContract</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RecordType_ContractMapping</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MyCase</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RecordType_ContractMapping</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Docketwise</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>opptypeDisplay2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;ALERT&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: This Account is currently a &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varRecordTypeName}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Customer. Choose an option below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Select_Opportunity_Type_2</name>
                    <choiceReferences>SellUpsellCASEpeer</choiceReferences>
                    <choiceReferences>SellNewBusiness</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Opportunity Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>newAccountDisplay2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Customer wants another &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varRecordTypeName}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; account. This will create a new Account in Salesforce and relate the existing contact to it.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Opportunity_Type_2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>SellNewBusiness</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Validation_Opportunity_Creation.output_HasActiveContract</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RecordType_ContractMapping</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CASEpeer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Opportunity_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Opportunity_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DefaultCloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Opportunity_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employees</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Contact.Number_of_Employees__c</elementReference>
                    </defaultValue>
                    <fieldText>Employees</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Defaults to Employees field from the Contact&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Forecasted_Users</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Contact.Forecasted__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecasted Users</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Defaults to Forecasted field from the Contact&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varRecordTypeName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MyCase</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varRecordTypeName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CASEpeer</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varRecordTypeName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>LawPay Software</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varRecordTypeName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Docketwise</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Opportunity_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Opportunity_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Link_Merchant_Application_Now</name>
                    <choiceReferences>YesChoice</choiceReferences>
                    <choiceReferences>NoChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Link Merchant Application Now</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>merchantAppChoiceDisplay</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;If/when the Application is provisioned your Opportunity will automatically be moved to Closed Won!&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AffiniPay</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varRecordTypeName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LawPay Payments</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varRecordTypeName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ClientPay</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varRecordTypeName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CPACharge</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OwnerLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>QualifyingRep</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Qualifying Rep</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Demo_Scheduled_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Contact.Demo_Scheduled_Date__c</elementReference>
            </defaultValue>
            <fieldText>Demo Scheduled Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If populated will copy over to the Opportunity&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Brand</name>
        <label>Select Brand</label>
        <locationX>325</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation_Opportunity_Creation</targetReference>
        </connector>
        <fields>
            <name>Select_Brand_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Brand_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand</name>
                    <choiceReferences>OpportunityRecordType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Opportunity Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_New_Account_for_Opportunity</name>
        <label>Create New Account for Opportunity</label>
        <locationX>600</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_New_Account_Id</targetReference>
        </connector>
        <flowName>Autolaunched_Create_New_Account</flowName>
        <inputAssignments>
            <name>input_AccountName</name>
            <value>
                <elementReference>Contact.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_AccountRecordTypeName</name>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Employees</name>
            <value>
                <elementReference>Employees</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Lookup_Merchant_Application</name>
        <label>Lookup Merchant Application</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </connector>
        <flowName>Opportunity_Payments_Merchant_App_ID_Finder</flowName>
        <inputAssignments>
            <name>from_opportunity_page</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_RecordTypeName</name>
            <value>
                <elementReference>varRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityRecord</name>
            <value>
                <elementReference>varOpportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Validation_Opportunity_Creation</name>
        <label>Validation Opportunity Creation</label>
        <locationX>325</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Opportunity_Create_Validation</targetReference>
        </connector>
        <flowName>Autolaunched_Opportunity_Create_Validation</flowName>
        <inputAssignments>
            <name>input_OpportunityRecordTypeId</name>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBrandName</name>
            <value>
                <elementReference>RecordType_ContractMapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOppRecordTypeName</name>
            <value>
                <elementReference>varRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OpportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
