unpackaged/main/default/flows/Contact_After_Save_Assign_to_Named_Assignment_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>asg_ClearAssignToGroupFieldAndAddID</name>
        <label>Clear Assign to Group Field and Add ID</label>
        <locationX>248</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>var_LeadToUpdate.Assign_to_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LeadToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>up_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_OwnerId</name>
        <label>Assign Owner</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>var_LeadToUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_GetAssignmentGroupMember.var_AssignmentGroupMemberUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asg_ClearAssignToGroupFieldAndAddID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Note: No alert is fired for the True path since alerting is handled in the subflow.</description>
        <name>dec_AssignmentGroupMemberUserIDIsNull</name>
        <label>Assignment Group Member User ID Is Null</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>asg_OwnerId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_AssignmentGroupMemberUserIDIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sub_GetAssignmentGroupMember.var_AssignmentGroupMemberUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sub_GetAssignmentGroupMember.var_AssignmentGroupMemberUserID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_AssignToGroup</name>
        <label>Assign to Group?</label>
        <locationX>435</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_AssignToGroup</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assign_to_Group__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assign_to_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_Reassign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Reassign</name>
        <label>Reassign?</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>asg_ClearAssignToGroupFieldAndAddID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outReassignYes</name>
            <conditionLogic>1 OR 2 OR 3 OR (4 AND (5 OR 6) AND (7 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Profile_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastActivityDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fx_Date30DaysAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Assigned_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Assigned_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fx_DateTime3DaysAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_GetAssignmentGroupMember</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_BlankSpace</name>
        <dataType>String</dataType>
        <expression>&quot; &quot;</expression>
    </formulas>
    <formulas>
        <name>fx_Comments</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!$Record.Form_Comments__c}) = TRUE,
    &quot;&quot;,
    {!txt_CommentsFormattedForSlack}
)</expression>
    </formulas>
    <formulas>
        <name>fx_Country</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!$Record.Country}),
    &quot;N/A&quot;,
    {!$Record.Country}
)</expression>
    </formulas>
    <formulas>
        <name>fx_Date30DaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <formulas>
        <name>fx_DateTime3DaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-3</expression>
    </formulas>
    <formulas>
        <name>fx_Email</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!$Record.Email}),
    &quot;N/A&quot;,
    {!$Record.Email}
)</expression>
    </formulas>
    <formulas>
        <name>fx_Employees</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!$Record.NumberOfEmployees}),
    &quot;N/A&quot;,
    TEXT({!$Record.NumberOfEmployees})
)</expression>
    </formulas>
    <formulas>
        <name>fx_IsMQL</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    (
        ISCHANGED({!$Record.Last_MQL_Date__c}) ||
        (
            ISBLANK({!$Record__Prior.Id}) &amp;&amp;
            NOT(ISBLANK({!$Record.Last_MQL_Date__c}))
        )
    ),
    TRUE,
     FALSE
)</expression>
    </formulas>
    <formulas>
        <name>fx_Name</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!$Record.FirstName}),
 {!$Record.FirstName},
  {!$Record.FirstName}&amp;&quot; &quot;&amp;{!$Record.LastName}
)</expression>
    </formulas>
    <formulas>
        <name>fx_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Contact - After Save - Assign to Named Assignment Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - After Save - Assign to Named Assignment Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>up_Lead</name>
        <label>Update Lead</label>
        <locationX>248</locationX>
        <locationY>1247</locationY>
        <inputReference>var_LeadToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>309</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_AssignToGroup</targetReference>
        </connector>
        <filterFormula>{!$Record.Bypass_VR_and_Automation__c} = FALSE</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>sub_GetAssignmentGroupMember</name>
        <label>Get Assignment Group Member</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>dec_AssignmentGroupMemberUserIDIsNull</targetReference>
        </connector>
        <flowName>Autolaunched_Get_Assignment_Group_Member</flowName>
        <inputAssignments>
            <name>var_AssignmentGroupName</name>
            <value>
                <elementReference>$Record.Assign_to_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NumberOfEmployees</name>
            <value>
                <elementReference>$Record.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txt_CommentsFormattedForSlack</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!fx_BlankSpace}
&gt; {!fx_BlankSpace}
&gt; :speech_balloon: *Comments:* {!$Record.Form_Comments__c}
&gt; {!fx_BlankSpace}</text>
    </textTemplates>
    <variables>
        <name>var_LeadToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
