unpackaged/main/default/flows/Contact_Evaluate_for_Timezone_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Result_Set</name>
        <label>Check Result Set</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No Record Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Correlating_Timezone_Value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Correlating_Timezone_Value.Timezone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Timezone_on_the_Initiating_Record</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Result_Set_Extension</name>
        <label>Check Result Set Extension</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decHasAreaCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timezone_Value.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Timezone_Value.Timezone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Timezone_on_Initiating_Record_Extension</targetReference>
            </connector>
            <label>Has Area Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Length_Check_on_Phone_Number</name>
        <label>Length Check on Phone Number</label>
        <locationX>644</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Length is not 10</defaultConnectorLabel>
        <rules>
            <name>X10_Characters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlaPhoneLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Correlating_Timezone_Value</targetReference>
            </connector>
            <label>10 Characters</label>
        </rules>
        <rules>
            <name>Length_is_Greater_than_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlaPhoneLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Timezone_Value</targetReference>
            </connector>
            <label>Length is Greater than 10</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlaAreaCode</name>
        <dataType>String</dataType>
        <expression>IF( 
LEN({!fmlaPhoneCleaned}) = 10, 
LEFT({!fmlaPhoneCleaned}, 3),
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Gives the area code if there is an extension in the phone number</description>
        <name>fmlaAreaCodewithExtension</name>
        <dataType>String</dataType>
        <expression>LEFT({!fmlaPhoneCleaned}, 3)</expression>
    </formulas>
    <formulas>
        <description>Strips phone to digits only</description>
        <name>fmlaPhoneCleaned</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( {!$Record.Phone}, &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;),&quot;.&quot;,&quot;&quot;),&quot;+1&quot;,&quot;&quot;),&quot;*&quot;,&quot;&quot;),&quot;x&quot;,&quot;&quot;),&quot;ext.&quot;,&quot;&quot;),&quot;ext&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>fmlaPhoneLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!fmlaPhoneCleaned})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Contact: Evaluate for Timezone Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Evaluate for Timezone Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Correlating_Timezone_Value</name>
        <label>Get Correlating Timezone Value</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Result_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlaAreaCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Area_Code_TZ_Xref__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timezone_Value</name>
        <label>Get_Timezone_Value</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Result_Set_Extension</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlaAreaCodewithExtension</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Area_Code_TZ_Xref__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_the_Timezone_on_the_Initiating_Record</name>
        <label>Set the Timezone on the Initiating Record</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Timezone__c</field>
            <value>
                <elementReference>Get_Correlating_Timezone_Value.Timezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Timezone_on_Initiating_Record_Extension</name>
        <label>Set Timezone on Initiating Record Extension</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Timezone__c</field>
            <value>
                <elementReference>Get_Timezone_Value.Timezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Length_Check_on_Phone_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Timezone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
