unpackaged/main/default/flows/Contact_Evaluate_Brand_Customer_Status_on_Record_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Evaluate_Brand_Status_Alignment_with_the_Parent_Account</name>
        <label>Evaluate Brand Status Alignment with the Parent Account</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Differences Detected</defaultConnectorLabel>
        <rules>
            <name>Differences_Detected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AffiniPay_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.AffiniPay_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CASEpeer_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.CASEpeer_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClientPay_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.ClientPay_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPACharge_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.CPACharge_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Docketwise_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Docketwise_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LawPay_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fmlaLawyPayPaymentsCustomerStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MyCase_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.MyCase_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Soluno_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Soluno_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Websites_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Websites_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Woodpecker_Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Woodpecker_Customer_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Brand_Customer_Status_Fields</targetReference>
            </connector>
            <label>Differences Detected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlaLawPayCustomerStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT( ISBLANK( {!fmlaLawyPayPaymentsCustomerStatus} )),
    {!fmlaLawyPayPaymentsCustomerStatus}, 
    IF( 
         NOT( ISBLANK( {!fmlaLayPaySoftwareCustomerStatus} )), 
         {!fmlaLayPaySoftwareCustomerStatus}, 
         &quot;&quot;
         )
     )</expression>
    </formulas>
    <formulas>
        <name>fmlaLawyPayPaymentsCustomerStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT( {!$Record.Account.LawPay_Product_Tier__c} ) = &quot;LawPay Classic&quot;, 
    TEXT({!$Record.Account.LawPay_Customer_Status__c}),
    &quot;&quot;
    )</expression>
    </formulas>
    <formulas>
        <name>fmlaLayPaySoftwareCustomerStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT( {!$Record.Account.LawPay_Product_Tier__c} ) = &quot;LawPay Pro&quot;, 
    TEXT({!$Record.Account.LawPay_Customer_Status__c}),
    &quot;&quot;
    )</expression>
    </formulas>
    <interviewLabel>Contact - Evaluate Brand Customer Status on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Evaluate Brand Customer Status on Record Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Brand_Customer_Status_Fields</name>
        <label>Update Contact Brand Customer Status Fields</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>AffiniPay_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.AffiniPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASEpeer_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.CASEpeer_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPACharge_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.CPACharge_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientPay_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.ClientPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docketwise_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.Docketwise_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.LawPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.MyCase_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soluno_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.Soluno_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Websites_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.Websites_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Woodpecker_Customer_Status__c</field>
            <value>
                <elementReference>$Record.Account.Woodpecker_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Brand_Status_Alignment_with_the_Parent_Account</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
