unpackaged/main/default/flows/Contract_Subflow_Set_Brand_Product_Tier_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Alert_to_Slack_Channel</name>
        <label>Send Error Alert to Slack Channel</label>
        <locationX>3922</locationX>
        <locationY>566</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varSubscriptionContractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C04SV5EGX4N</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>txtAlertMoreThanOneActiveContractSKU</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03FBNR53</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_LawPay_Error_Alert_to_Slack_Channel</name>
        <label>Send LawPay Error Alert to Slack Channel</label>
        <locationX>3658</locationX>
        <locationY>1124</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03FBNR53</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C04SV5EGX4N</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>txtAlertLawPayPro</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varSubscriptionContractId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Discover_Count_of_Records_Returned</name>
        <label>Discover Count of Records Returned</label>
        <locationX>2998</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Active_Contract_SKU_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Active_Main_Tier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Tier_Value</name>
        <label>Set Product Tier Value</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varProductTierValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_SKUs.SKU_Product__r.Product_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_SKUs.Subscription_Contract__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractBrandName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_SKUs.SKU_Product__r.Product_Sub_Family__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_SKUs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Tier_Value_for_LP</name>
        <label>Set Product Tier Value for LP</label>
        <locationX>3746</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varProductTierValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluate_LawPay_Tiers.SKU_Product__r.Product_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluate_LawPay_Tiers.Subscription_Contract__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractBrandName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluate_LawPay_Tiers.SKU_Product__r.Product_Sub_Family__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Subscription_Contract_Product_Tier</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Active_LawPay_Pro_Subscription_Contracts</name>
        <label>Any Active LawPay Pro Subscription Contracts</label>
        <locationX>1502</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Update_LawPay_Product_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_LPP_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_LawPay_Pro_Subscription_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Active LPP Contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Active_Main_Tier</name>
        <label>Evaluate Active Main Tier</label>
        <locationX>2998</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_Active_Main_Tier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contract_SKUs</targetReference>
            </connector>
            <label>Single Active Main Tier</label>
        </rules>
        <rules>
            <name>LawPay_Multi_SKU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ContractRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_LawPay_Tiers</targetReference>
            </connector>
            <label>LawPay Multi-SKU</label>
        </rules>
        <rules>
            <name>More_than_One_Active_Main_Tier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ContractRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Alert_to_Slack_Channel</targetReference>
            </connector>
            <label>More than One Active Main Tier</label>
        </rules>
        <rules>
            <name>No_Active_Main_Tier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>No Active Main Tier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_for_Brand_Tier_to_Update</name>
        <label>Evaluate for Brand Tier to Update</label>
        <locationX>1546</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AffiniPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AffiniPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Affinipay_Product_Tier</targetReference>
            </connector>
            <label>AffiniPay</label>
        </rules>
        <rules>
            <name>CASEpeer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASEpeer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CASEpeer_Product_Tier</targetReference>
            </connector>
            <label>CASEpeer</label>
        </rules>
        <rules>
            <name>ClientPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ClientPay_Product_Tier</targetReference>
            </connector>
            <label>ClientPay</label>
        </rules>
        <rules>
            <name>CPACharge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPACharge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CPACharge_Product_Tier</targetReference>
            </connector>
            <label>CPACharge</label>
        </rules>
        <rules>
            <name>Docketwise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docketwise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Docketwise_Product_Tier</targetReference>
            </connector>
            <label>Docketwise</label>
        </rules>
        <rules>
            <name>LawPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_new_Tier_Laypay_Classic</targetReference>
            </connector>
            <label>LawPay</label>
        </rules>
        <rules>
            <name>MyCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MyCase_Product_Tier</targetReference>
            </connector>
            <label>MyCase</label>
        </rules>
        <rules>
            <name>Soluno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soluno</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Soluno_Product_Tier</targetReference>
            </connector>
            <label>Soluno</label>
        </rules>
        <rules>
            <name>Websites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Websites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Websites_Product_Tier</targetReference>
            </connector>
            <label>Websites</label>
        </rules>
        <rules>
            <name>Woodpecker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractBrandName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Woodpecker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Woodpecker_Product_Tier</targetReference>
            </connector>
            <label>Woodpecker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_SKU_Tier</name>
        <label>Evaluate LPPro SKU Tier</label>
        <locationX>3878</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Evaluate_LawPay_Tiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LPPro_Tier_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_LawPay_Tiers.SKU_Product__r.Product_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Tier_Value_for_LP</targetReference>
            </connector>
            <label>LPPro Tier Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_new_Tier_Laypay_Classic</name>
        <label>Is the new Tier Laypay Classic</label>
        <locationX>1656</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Update_LawPay_Product_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_LawPay_Classic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductTierValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay Classic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_LawPay_Pro_Subscription_Contracts</targetReference>
            </connector>
            <label>Is LawPay Classic</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlaLinkToContract</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_260}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_260} )) &amp; {!varSubscriptionContractId}</expression>
    </formulas>
    <interviewLabel>Contract - Subflow - Set Brand Product Tier on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Subflow - Set Brand Product Tier on Account</label>
    <loops>
        <name>Evaluate_LawPay_Tiers</name>
        <label>Evaluate LawPay Tiers</label>
        <locationX>3658</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Active_Contract_SKU_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_SKU_Tier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_LawPay_Error_Alert_to_Slack_Channel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contract_SKUs</name>
        <label>Loop Contract SKUs</label>
        <locationX>1546</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Active_Contract_SKU_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Product_Tier_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Subscription_Contract_Product_Tier</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Contract_SKU_Records</name>
        <label>Get Active Contract SKU Records</label>
        <locationX>2998</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Discover_Count_of_Records_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscriptionContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active Tier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_LawPay_Pro_Subscription_Contracts</name>
        <label>Get Active LawPay Pro Subscription Contracts</label>
        <locationX>1502</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Active_LawPay_Pro_Subscription_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LawPay Pro</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Contract_Record_Type</name>
        <label>Get Subscription Contract Record Type</label>
        <locationX>2998</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Contract_SKU_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscriptionContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>var_ContractRecordTypeName</assignToReference>
            <field>Record_Type_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Affinipay_Product_Tier</name>
        <label>Update Affinipay Product Tier</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AffiniPay_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CASEpeer_Product_Tier</name>
        <label>Update CASEpeer Product Tier</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CASEpeer_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ClientPay_Product_Tier</name>
        <label>Update ClientPay Product Tier</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientPay_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CPACharge_Product_Tier</name>
        <label>Update CPACharge Product Tier</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPACharge_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Docketwise_Product_Tier</name>
        <label>Update Docketwise Product Tier</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docketwise_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LawPay_Product_Tier</name>
        <label>Update LawPay Product Tier</label>
        <locationX>1656</locationX>
        <locationY>1682</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LawPay_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MyCase_Product_Tier</name>
        <label>Update MyCase Product Tier</label>
        <locationX>1986</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MyCase_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Soluno_Product_Tier</name>
        <label>Update Soluno Product Tier</label>
        <locationX>2250</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Soluno_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscription_Contract_Product_Tier</name>
        <label>Update Subscription Contract Product Tier</label>
        <locationX>1546</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Evaluate_for_Brand_Tier_to_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscriptionContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Websites_Product_Tier</name>
        <label>Update Websites Product Tier</label>
        <locationX>2514</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Websites_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Woodpecker_Product_Tier</name>
        <label>Update Woodpecker Product Tier</label>
        <locationX>2778</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Woodpecker_Product_Tier__c</field>
            <value>
                <elementReference>varProductTierValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>2872</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Subscription_Contract_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>txtAlertLawPayPro</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This Subscription Contract has discrepancies related to the LawPay Tier status. Please examine the contract and correct the issue.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!fmlaLinkToContract}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtAlertMoreThanOneActiveContractSKU</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This Subscription Contract has more than one Contract SKU with Tier Status of &#39;Active Tier&#39;. Please examine the contract and correct the issue.
{!fmlaLinkToContract}</text>
    </textTemplates>
    <variables>
        <name>var_ContractRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_LPPro_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractBrandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductTierValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSubscriptionContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
