unpackaged/main/default/flows/Contract_Sku_Transaction_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Variables</name>
        <label>Set Variables</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>varQuantityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaQuantityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_the_Values</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fmlaEffectiveDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!$Record.Effective_Date__c}), 
    {!$Flow.CurrentDate}, 
    {!$Record.Effective_Date__c}
    )</expression>
    </formulas>
    <formulas>
        <name>fmlaQuantityType</name>
        <dataType>String</dataType>
        <expression>IF(
    ( TEXT( {!$Record.Contract_SKU__r.SKU_Product__r.Allocation_Type__c} ) = &quot;Named User&quot; || 
           TEXT({!$Record.Contract_SKU__r.SKU_Product__r.Allocation_Type__c} ) = &quot;Seat&quot; ), 
     &quot;Users&quot;,
     &quot;Units&quot;
   )</expression>
    </formulas>
    <interviewLabel>Contract Sku Transaction - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract SKU Transaction - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_the_Values</name>
        <label>Set the Values</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>fmlaEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Type__c</field>
            <value>
                <elementReference>fmlaQuantityType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Variables</targetReference>
        </connector>
        <object>Contract_SKU_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuantityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
