unpackaged/main/default/flows/Converted_Lead_Automated_Relationships_to_New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Bypass_Flow_Eval</name>
        <label>Bypass Flow Eval</label>
        <locationX>2118</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.RingLead_Merge_Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Execute</label>
        </rules>
    </decisions>
    <decisions>
        <description>Which Sales Brand was selected? Use that value to update the appropriate Customer Status, if blank.</description>
        <name>Determine_Sales_Brand</name>
        <label>Determine Sales Brand</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>UpdateOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Affinipay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affinipay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_s_AffiniPay_Customer_Status</targetReference>
            </connector>
            <label>Affinipay</label>
        </rules>
        <rules>
            <name>CASEpeer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASEpeer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_s_CASEpeer_Customer_Status</targetReference>
            </connector>
            <label>CASEpeer</label>
        </rules>
        <rules>
            <name>ClientPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_s_ClientPay_Customer_Status</targetReference>
            </connector>
            <label>ClientPay</label>
        </rules>
        <rules>
            <name>CPACharge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPACharge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accounts_CPACharge_Customer_Status</targetReference>
            </connector>
            <label>CPACharge</label>
        </rules>
        <rules>
            <name>Docketwise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docketwise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_s_Docketwise_Customer_Status</targetReference>
            </connector>
            <label>Docketwise</label>
        </rules>
        <rules>
            <name>LawPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_s_LawPay_Customer_Status</targetReference>
            </connector>
            <label>LawPay</label>
        </rules>
        <rules>
            <name>MyCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_s_MyCase_Customer_Status</targetReference>
            </connector>
            <label>MyCase</label>
        </rules>
        <rules>
            <name>Soluno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soluno</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_s_Soluno_Customer_Status</targetReference>
            </connector>
            <label>Soluno</label>
        </rules>
        <rules>
            <name>Websites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Websites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_s_Websites_Customer_Status</targetReference>
            </connector>
            <label>Websites</label>
        </rules>
        <rules>
            <name>Woodpecker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Sales_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Woodpecker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_s_Woodpecker_Customer_Status</targetReference>
            </connector>
            <label>Woodpecker</label>
        </rules>
    </decisions>
    <description>When a Lead is converted, the flow will...
Place the newly created Contact record from the lead (ConvertedContactId) into the Opportunity.Primary_Contact__c field
Connect the New Contact to the Product User record linked to the converted contact.
Connect the new Contact to the MQL Tracker record associated to the converted lead.
Using the product interest of the converted lead, update the related Account relevant brand status to Prospect if it is blank.
Using the Lead, update the opportunity next step, next step date, and nest step last edited
Update associated Inbound Request records with the converted Contact Id.</description>
    <environments>Default</environments>
    <formulas>
        <description>Gets the appropriate Opp: Record Type from the Lead: Sales Brand &amp; Sales Product Tier: On Lead: Sales Product Tier, LawPay Classic = Opp: LawPay Payments and when Sales Product Tier = LawPay Pro, Opp = LawPay Software</description>
        <name>fmlaOppRecordTypeName</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT( {!Get_Lead.Sales_Product_Tier__c} ) = &quot;LawPay Classic&quot;, &quot;LawPay Payments&quot;, 
    IF( 
         TEXT( {!Get_Lead.Sales_Product_Tier__c} ) = &quot;LawPay Pro&quot;, &quot;LawPay Software&quot;, 
         TEXT( {!$Record.Sales_Brand__c} )
         )
   )</expression>
    </formulas>
    <interviewLabel>Converted Lead Automated Relationships to New Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Converted Lead Automated Relationships to New Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_User_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get MQL Tracking Records related to Lead</description>
        <name>Get_MQL_Tracking_Records</name>
        <label>Get MQL Tracking Records</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MQL_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1370</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_for_Onboarding_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record_Type</name>
        <label>Get Opportunity Record Type</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Sales_Brand</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlaOppRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_User_Records</name>
        <label>Get Product User Records</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MQL_Tracking_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Account&#39;s Affinipay Customer Status field, if null, to Prospect</description>
        <name>Update_Account_s_AffiniPay_Customer_Status</name>
        <label>Update Account&#39;s AffiniPay Customer Status?</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_Affinipay_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AffiniPay_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AffiniPay_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s Affinipay Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_Affinipay_Product_Tier</name>
        <label>Update Account&#39;s Affinipay Product Tier</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AffiniPay_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s CASEpeer Customer Status field, if null, to Prospect</description>
        <name>Update_Account_s_CASEpeer_Customer_Status</name>
        <label>Update Account&#39;s CASEpeer Customer Status?</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_CASEpeer_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CASEpeer_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CASEpeer_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s CASEpeer Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_CASEpeer_Product_Tier</name>
        <label>Update Account&#39;s CASEpeer Product Tier</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CASEpeer_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s ClientPay Customer Status field, if null, to Prospect</description>
        <name>Update_Account_s_ClientPay_Customer_Status</name>
        <label>Update Account&#39;s ClientPay Customer Status?</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_ClientPay_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ClientPay_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientPay_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s ClientPay Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_ClientPay_Product_Tier</name>
        <label>Update Account&#39;s ClientPay Product Tier</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientPay_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s CPACharge Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_CPACharge_Product_Tier</name>
        <label>Update Account&#39;s CPACharge Product Tier</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPACharge_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s Docketwise Customer Status field, if null, to Prospect</description>
        <name>Update_Account_s_Docketwise_Customer_Status</name>
        <label>Update Account&#39;s Docketwise Customer Status?</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_Docketwise_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Docketwise_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Docketwise_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s Docketwise Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_Docketwise_Product_Tier</name>
        <label>Update Account&#39;s Docketwise Product Tier</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docketwise_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s LawPay Customer Status field, if null, to Prospect</description>
        <name>Update_Account_s_LawPay_Customer_Status</name>
        <label>Update Account&#39;s LawPay Customer Status?</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_LawPay_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LawPay_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LawPay_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s LawPay Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_LawPay_Product_Tier</name>
        <label>Update Account&#39;s LawPay Product Tier</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LawPay_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s MyCase Customer Status field, if null, to Prospect</description>
        <name>Update_Account_s_MyCase_Customer_Status</name>
        <label>Update Account&#39;s MyCase Customer Status?</label>
        <locationX>1634</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_MyCase_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MyCase_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MyCase_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s MyCase Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_MyCase_Product_Tier</name>
        <label>Update Account&#39;s MyCase Product Tier</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MyCase_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s Soluno Customer Status field, if null, to Prospect</description>
        <name>Update_Account_s_Soluno_Customer_Status</name>
        <label>Update Account&#39;s Soluno Customer Status?</label>
        <locationX>1898</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_Soluno_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Soluno_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Soluno_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s Soluno Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_Soluno_Product_Tier</name>
        <label>Update Account&#39;s Soluno Product Tier</label>
        <locationX>1898</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Soluno_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s Website Customer Status field, if null, to Prospect</description>
        <name>Update_Account_s_Websites_Customer_Status</name>
        <label>Update Account&#39;s Websites Customer Status?</label>
        <locationX>2162</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_Websites_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Websites_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Websites_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s Websites Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_Websites_Product_Tier</name>
        <label>Update Account&#39;s Websites Product Tier</label>
        <locationX>2162</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Websites_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s Woodpecker Customer Status field, if null, to Prospect</description>
        <name>Update_Account_s_Woodpecker_Customer_Status</name>
        <label>Update Account&#39;s Woodpecker Customer Status</label>
        <locationX>2426</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_Woodpecker_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Woodpecker_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Woodpecker_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s Woodpecker Product Tier based on the converted Leads Sales Product Tier</description>
        <name>Update_Account_s_Woodpecker_Product_Tier</name>
        <label>Update Account&#39;s Woodpecker Product Tier</label>
        <locationX>2426</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Woodpecker_Product_Tier__c</field>
            <value>
                <elementReference>Get_Lead.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account&#39;s CPACharge Customer Status field, if null, to Prospect</description>
        <name>Update_Accounts_CPACharge_Customer_Status</name>
        <label>Update Account&#39;s CPACharge Customer Status?</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Account_s_CPACharge_Product_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPACharge_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CPACharge_Customer_Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Associated_Inbound_Request_Record</name>
        <label>Update Associated Inbound Request Record</label>
        <locationX>1370</locationX>
        <locationY>1811</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Trial_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update MQL Tracking records related to Lead with newly converted Contact Id</description>
        <name>Update_MQL_Tracking_Records</name>
        <label>Update MQL Tracking Records</label>
        <locationX>1370</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Update_Associated_Inbound_Request_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Lead.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>MQL_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Product User Records related to Lead with newly converted Contact Id</description>
        <name>Update_Product_User_Records</name>
        <label>Update Product User Records</label>
        <locationX>1370</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Update_MQL_Tracking_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Lead.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Product_User__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Populates Primary Contact from newly created Contact Id</description>
        <name>UpdateOpportunity</name>
        <label>Update Opportunity</label>
        <locationX>1370</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Get_Lead.Lead_next_steps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Date__c</field>
            <value>
                <elementReference>Get_Lead.Lead_Next_Step_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Last_Edited__c</field>
            <value>
                <elementReference>Get_Lead.Lead_Step_Last_Edited__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_Lead.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_Rep__c</field>
            <value>
                <elementReference>Get_Lead.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Opportunity_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1992</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Flow_Eval</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assess_for_Onboarding_Status</name>
        <label>Assess for Onboarding Status</label>
        <locationX>1370</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Update_Product_User_Records</targetReference>
        </connector>
        <flowName>Opportunity_Subflow_Assess_Onboarding_Services_Status</flowName>
        <inputAssignments>
            <name>varOpportunity</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
