unpackaged/main/default/flows/Forecasting_Opportunity_Forecast_Category_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Forecast_Cat_to_Forecast</name>
        <label>Assign Forecast Cat to Forecast</label>
        <locationX>622</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>$Record.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ForecastCategoryName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Values</name>
        <label>Reset Values</label>
        <locationX>1085</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>$Record.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Forecast__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Forecast_Category</name>
        <label>Update Forecast Category</label>
        <locationX>1373</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>$Record.ForecastCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Forecast__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>New_Or_Updated</name>
        <label>New Or Updated</label>
        <locationX>618</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Update_Made</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Forecast_Cat_to_Forecast</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Made</name>
        <label>Update Made</label>
        <locationX>929</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Update_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Forecast_Category_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ForecastCategoryName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ForecastCategoryName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Forecast_Cat_to_Forecast</targetReference>
            </connector>
            <label>Forecast Category Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Validation</name>
        <label>Update Validation</label>
        <locationX>1145</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Update_Forecast_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Forecast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Omitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Forecast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Values</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <description>Based on changes to custom field Forecast, standard Forecast Category is updated to enable list view editing for sales</description>
    <environments>Default</environments>
    <formulas>
        <name>f_ForecastUpdate</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.ForecastCategoryName}, 
&quot;Omitted&quot;, &quot;Omitted&quot;, &quot;Closed&quot;)</expression>
    </formulas>
    <interviewLabel>Forecasting: Opportunity Forecast Category Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Forecasting: Opportunity Forecast Category Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>114</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>New_Or_Updated</targetReference>
        </connector>
        <filterFormula>AND( 
OR( 
ISCHANGED( {!$Record.Forecast__c} ),
ISCHANGED( {!$Record.ForecastCategoryName} )),
TEXT({!$Record.Forecast__c}) != TEXT({!$Record.ForecastCategoryName}),
NOT({!$Record.Bypass_VR_and_Automation__c})
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
