unpackaged/main/default/flows/Forecasting_Magic_Number_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Average_Won_Users</name>
        <label>Average Won Users</label>
        <locationX>912</locationX>
        <locationY>684</locationY>
        <actionName>CollectionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Win_Projections</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <elementReference>f_AverageUsersField</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>In_Month_Wins</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Average</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>policyForNullAndEmptyFields</name>
            <value>
                <stringValue>use0</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Payments_Created</name>
        <label>Assign Payments Created</label>
        <locationX>588</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>ProjectedOppsPaymentsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>LawPay_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunities_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payments_Won_Count</name>
        <label>Assign Payments Won Count</label>
        <locationX>592</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>ProjectedDealsWonPayments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>In_Month_Payments_Wins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Payments_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Projections</name>
        <label>Assign Projections</label>
        <locationX>953</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>ProjectedOppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MyCase_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Projection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Win_Count</name>
        <label>Assign Win Count</label>
        <locationX>753</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>ProjectedDealsWonCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>In_Month_Wins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wins_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Win_Projections</name>
        <label>Assign Win Projections</label>
        <locationX>1176</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>ProjectedDealsWonCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>In_Month_Wins</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AvgUsersWonPerDeal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Average_Won_Users.outputDecimalResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Projections</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>In_Month_Payments_Wins</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>In Month Payments Wins</label>
        <locationX>390</locationX>
        <locationY>837</locationY>
        <assignNextValueToReference>currentItem_In_Month_Payments_Wins</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>LawPay_Opportunities</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Assign_Payments_Won_Count</targetReference>
        </connector>
        <formula>AND( 
MONTH( {!currentItem_In_Month_Payments_Wins.Created_Date_fx__c} ) =  MONTH( {!currentItem_In_Month_Payments_Wins.CloseDate} ),
YEAR( {!currentItem_In_Month_Payments_Wins.Created_Date_fx__c} ) =  YEAR( {!currentItem_In_Month_Payments_Wins.CloseDate} ),
ISPICKVAL( {!currentItem_In_Month_Payments_Wins.StageName}, &quot;Closed Won&quot;)
)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>In_Month_Wins</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>In Month Wins</label>
        <locationX>722</locationX>
        <locationY>567</locationY>
        <assignNextValueToReference>currentItem_In_Month_Wins_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>MyCase_Opportunities</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Assign_Win_Count</targetReference>
        </connector>
        <formula>IF( {!varTestMode},
AND
( 
MONTH( {!currentItem_In_Month_Wins_0.CloseDate} ) = MONTH( {!currentItem_In_Month_Wins_0.Created_Date_fx__c} ),
YEAR( {!currentItem_In_Month_Wins_0.CloseDate} ) = YEAR( {!currentItem_In_Month_Wins_0.Created_Date_fx__c} )
),
AND
(
ISPICKVAL( {!currentItem_In_Month_Wins_0.StageName}, &quot;Closed Won&quot;),
MONTH( {!currentItem_In_Month_Wins_0.CloseDate} ) = MONTH( {!currentItem_In_Month_Wins_0.Created_Date_fx__c} ),
YEAR( {!currentItem_In_Month_Wins_0.CloseDate} ) = YEAR( {!currentItem_In_Month_Wins_0.Created_Date_fx__c} )
))</formula>
    </collectionProcessors>
    <decisions>
        <name>LawPay_Opportunities_Check</name>
        <label>LawPay Opportunities Check</label>
        <locationX>465</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Opportunities_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_LawPay_Opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LawPay_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Month_Payments_Wins</targetReference>
            </connector>
            <label>Has LawPay Opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunities_Check</name>
        <label>Opportunities Check</label>
        <locationX>686</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Projection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyCase_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Month_Wins</targetReference>
            </connector>
            <label>Has Opportunities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wins_Check</name>
        <label>Wins Check</label>
        <locationX>820</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Assign_Projections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Wins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectedDealsWonCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Average_Won_Users</targetReference>
            </connector>
            <label>Has Wins</label>
        </rules>
    </decisions>
    <description>Generates prediction for opps created in remaining days of the month based on prior 3 months to calculate deals and users won</description>
    <environments>Default</environments>
    <formulas>
        <name>f_AverageUsersField</name>
        <dataType>String</dataType>
        <expression>IF( {!varTestMode}, 
&quot;Forecasted_Users__c&quot;, 
&quot;Won_Users__c&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_DayToday</name>
        <dataType>Number</dataType>
        <expression>DAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_ProjectedARR_Software</name>
        <dataType>Currency</dataType>
        <expression>{!f_ProjectedUsersWonRemaining} * 79 * 12</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_ProjectedARR_won</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; &amp; TEXT({!f_ProjectedUsersWonRemaining} * 79 * 12)</expression>
    </formulas>
    <formulas>
        <name>f_ProjectedDealsWonSoftware</name>
        <dataType>Number</dataType>
        <expression>{!ProjectedDealsWonCount} / 3</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_ProjectedLogosWonPayments</name>
        <dataType>Number</dataType>
        <expression>{!ProjectedDealsWonPayments} / 3</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_ProjectedOppsCreatedPayments</name>
        <dataType>Number</dataType>
        <expression>{!ProjectedOppsPaymentsCount} / 3</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_ProjectedOppsCreatedSoftware</name>
        <dataType>Number</dataType>
        <expression>{!ProjectedOppCount} / 3</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_ProjectedUsersWonRemaining</name>
        <dataType>Number</dataType>
        <expression>{!AvgUsersWonPerDeal} * {!f_ProjectedDealsWonSoftware}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>first day 3 months ago</description>
        <name>f_threeMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR( ADDMONTHS( {!$Flow.CurrentDate}, -3)),
MONTH( ADDMONTHS( {!$Flow.CurrentDate}, -3)),
1
)</expression>
    </formulas>
    <formulas>
        <name>min_LastActivityDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 14</expression>
    </formulas>
    <interviewLabel>Forecasting: Magic Number Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Forecasting: Magic Number Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>LawPay_Opportunities</name>
        <label>LawPay Opportunities</label>
        <locationX>343</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MyCase_Opportunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Day__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>f_DayToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Date_fx__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_threeMonthsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LawPay Payments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MyCase_Opportunities</name>
        <label>MyCase Opportunities</label>
        <locationX>332</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LawPay_Opportunities_Check</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Day__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>f_DayToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Date_fx__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_threeMonthsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MyCase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Projection</name>
        <label>Projection</label>
        <locationX>875</locationX>
        <locationY>244</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Projection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Projection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>magicGeneratorDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;My Magic Number&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Projection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Projection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>projection_summary</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This &quot;Magic Number&quot; is to give you an idea of future pipeline -- either from leads you are currently working or leads yet to be assigned -- for the current month that has yet to be created that will also close in the current month.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Add the below Magic Numbers to your Commit forecast.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Magic_Numbers</name>
            <fieldText>Magic Numbers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Magic_Numbers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectedUsers</name>
                    <extensionName>c:ReadOnlyScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dataType</name>
                        <value>
                            <stringValue>integer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Magic Software Users Won</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>f_ProjectedUsersWonRemaining</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Magic_Numbers_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectedARR</name>
                    <extensionName>c:ReadOnlyScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>f_ProjectedARR_won</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Magic Software ARR Won</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Magic_Numbers_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paymentsWinsProejcted</name>
                    <extensionName>c:ReadOnlyScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dataType</name>
                        <value>
                            <stringValue>integer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Magic Payments Logos Won</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>f_ProjectedLogosWonPayments</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>How_We_Got_There</name>
            <fieldText>How We Got There</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>How_We_Got_There_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>howWeGotThereDisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This summary is based on the 3 month average of opportunities created from &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;calendar day {!f_DayToday}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; through the last day of the month.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>How_We_Got_There_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OppsCreated</name>
                    <extensionName>c:ReadOnlyScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dataType</name>
                        <value>
                            <stringValue>integer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Projected Software Deals Created</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>f_ProjectedOppsCreatedSoftware</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OppsWon</name>
                    <extensionName>c:ReadOnlyScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dataType</name>
                        <value>
                            <stringValue>integer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Projected Software Deals Won</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>f_ProjectedDealsWonSoftware</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AvgUsers</name>
                    <extensionName>c:ReadOnlyScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Average Software Users Won per Deal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>AvgUsersWonPerDeal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataType</name>
                        <value>
                            <stringValue>integer</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>How_We_Got_There_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paymentsOppsCreated</name>
                    <extensionName>c:ReadOnlyScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dataType</name>
                        <value>
                            <stringValue>integer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Projected Payments Deals Created</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>f_ProjectedOppsCreatedPayments</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>88</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>LawPay_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AvgUsersWonPerDeal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_In_Month_Payments_Wins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_In_Month_Wins_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ProjectedDealsWonCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectedDealsWonPayments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectedOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectedOppsPaymentsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectedUsersWonCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTestMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
