unpackaged/main/default/flows/Function_Update_or_Create_Opportunity_SKU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Opp_SKU</name>
        <label>Assign Existing Opp SKU</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Existing_Opp_SKU.SKU_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SKU_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Opp_SKU.Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Opp_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quantity</name>
        <label>Assign Quantity</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Opp_SKU.Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_SKU</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_MC_Opp_SKU</name>
        <label>Existing MC Opp SKU</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_SKU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Existing_Opp_SKU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Opp_SKU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Opp_SKU</targetReference>
            </connector>
            <label>Has Existing Opp SKU</label>
        </rules>
    </decisions>
    <decisions>
        <name>SKU_Presence</name>
        <label>SKU Presence</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>SKU_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Converted_SKU_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_SKU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quantity</targetReference>
            </connector>
            <label>Converted SKU Present</label>
        </rules>
    </decisions>
    <description>Callable autolaunched flow to evaluate and update or create Opportunity SKUs</description>
    <environments>Default</environments>
    <interviewLabel>Function: Update or Create Opportunity SKU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Function: Update or Create Opportunity SKU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Billing_Plan</name>
        <label>Billing Plan</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zuora_Rate_Plan_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductRatePlanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Plans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Opp_SKU</name>
        <label>Existing Opp SKU</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_MC_Opp_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User Subscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_SKU</name>
        <label>Get Opp SKU</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SKU_Presence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Plan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SKU_Product</name>
        <label>SKU Product</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Opp_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Plan.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SKU_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Opp_SKU</name>
        <label>Update Existing Opp SKU</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputReference>Existing_Opp_SKU</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_SKU</name>
        <label>Update Opp SKU</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputReference>Get_Opp_SKU</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Billing_Plan</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Opportunity_SKU</name>
        <label>Create Opportunity SKU</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <flowName>Function_Creation_Single_Opportunity_SKU</flowName>
        <inputAssignments>
            <name>varBillingPlan</name>
            <value>
                <elementReference>Billing_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityId</name>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQuantity</name>
            <value>
                <elementReference>varQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSKUproduct</name>
            <value>
                <elementReference>SKU_Product</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>queryOpportunitySKU</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id, Billing_Plan__c, Qty__c FROM Opportunity_SKU__c WHERE Billing_Plan__r.Zuora_Rate_Plan_Id = &#39;{!varProductRatePlanId}&#39; AND Opportunity__c = &#39;{!varOpportunityId}&#39;</text>
    </textTemplates>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id of product rate plan charge in billing system</description>
        <name>varProductRatePlanChargeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id of product rate plan in billing system</description>
        <name>varProductRatePlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
