unpackaged/main/default/flows/Function_Create_Opportunity_SKU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_SKU</name>
        <label>Assign Opportunity SKU</label>
        <locationX>344</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>varOpportunitySKU.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunitySKU.Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunitySKU.SKU_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SKU_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunitySKU.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SKU_Product.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunitySKU.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_SKU</targetReference>
        </connector>
    </assignments>
    <description>Callable sub-flow that gets SKU product based on record type name input and creates Opportunity SKUs</description>
    <environments>Default</environments>
    <interviewLabel>Function: Create Opportunity SKU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Function: Create Opportunity SKU - Payments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_SKU</name>
        <label>Create Opportunity SKU</label>
        <locationX>487</locationX>
        <locationY>245</locationY>
        <inputReference>varOpportunitySKU</inputReference>
    </recordCreates>
    <recordLookups>
        <name>SKU_Product</name>
        <label>SKU Product</label>
        <locationX>199</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_ProductType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_SKU_product_RecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SKU_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>73</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>SKU_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>input_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_ProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>input_SKU_product_RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunitySKU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_SKU__c</objectType>
    </variables>
</Flow>
