unpackaged/main/default/flows/Function_Create_Contract_SKU_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Contract_SKU_Transaction</name>
        <label>Assign Contract SKU Transaction</label>
        <locationX>219</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.History_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ChangeType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.Quantity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_QuantityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.Contract_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractSKU_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Record</targetReference>
        </connector>
    </assignments>
    <description>Callable flow that will create a contract SKU transaction for an update to a subscription based on the change type</description>
    <environments>Default</environments>
    <formulas>
        <name>QuantityChange</name>
        <dataType>Number</dataType>
        <expression>IF( {!input_ChangeType} = &quot;Remove&quot;, ({!input_NewQuantity} * -1), 
{!input_NewQuantity} - {!input_CurrentQuantity} )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Function: Create Contract SKU Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Function: Create Contract SKU Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transaction_Record</name>
        <label>Create Transaction Record</label>
        <locationX>220</locationX>
        <locationY>371</locationY>
        <inputReference>varContractSKU_transaction</inputReference>
    </recordCreates>
    <start>
        <locationX>93</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Assign_Contract_SKU_Transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Add, Update, or Remove</description>
        <name>input_ChangeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_CurrentQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>input_EffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>input_NewQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>input_QuantityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Users</stringValue>
        </value>
    </variables>
    <variables>
        <description>Record ID of contract SKU</description>
        <name>varContractSKU_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractSKU_transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_SKU_Transaction__c</objectType>
    </variables>
</Flow>
