unpackaged/main/default/flows/Function_Opportunity_SKU_Update_from_Subscription_Charges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Opp_SKU_Collection</name>
        <label>Add to Opp SKU Collection</label>
        <locationX>340</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>colOpportunitySKUs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunitySKU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_SKU</name>
        <label>Assign Opp SKU</label>
        <locationX>204</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>varOpportunitySKU.Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Charges.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunitySKU.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SKU_Product.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunitySKU.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunitySKU.SKU_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SKU_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_SKU_Collection</targetReference>
        </connector>
    </assignments>
    <description>Callable subflow to update opportunity SKUs based on create or update of a billing subscription product charge</description>
    <environments>Default</environments>
    <interviewLabel>Function: Opportunity SKU Update from Subscription Charges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Function: Opportunity SKU Update from Subscription Charges</label>
    <loops>
        <name>Loop_Charges</name>
        <label>Loop Charges</label>
        <locationX>201</locationX>
        <locationY>397</locationY>
        <collectionReference>Get_Subscription_Charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SKU_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_SKUs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_SKUs</name>
        <label>Create Opp SKUs</label>
        <locationX>502</locationX>
        <locationY>394</locationY>
        <inputReference>colOpportunitySKUs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Subscription_Charges</name>
        <label>Get Subscription Charges</label>
        <locationX>201</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillingSubsription.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zuora_Effective_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Subscription_Product_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SKU_Product</name>
        <label>SKU Product</label>
        <locationX>83</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Charges.Billing_Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SKU_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>75</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Get_Subscription_Charges</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colOpportunitySKUs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_SKU__c</objectType>
    </variables>
    <variables>
        <name>varBillingSubsription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Subscription__c</objectType>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpportunitySKU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_SKU__c</objectType>
    </variables>
</Flow>
