unpackaged/main/default/flows/Function_Create_Software_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Account_to_Billing_Objects</name>
        <label>Assign Account to Billing Objects</label>
        <locationX>947</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>Billing_Account.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auto_Convert_Lead.output_ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingSubscription.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auto_Convert_Lead.output_ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Environment.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auto_Convert_Lead.output_ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Billing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opportunity</name>
        <label>Assign New Opportunity</label>
        <locationX>785</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>varNewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Account.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillingSubscription.Subscription_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Billing_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillingSubscription.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_OpportunityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Product_Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Environment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Closed_Notification_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_SkipClosedNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Self_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_SelfClose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PrimaryContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_ID</name>
        <label>Assign Owner ID</label>
        <locationX>785</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>varNewOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closed_Won_Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_System_Owner</name>
        <label>Assign System Owner</label>
        <locationX>608</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>varNewOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Opportunity</name>
        <label>Assign Updated Opportunity</label>
        <locationX>794</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillingSubscription.Subscription_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Billing_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillingSubscription.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_OpportunityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Product_Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Environment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Closed_Notification_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_SkipClosedNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Self_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_SelfClose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auto_Convert_Lead.output_ConvertedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_to_Billing_Objects</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DefaultOwnerId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0058W00000CfiYeQAJ</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Check</name>
        <label>Account Check</label>
        <locationX>593</locationX>
        <locationY>579</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Account.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_System_Owner</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
        <rules>
            <name>Lead_Convert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Account</targetReference>
            </connector>
            <label>Lead Convert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type_Check</name>
        <label>Opportunity Type Check</label>
        <locationX>357</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>Account_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reactivated_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBillingSubscription.Subscription_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactivation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won_Opportunity</targetReference>
            </connector>
            <label>Reactivated Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ownership_Window_Check</name>
        <label>Ownership Window Check</label>
        <locationX>595</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>Assign_System_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Won_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_ID</targetReference>
            </connector>
            <label>Active Owner</label>
        </rules>
    </decisions>
    <description>Callable sub-flow to auto-create Software Opportunities when needed through automated processes</description>
    <environments>Default</environments>
    <formulas>
        <name>f_MinimumCloseDate</name>
        <dataType>Date</dataType>
        <expression>DATE( 
YEAR(ADDMONTHS({!$Flow.CurrentDate}, -5)),
MONTH(ADDMONTHS({!$Flow.CurrentDate}, -5)),
1
)</expression>
    </formulas>
    <formulas>
        <name>f_OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!Billing_Account.Name} &amp; &quot; - &quot; &amp; {!input_OppRecordTypeName} &amp; &quot; &quot; &amp; {!input_OpportunityType}</expression>
    </formulas>
    <formulas>
        <name>f_OwnerId</name>
        <dataType>String</dataType>
        <expression>IF( AND( 
LEFT( {!varLeadOwnerId}, 3) = &quot;005&quot;, 
NOT(CONTAINS( {!varOwnerProfileName}, &quot;Integration&quot; ))
), 
{!varLeadOwnerId}, 
{!DefaultOwnerId}
)</expression>
    </formulas>
    <formulas>
        <name>f_StageName</name>
        <dataType>String</dataType>
        <expression>IF( {!input_FirstTimeCharge}, &quot;Closed Won&quot;, &quot;Approvals&quot; )</expression>
    </formulas>
    <interviewLabel>Function: Create Software Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Function: Create Software Opportunity</label>
    <loops>
        <name>Loop_Charges</name>
        <label>Loop Charges</label>
        <locationX>1387</locationX>
        <locationY>414</locationY>
        <collectionReference>Subscription_Charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Opportunity_SKU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>983</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>Subscription_Charges</targetReference>
        </connector>
        <inputReference>varNewOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Billing_Account</name>
        <label>Billing Account</label>
        <locationX>154</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillingSubscription.Billing_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Closed_Won_Opportunity</name>
        <label>Closed Won Opportunity</label>
        <locationX>366</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ownership_Window_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Account.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_MinimumCloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reactivated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Owner_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>154</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_OppRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Matching_Account</name>
        <label>Matching Account</label>
        <locationX>604</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auto_Convert_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Account.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MyCase_Customer_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Product_Environment</name>
        <label>Product Environment</label>
        <locationX>151</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Firm_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_FirmID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Subscription_Charges</name>
        <label>Subscription Charges</label>
        <locationX>1133</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillingSubscription.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Price__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </filters>
        <filters>
            <field>Zuora_Effective_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Subscription_Product_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Account</name>
        <label>Update Billing Account</label>
        <locationX>947</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Update_Billing_Subscription</targetReference>
        </connector>
        <inputReference>Billing_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Subscription</name>
        <label>Update Billing Subscription</label>
        <locationX>1133</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Subscription_Charges</targetReference>
        </connector>
        <inputReference>varBillingSubscription</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>1597</locationX>
        <locationY>416</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>varBillingSubscription.Subscription_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>f_StageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>28</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Billing_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Auto_Convert_Lead</name>
        <label>Auto-Convert Lead</label>
        <locationX>794</locationX>
        <locationY>725</locationY>
        <connector>
            <targetReference>Assign_Updated_Opportunity</targetReference>
        </connector>
        <flowName>Autolaunched_Lead_Convert_Automation</flowName>
        <inputAssignments>
            <name>input_AccountId</name>
            <value>
                <elementReference>varMatchingAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_LeadId</name>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_OwnerId</name>
            <value>
                <elementReference>f_OwnerId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Opportunity_SKU</name>
        <label>Create Opportunity SKU</label>
        <locationX>1395</locationX>
        <locationY>606</locationY>
        <connector>
            <targetReference>Loop_Charges</targetReference>
        </connector>
        <flowName>Function_Create_Opportunity_SKU_Software</flowName>
        <inputAssignments>
            <name>input_BillingPlanId</name>
            <value>
                <elementReference>Loop_Charges.Billing_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_OpportunityId</name>
            <value>
                <elementReference>varNewOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Quantity</name>
            <value>
                <elementReference>Loop_Charges.Quantity__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>input_FirmID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_FirstTimeCharge</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>input_OpportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_OppRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_PrimaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_SelfClose</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>input_SkipClosedNotification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAssignedOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Subscription__c</objectType>
    </variables>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatchingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOwnerProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
