unpackaged/main/default/flows/Global_Create_Account_Contact_Opportunity_from_Home_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Contact</name>
        <label>Navigate to Contact</label>
        <locationX>793</locationX>
        <locationY>653</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity</name>
        <label>Navigate to Opportunity</label>
        <locationX>1388</locationX>
        <locationY>507</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varNewOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>485</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>varNewAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewAccount.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Contact</name>
        <label>Assign Existing Contact</label>
        <locationX>726</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>varContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ACR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact</name>
        <label>Assign New Contact</label>
        <locationX>575</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>varContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity</name>
        <label>Assign Opportunity</label>
        <locationX>1120</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>varNewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Number_of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Forecasted_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Check</name>
        <label>Contact Check</label>
        <locationX>494</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists_Relate_to_New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Contact</targetReference>
            </connector>
            <label>Contact Exists Relate to New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Opportunity_Check</name>
        <label>Create Opportunity Check</label>
        <locationX>946</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity</targetReference>
            </connector>
            <label>Create New Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Lead_Check</name>
        <label>Existing Lead Check</label>
        <locationX>205</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <description>Enables object creating in 1 step for sales efficiency from the home page</description>
    <dynamicChoiceSets>
        <name>RecordType_Selection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Global: Create Account, Contact, Opportunity from Home Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global: Create Account, Contact, Opportunity from Home Page</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>438</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>Existing_Contact</targetReference>
        </connector>
        <inputReference>varNewAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ACR</name>
        <label>Create ACR</label>
        <locationX>858</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Create_Opportunity_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varNewAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>717</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>Create_Opportunity_Check</targetReference>
        </connector>
        <inputReference>varContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>1250</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </connector>
        <inputReference>varNewOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account_Record_Type</name>
        <label>Account Record Type</label>
        <locationX>329</locationX>
        <locationY>652</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Contact</name>
        <label>Existing Contact</label>
        <locationX>365</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Lead</name>
        <label>Existing Lead</label>
        <locationX>212</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Lead_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_New_Records</name>
        <label>Create New Records</label>
        <locationX>212</locationX>
        <locationY>243</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_Lead</targetReference>
        </connector>
        <fields>
            <name>createRecordsDisplay</name>
            <fieldText>&lt;p&gt;test&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Records_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Records_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;New Account&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Employees</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Employees</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Records_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewContactDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;New Contact&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_New_Records_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Records_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Records_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_New_Records_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Records_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Create_Opportunity</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Opportunity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Records_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunity_Type</name>
                    <choiceReferences>RecordType_Selection</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Create_Opportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>86</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Create_New_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varNewAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varNewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
