unpackaged/main/default/flows/ID_Builder_Soluno_Customer_and_Serial_Compiler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Final_Output_Values</name>
        <label>Assign Final Output Values</label>
        <locationX>382</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>var_Customer_Final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_ID_Final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Seiral_Final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_ID_Final</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subscription_Environment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Environment_Output1</name>
        <label>Product Environment</label>
        <locationX>652</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>var_Product_Enviorment_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Environment.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Product_Environment_Output1_0</name>
        <label>Product Environment</label>
        <locationX>666</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>var_Product_Enviorment_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Environment.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Receive_Customer_ID</name>
        <label>Receive Customer ID</label>
        <locationX>381</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>int_Customer_Seq_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_ID_Calc.Int_ID_Output_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>int_country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Lookup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subscription_ID_Calc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Receive_Subscription_ID</name>
        <label>Receive Subscription ID</label>
        <locationX>382</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>int_Subscription_Seq_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_ID_Calc.Int_ID_Output_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_Output_Values</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>con_Prod_Env_Soluno_Record_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001Dm6DQAS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Product_Env_found</name>
        <label>Product Env found</label>
        <locationX>373</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>Customer_ID_Calc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Environment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Environment_Output1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Calls ID Builder flow for Soluno Records. Used by Both the ManualCreate ID Process and the Opportunity Closed Won process.</description>
    <environments>Default</environments>
    <formulas>
        <name>Country_Lookup</name>
        <dataType>String</dataType>
        <expression>CASE({!Account_Record.BillingCountry},
  &quot;Canada&quot;, &quot;CA&quot;,
  &quot;CAN&quot;, &quot;CA&quot;,
  &quot;CA&quot;, &quot;CA&quot;,
  &quot;ca&quot;, &quot;CA&quot;,
  &quot;Ca&quot;, &quot;CA&quot;,
&quot;United States&quot;, &quot;US&quot;,
  &quot;USA&quot;, &quot;US&quot;,
 &quot;usa&quot;, &quot;US&quot;,
  &quot;US&quot;, &quot;US&quot;, 
  &quot;us&quot;, &quot;US&quot;,
   &quot;Us&quot;, &quot;US&quot;,
  &quot;ERROR&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Customer_ID_Final</name>
        <dataType>String</dataType>
        <expression>{!Country_Lookup} &amp; {!Customer_ID_Calc.Int_ID_Output_Value} &amp; {!Todays_Month} &amp; {!Todays_Year}</expression>
    </formulas>
    <formulas>
        <name>for_Product_Environment_Name</name>
        <dataType>String</dataType>
        <expression>LEFT({!Account_Record.Name},60) &amp; &#39; (&#39; &amp;  {!var_Seiral_Final} &amp; &#39;)&#39;</expression>
    </formulas>
    <formulas>
        <name>Subscription_ID_Final</name>
        <dataType>String</dataType>
        <expression>{!Country_Lookup} &amp; {!Todays_Year} &amp; {!Todays_Month} &amp; {!int_Subscription_Seq_ID}</expression>
    </formulas>
    <formulas>
        <name>Todays_Month</name>
        <dataType>String</dataType>
        <expression>CASE(
  MONTH(today()),
  1, &quot;01&quot;,
  2, &quot;02&quot;,
  3, &quot;03&quot;,
  4, &quot;04&quot;,
  5, &quot;05&quot;,
  6, &quot;06&quot;,
  7, &quot;07&quot;,
  8, &quot;08&quot;,
  9, &quot;09&quot;,
  10, &quot;10&quot;,
  11, &quot;11&quot;,
  &quot;12&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Todays_Year</name>
        <dataType>String</dataType>
        <expression>RIGHT(TEXT(YEAR(Today())), 2)</expression>
    </formulas>
    <interviewLabel>ID Builder - Soluno Customer and Serial Compiler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ID Builder - Soluno Customer and Serial Compiler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Subscription_Environment</name>
        <label>Subscription Environment</label>
        <locationX>380</locationX>
        <locationY>1027</locationY>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_Account_Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <stringValue>Soluno</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>var_Customer_Final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>for_Product_Environment_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>con_Prod_Env_Soluno_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>var_Seiral_Final</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account_Record</name>
        <label>Account Record</label>
        <locationX>384</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Account_Record_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Product Environment record for the soluno Brand. There should only be 1 Product Environment returned if any for Soluno</description>
        <name>Product_Environment</name>
        <label>Product Environment</label>
        <locationX>386</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Env_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Account_Record_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Soluno</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>con_Prod_Env_Soluno_Record_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>524</locationX>
        <locationY>1027</locationY>
        <connector>
            <targetReference>Product_Environment_Output1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Create_Account_Numbers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>var_Customer_Final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>var_Seiral_Final</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>257</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Customer_ID_Calc</name>
        <label>Customer ID Calc</label>
        <locationX>154</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>Receive_Customer_ID</targetReference>
        </connector>
        <flowName>ID_Builder_Compile_ID</flowName>
        <inputAssignments>
            <name>ex_ID_Builder_Record_ID</name>
            <value>
                <stringValue>ID-001</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Subscription_ID_Calc</name>
        <label>Subscription ID Calc</label>
        <locationX>149</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>Receive_Subscription_ID</targetReference>
        </connector>
        <flowName>ID_Builder_Compile_ID</flowName>
        <inputAssignments>
            <name>ex_ID_Builder_Record_ID</name>
            <value>
                <stringValue>ID-000</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>count_Prod_Env_Found</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>used to end flow</description>
        <name>EndFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>int_country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>int_Customer_Seq_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>int_Subscription_Seq_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>int_Todays_Month</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>rv_New_Product_Env</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>UpdateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Account_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Customer_Final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_New_Customer_Number_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>ID for Product Environment Record</description>
        <name>var_Product_Enviorment_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Seiral_Final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
