unpackaged/main/default/flows/ID_Builder_Compile_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Number_of_Loops</name>
        <label>Assign Number of Loops</label>
        <locationX>164</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>Int_Placeholder_Loops</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Place_Holder_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Place_holders_needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_output_starting_output_value</name>
        <label>Assign output starting output value</label>
        <locationX>169</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Int_ID_Output_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Value_Increase_By_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_to_text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_to_text</name>
        <label>Convert to text</label>
        <locationX>166</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>Int_ID_Output_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Value_Increase_By_1_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Number_of_Loops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_last_used</name>
        <label>Get ID Builder values</label>
        <locationX>171</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>int_Last_Used</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ID_Builder_Record.Current_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>int_Place_Holder_Position</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ID_Builder_Record.Placeholder_Position__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_output_starting_output_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Leading_Update</name>
        <label>Output Leading Update</label>
        <locationX>667</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>Int_ID_Output_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_Output_Update_Leading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Place_holder_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Leading_Update_0</name>
        <label>Output Trailing Update</label>
        <locationX>797</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Int_ID_Output_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_Output_Update_Trailing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Place_holder_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Place_holder_Set</name>
        <label>Update Place holder Set</label>
        <locationX>797</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>Place_Holders_Set</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncreasePlaceHolderSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Place_holders_needed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_Value_Rest</name>
        <label>Current Value Rest</label>
        <locationX>363</locationX>
        <locationY>990</locationY>
        <defaultConnector>
            <targetReference>Update_Current_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Current Value</defaultConnectorLabel>
        <rules>
            <name>Reset_Current_Value_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ID_Builder_Record.Auto_Reset_Current_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Value_Increase_By_1</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_ID_Builder_Record.Reset_Current_Value_At__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Value</targetReference>
            </connector>
            <label>Reset Current Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Place_holders_needed</name>
        <label>Place holders needed</label>
        <locationX>362</locationX>
        <locationY>769</locationY>
        <defaultConnector>
            <targetReference>Current_Value_Rest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Place holders needed</defaultConnectorLabel>
        <rules>
            <name>Add_Placeholders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Place_Holders_left</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Placeholder_Postion</targetReference>
            </connector>
            <label>Add Placeholders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Placeholder_Postion</name>
        <label>Placeholder Postion</label>
        <locationX>612</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Current_Value_Rest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Placeholder</defaultConnectorLabel>
        <rules>
            <name>Leading</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>int_Place_Holder_Position</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Leading_Update</targetReference>
            </connector>
            <label>Leading</label>
        </rules>
        <rules>
            <name>Trailing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>int_Place_Holder_Position</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trailing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Leading_Update_0</targetReference>
            </connector>
            <label>Trailing</label>
        </rules>
    </decisions>
    <description>Generates ID based on ID Builder Record</description>
    <environments>Default</environments>
    <formulas>
        <name>Current_Value_Increase_By_1</name>
        <dataType>Number</dataType>
        <expression>{!Get_ID_Builder_Record.Current_Value__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Current_Value_Increase_By_1_Text</name>
        <dataType>String</dataType>
        <expression>Text({!Current_Value_Increase_By_1})</expression>
    </formulas>
    <formulas>
        <description>Updates the ID with placeholders on Leading Selection</description>
        <name>ID_Output_Update_Leading</name>
        <dataType>String</dataType>
        <expression>&quot;0&quot; &amp; {!Int_ID_Output_Value}</expression>
    </formulas>
    <formulas>
        <name>ID_Output_Update_Trailing</name>
        <dataType>String</dataType>
        <expression>{!Int_ID_Output_Value} &amp; &quot;0&quot;</expression>
    </formulas>
    <formulas>
        <name>IncreasePlaceHolderSet</name>
        <dataType>Number</dataType>
        <expression>{!Place_Holders_Set} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Place_Holder_Count</name>
        <dataType>Number</dataType>
        <expression>{!Get_ID_Builder_Record.Total_Digets__c} - {!RawIDDigitCount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Place_Holders_left</name>
        <dataType>Number</dataType>
        <expression>{!Place_Holder_Count} - {!Place_Holders_Set}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RawIDDigitCount</name>
        <dataType>Number</dataType>
        <expression>LEN(Text({!Current_Value_Increase_By_1}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ID Builder - Compile ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ID Builder - Compile ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ID_Builder_Record</name>
        <label>Get ID Builder Record</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_last_used</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ex_ID_Builder_Record_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ID_Builder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>resets the current value field on ID Builder record</description>
        <name>Reset_Current_Value</name>
        <label>Reset Current Value</label>
        <locationX>213</locationX>
        <locationY>1184</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ex_ID_Builder_Record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Value__c</field>
            <value>
                <elementReference>Get_ID_Builder_Record.Reset_Current_Value_To__c</elementReference>
            </value>
        </inputAssignments>
        <object>ID_Builder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Value</name>
        <label>Update Current Value</label>
        <locationX>375</locationX>
        <locationY>1173</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ex_ID_Builder_Record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Value__c</field>
            <value>
                <elementReference>Current_Value_Increase_By_1</elementReference>
            </value>
        </inputAssignments>
        <object>ID_Builder__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ID_Builder_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ID of the ID Builder Record that has details on the ID building</description>
        <name>ex_ID_Builder_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID value as its needed for output.</description>
        <name>Int_ID_Output_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>int_Last_Used</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>int_Place_Holder_Position</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_ID_Builder_Record.Placeholder_Position__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Number of loops to set ID up correctly</description>
        <name>Int_Placeholder_Loops</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Number of Placeholders / loops that have been performed</description>
        <name>Place_Holders_Set</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
