unpackaged/main/default/flows/Inbound_Request_Create_New_Record_from_Lead_or_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Id</name>
        <label>Assign Contact Id</label>
        <locationX>805</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>varInboundRequest.Account_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inbound_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inbound_Request_Values</name>
        <label>Assign Inbound Request Values</label>
        <locationX>180</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>varInboundRequest.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBrand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Inbound_Request_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Campaign_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_utm_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Campaign_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_utm_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Campaign_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_utm_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Acquisition_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAcquisitionProgram</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Campaign_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_utm_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Campaign_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_utm_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.GCLID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGLCID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Facebook_Click_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFBCLID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Microsoft_Click_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMicrosoftClickID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.LinkedIn_Click_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLinkedInClickID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Requested_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInboundRequestDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Product_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductInterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Last_Touch_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLastTouchProgram</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.MQL_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMQL_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.MQL_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMQL_DateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.MQL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMQL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Last_Landing_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLandingPage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Demo_Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoScheduledDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Demo_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Demographic_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemographicScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Behavior_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBehaviorScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Old_Person_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOldPersonStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.New_Person_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewPersonStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.AffiniPay_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAffiniPayCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.CASEpeer_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCASEpeerCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.ClientPay_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varClientPayCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.CPACharge_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCPAChargeCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Docketwise_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDocketwiseCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.LawPay_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLawPayCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.MyCase_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMyCaseCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Soluno_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSolunoCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Website_Hosting_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWebsiteHostingCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Woodpecker_Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWoodpeckerCustomerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.LeadSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Lead_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLeadChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.AffiniPay_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAffiniPayProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.CASEpeer_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCASEpeerProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.ClientPay_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varClientPayProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.CPACharge_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCPAChargeProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Docketwise_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDocketwiseProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.LawPay_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLawPayProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.MyCase_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMyCaseProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Soluno_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSolunoProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Websites_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWebsitesProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Woodpecker_Product_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWoodpeckerProductTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.MQL_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VARInbounRequest_MQLType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Marketing_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMarketingTest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Customer_Success_Qualifying_Rep2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCustomerSuccessQualifyingRep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Qualifying_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQualifyingTeam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Number_of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumberofEmployees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.cRO1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCRO1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.cRO2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCRO2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.cRO3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCRO3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.CASEpeer_Marketing_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CASEpeer_Marketing_Engagement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.ClientPay_Marketing_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ClientPay_Marketing_Engagement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.CPACharge_Marketing_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CPACharge_Marketing_Engagement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Docketwise_Marketing_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Docketwise_Marketing_Engagement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.LawPay_Marketing_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_LawPay_Marketing_Engagement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.MyCase_Marketing_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MyCase_Marketing_Engagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_From</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Id</name>
        <label>Assign Lead Id</label>
        <locationX>513</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>varInboundRequest.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inbound_Request</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>VARInbounRequest_MQLType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Non MQL Interaction</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Created_From</name>
        <label>Created From</label>
        <locationX>506</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Id</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Autolaunched flow called from record change on lead or contact to create an inbound request record capturing details for reporting</description>
    <environments>Default</environments>
    <interviewLabel>Inbound Request: Create New Record from Lead or Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Request: Create New Record from Lead or Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inbound_Request</name>
        <label>Create Inbound Request</label>
        <locationX>805</locationX>
        <locationY>533</locationY>
        <inputReference>varInboundRequest</inputReference>
    </recordCreates>
    <start>
        <locationX>55</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Assign_Inbound_Request_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Value assigned to inbound request score</description>
        <name>LeadScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CASEpeer_Marketing_Engagement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_ClientPay_Marketing_Engagement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_CPACharge_Marketing_Engagement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Docketwise_Marketing_Engagement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_LawPay_Marketing_Engagement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_MyCase_Marketing_Engagement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>utm campaign on lead or contact</description>
        <name>var_utm_campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>utm content on lead or contact</description>
        <name>var_utm_content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>utm medium on lead or contact</description>
        <name>var_utm_medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>utm source on lead or contact</description>
        <name>var_utm_source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>utm term on lead or contact</description>
        <name>var_utm_term</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of contact&#39;s account if applicable</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Acquisition program on lead or contact</description>
        <name>varAcquisitionProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAffiniPayCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAffiniPayProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varBehaviorScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Brand associated to lead or contact</description>
        <name>varBrand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Last Touch Program on lead or contact</description>
        <name>varCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCASEpeerCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCASEpeerProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varClientPayCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientPayProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Id of contact if applicable</description>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCPAChargeCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCPAChargeProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCRO1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCRO2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCRO3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCustomerSuccessQualifyingRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDemographicScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDemoScheduledDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDemoTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDocketwiseCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDocketwiseProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>facebook click ID on lead or contact</description>
        <name>varFBCLID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>google click id on lead or contact</description>
        <name>varGLCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>inbound request record variable</description>
        <name>varInboundRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Trial_Request__c</objectType>
    </variables>
    <variables>
        <name>varInboundRequestDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsMQL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>utm last landing page on lead or contact</description>
        <name>varLandingPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>last touch program on lead or contact</description>
        <name>varLastTouchProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLawPayCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLawPayProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLeadChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>id of lead if applicable</description>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LinkedIn click id on lead or contact</description>
        <name>varLinkedInClickID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMarketingTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>microsoft click id on lead or contact</description>
        <name>varMicrosoftClickID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMQL_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMQL_DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>mql status from lead or contact</description>
        <name>varMQL_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMyCaseCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMyCaseProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNewPersonStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberofEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOldPersonStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sales product interest from lead or contact</description>
        <name>varProductInterest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQualifyingTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Referral token on lead or contact</description>
        <name>varReferralToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sales token on lead or contact</description>
        <name>varSalesToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSolunoCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSolunoProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Type of inbound request</description>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWebsiteHostingCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWebsitesProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varWoodpeckerCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWoodpeckerProductTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
