unpackaged/main/default/flows/Inbound_Request_Create_New_Prof_Serv_Record_from_Lead_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Contact_ID</name>
        <label>Assign Contact ID</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varInboundRequest.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inbound_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inbound_Request_Values</name>
        <label>Assign Inbound Request Values</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varInboundRequest.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Document Automation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Firm_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFirmName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conAlyssaBaltodano</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Person_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Requested_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestedAt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Intent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Features</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInboundRequest.Professional_Service_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_ID</name>
        <label>Assign Lead ID</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varInboundRequest.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inbound_Request</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conAlyssaBaltodano</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0058W00000CgpIm</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_ID</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inbound Request: Create New Prof Serv Record from Lead/Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Request: Create New Prof Serv Record from Lead/Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inbound_Request</name>
        <label>Create Inbound Request</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <inputReference>varInboundRequest</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Inbound_Request_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInboundRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trial_Request__c</objectType>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPersonEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestedAt</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
