unpackaged/main/default/flows/Lead_Create_New_Inbound_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Bypass_Automation</name>
        <label>Bypass Automation</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_MQL_Inbound_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Don&#39;t Bypass Automation</defaultConnectorLabel>
        <rules>
            <name>Yes_Bypass_Automation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_MQL_Automation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes Bypass Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MQL_Inbound_Request</name>
        <label>Is MQL Inbound Request</label>
        <locationX>506</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Professional_Services_Inbound_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Services_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Automation/Template Building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Professional_Services_Inbound_Request</targetReference>
            </connector>
            <label>Professional Services Inbound Request</label>
        </rules>
        <rules>
            <name>MQL_Inbound_Request</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_MQL_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inbound_Request_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inbound_Request_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Inbound_Request_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_MQL_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Inbound_Request_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MQL_Inbound_Request_From_Lead</targetReference>
            </connector>
            <label>MQL Inbound Request</label>
        </rules>
        <rules>
            <name>No_MQL_Inbound_Request</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inbound_Request_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inbound_Request_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Inbound_Request_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Non_MQL_Inbound_Request_From_Lead</targetReference>
            </connector>
            <label>No MQL Inbound Request</label>
        </rules>
    </decisions>
    <description>Creates new inbound request if marketing criteria is met on the lead</description>
    <environments>Default</environments>
    <formulas>
        <description>converts MQL date/time to date value</description>
        <name>f_MQL_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE ({!$Record.Last_MQL_Date__c})</expression>
    </formulas>
    <interviewLabel>Lead: Create New Inbound Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Create New Inbound Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Automation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bypass_VR_and_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_Duplicate_Rules_on_Create__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_MQL_Inbound_Request_From_Lead</name>
        <label>Create MQL Inbound Request From Lead</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <flowName>Inbound_Request_Create_New_Record_from_Lead_or_Contact</flowName>
        <inputAssignments>
            <name>LeadScore</name>
            <value>
                <elementReference>$Record.Behavior_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CASEpeer_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.CASEpeer_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ClientPay_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.ClientPay_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CPACharge_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.CPACharge_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Docketwise_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.Docketwise_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_LawPay_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.LawPay_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_MyCase_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.MyCase_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_campaign</name>
            <value>
                <elementReference>$Record.utm_campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_content</name>
            <value>
                <elementReference>$Record.utm_content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_medium</name>
            <value>
                <elementReference>$Record.utm_medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_source</name>
            <value>
                <elementReference>$Record.utm_source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_term</name>
            <value>
                <elementReference>$Record.utm_term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAcquisitionProgram</name>
            <value>
                <elementReference>$Record.mkto71_Acquisition_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAffiniPayCustomerStatus</name>
            <value>
                <elementReference>$Record.AffiniPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBehaviorScore</name>
            <value>
                <elementReference>$Record.Behavior_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBrand</name>
            <value>
                <elementReference>$Record.Last_MQL_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCASEpeerCustomerStatus</name>
            <value>
                <elementReference>$Record.CASEpeer_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varClientPayCustomerStatus</name>
            <value>
                <elementReference>$Record.ClientPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCPAChargeCustomerStatus</name>
            <value>
                <elementReference>$Record.CPACharge_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCustomerSuccessQualifyingRep</name>
            <value>
                <elementReference>$Record.Customer_Success_Qualifying_Rep2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDemographicScore</name>
            <value>
                <elementReference>$Record.Demographic_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDemoScheduledDate</name>
            <value>
                <elementReference>$Record.Demo_Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDemoTime</name>
            <value>
                <elementReference>$Record.Demo_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDocketwiseCustomerStatus</name>
            <value>
                <elementReference>$Record.Docketwise_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFBCLID</name>
            <value>
                <elementReference>$Record.FBCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFormComments</name>
            <value>
                <elementReference>$Record.Form_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGLCID</name>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInboundRequestDate</name>
            <value>
                <elementReference>$Record.Last_MQL_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsMQL</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLandingPage</name>
            <value>
                <elementReference>$Record.utm_last_landing_page__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastTouchProgram</name>
            <value>
                <elementReference>$Record.Last_Touch_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLawPayCustomerStatus</name>
            <value>
                <elementReference>$Record.LawPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadChannel</name>
            <value>
                <elementReference>$Record.Lead_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadSource</name>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLinkedInClickID</name>
            <value>
                <elementReference>$Record.LinkedIn_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMarketingTest</name>
            <value>
                <elementReference>$Record.Marketing_Test__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMicrosoftClickID</name>
            <value>
                <elementReference>$Record.Microsoft_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMQL_date</name>
            <value>
                <elementReference>f_MQL_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMQL_DateTime</name>
            <value>
                <elementReference>$Record.Last_MQL_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMQL_status</name>
            <value>
                <elementReference>$Record.Last_MQL_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMyCaseCustomerStatus</name>
            <value>
                <elementReference>$Record.MyCase_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewPersonStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumberofEmployees</name>
            <value>
                <elementReference>$Record.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOldPersonStatus</name>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductInterest</name>
            <value>
                <elementReference>$Record.Last_MQL_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifyingTeam</name>
            <value>
                <elementReference>$Record.Qualifying_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varReferralToken</name>
            <value>
                <elementReference>$Record.Referral_Token__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRequestType</name>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSalesToken</name>
            <value>
                <elementReference>$Record.Sales_Token__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSolunoCustomerStatus</name>
            <value>
                <elementReference>$Record.Soluno_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varType</name>
            <value>
                <elementReference>$Record.Last_MQL_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWebsiteHostingCustomerStatus</name>
            <value>
                <elementReference>$Record.Website_Hosting_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWoodpeckerCustomerStatus</name>
            <value>
                <elementReference>$Record.Woodpecker_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Non_MQL_Inbound_Request_From_Lead</name>
        <label>Create Non MQL Inbound Request From Lead</label>
        <locationX>638</locationX>
        <locationY>539</locationY>
        <flowName>Inbound_Request_Create_New_Record_from_Lead_or_Contact</flowName>
        <inputAssignments>
            <name>LeadScore</name>
            <value>
                <elementReference>$Record.Behavior_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CASEpeer_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.CASEpeer_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ClientPay_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.ClientPay_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CPACharge_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.CPACharge_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Docketwise_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.Docketwise_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_LawPay_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.LawPay_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_MyCase_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.MyCase_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_campaign</name>
            <value>
                <elementReference>$Record.utm_campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_content</name>
            <value>
                <elementReference>$Record.utm_content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_medium</name>
            <value>
                <elementReference>$Record.utm_medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_source</name>
            <value>
                <elementReference>$Record.utm_source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_utm_term</name>
            <value>
                <elementReference>$Record.utm_term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAcquisitionProgram</name>
            <value>
                <elementReference>$Record.mkto71_Acquisition_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAffiniPayCustomerStatus</name>
            <value>
                <elementReference>$Record.AffiniPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBehaviorScore</name>
            <value>
                <elementReference>$Record.Behavior_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBrand</name>
            <value>
                <elementReference>$Record.Last_MQL_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCASEpeerCustomerStatus</name>
            <value>
                <elementReference>$Record.CASEpeer_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varClientPayCustomerStatus</name>
            <value>
                <elementReference>$Record.ClientPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCPAChargeCustomerStatus</name>
            <value>
                <elementReference>$Record.CPACharge_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCustomerSuccessQualifyingRep</name>
            <value>
                <elementReference>$Record.Customer_Success_Qualifying_Rep2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDemographicScore</name>
            <value>
                <elementReference>$Record.Demographic_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDemoScheduledDate</name>
            <value>
                <elementReference>$Record.Demo_Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDemoTime</name>
            <value>
                <elementReference>$Record.Demo_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDocketwiseCustomerStatus</name>
            <value>
                <elementReference>$Record.Docketwise_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFBCLID</name>
            <value>
                <elementReference>$Record.FBCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFormComments</name>
            <value>
                <elementReference>$Record.Form_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGLCID</name>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInboundRequestDate</name>
            <value>
                <elementReference>$Record.Last_MQL_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsMQL</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLandingPage</name>
            <value>
                <elementReference>$Record.utm_last_landing_page__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastTouchProgram</name>
            <value>
                <elementReference>$Record.Last_Touch_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLawPayCustomerStatus</name>
            <value>
                <elementReference>$Record.LawPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadChannel</name>
            <value>
                <elementReference>$Record.Lead_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadSource</name>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLinkedInClickID</name>
            <value>
                <elementReference>$Record.LinkedIn_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMarketingTest</name>
            <value>
                <elementReference>$Record.Marketing_Test__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMicrosoftClickID</name>
            <value>
                <elementReference>$Record.Microsoft_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMyCaseCustomerStatus</name>
            <value>
                <elementReference>$Record.MyCase_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewPersonStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumberofEmployees</name>
            <value>
                <elementReference>$Record.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOldPersonStatus</name>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductInterest</name>
            <value>
                <elementReference>$Record.Sales_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifyingTeam</name>
            <value>
                <elementReference>$Record.Qualifying_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varReferralToken</name>
            <value>
                <elementReference>$Record.Referral_Token__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSalesToken</name>
            <value>
                <elementReference>$Record.Sales_Token__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSolunoCustomerStatus</name>
            <value>
                <elementReference>$Record.Soluno_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varType</name>
            <value>
                <elementReference>$Record.Last_MQL_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWebsiteHostingCustomerStatus</name>
            <value>
                <elementReference>$Record.Website_Hosting_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWoodpeckerCustomerStatus</name>
            <value>
                <elementReference>$Record.Woodpecker_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Professional_Services_Inbound_Request</name>
        <label>Create Professional Services Inbound Request</label>
        <locationX>110</locationX>
        <locationY>539</locationY>
        <flowName>Inbound_Request_Create_New_Prof_Serv_Record_from_Lead_Contact</flowName>
        <inputAssignments>
            <name>var_CASEpeer_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.CASEpeer_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ClientPay_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.ClientPay_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CPACharge_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.CPACharge_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Docketwise_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.Docketwise_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_LawPay_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.LawPay_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_MyCase_Marketing_Engagement</name>
            <value>
                <elementReference>$Record.MyCase_Marketing_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFirmName</name>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFirstName</name>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastName</name>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPersonEmail</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRequestedAt</name>
            <value>
                <elementReference>$Record.Inbound_Request_Date__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
