unpackaged/main/default/flows/Lead_Age_in_Status_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Age_Disqualified_and_Status_Change_Datetime</name>
        <label>Assign Age - Disqualified and Status Change Datetime</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Age_Disqualified_Raw__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaCalculatedAgeforPriorStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_Change_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Age_Engaged_and_Status_Change_Datetime</name>
        <label>Assign Age - Engaged and Status Change Datetime</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Age_Engaged_Raw__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaCalculatedAgeforPriorStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_Change_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Age_Known_and_Status_Change_Datetime</name>
        <label>Assign Age - Known and Status Change Datetime</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Age_Known_Raw__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaCalculatedAgeforPriorStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_Change_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Age_Marketing_Nurture_and_Status_Change_Datetime</name>
        <label>Assign Age - Marketing Nurture and Status Change Datetime</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Age_Marketing_Nurture_Raw__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaCalculatedAgeforPriorStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_Change_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Age_New_and_Status_Change_Datetime</name>
        <label>Assign Age - New and Status Change Datetime</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Age_New_Raw__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaCalculatedAgeforPriorStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_Change_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Age_Working_and_Status_Change_Datetime</name>
        <label>Assign Age - Working and Status Change Datetime</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Age_Working_Raw__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaCalculatedAgeforPriorStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_Change_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Determine_Prior_Status</name>
        <label>Determine Prior Status</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Known</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Known</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Age_Known_and_Status_Change_Datetime</targetReference>
            </connector>
            <label>Known</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Age_New_and_Status_Change_Datetime</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Age_Working_and_Status_Change_Datetime</targetReference>
            </connector>
            <label>Working</label>
        </rules>
        <rules>
            <name>Engaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Age_Engaged_and_Status_Change_Datetime</targetReference>
            </connector>
            <label>Engaged</label>
        </rules>
        <rules>
            <name>Marketing_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Age_Marketing_Nurture_and_Status_Change_Datetime</targetReference>
            </connector>
            <label>Marketing Nurture</label>
        </rules>
        <rules>
            <name>Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Age_Disqualified_and_Status_Change_Datetime</targetReference>
            </connector>
            <label>Disqualified</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlaCalculatedAgeforPriorStatus</name>
        <dataType>Number</dataType>
        <expression>CASE( TRIM( TEXT( {!$Record__Prior.Status} ) ),
&quot;Known&quot;, {!fmlaTimeinPriorStatus} + {!$Record__Prior.Age_Known__c}, 
&quot;New&quot;, {!fmlaTimeinPriorStatus} +{!$Record__Prior.Age_New__c} , 
&quot;Working&quot;, {!fmlaTimeinPriorStatus} + {!$Record__Prior.Age_Working__c} ,
&quot;Engaged&quot;, {!fmlaTimeinPriorStatus} + {!$Record__Prior.Age_Engaged__c} ,
&quot;Marketing Nuture&quot;, {!fmlaTimeinPriorStatus} + {!$Record__Prior.Age_Marketing_Nurture__c} ,
0 
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmlaTimeinPriorStatus</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.InterviewStartTime} - {!$Record.Status_Change_Datetime__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Lead - Age in Status Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Age in Status Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Prior_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
