unpackaged/main/default/flows/Lead_Before_Save_Evaluate_Last_MQL_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_the_Last_MQL_Date_Changed_At_Value</name>
        <label>Assign the Last MQL Date Changed At Value</label>
        <locationX>110</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_MQL_Date_Changed_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_the_Last_MQL_Date_Changed_At_Value_AND_Assign_MQL</name>
        <label>Assign the Last MQL Date Changed At Value AND Assign MQL</label>
        <locationX>902</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assign_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_MQL_Date_Changed_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_the_Last_MQL_Date_Changed_At_Value_AND_Assign_MQL_AND_Assign_SLT_Outbound</name>
        <label>Assign the Last MQL Date Changed At Value AND Assign MQL AND Assign SLT Outbound</label>
        <locationX>638</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_MQL_Date_Changed_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assign_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Outbound_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Outbound_Last_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlaNullDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_the_Last_MQL_Date_Changed_At_Value_AND_Assign_MQL_AND_Sales_Lead_Type</name>
        <label>Assign the Last MQL Date Changed At Value AND Assign MQL AND Sales Lead Type</label>
        <locationX>374</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assign_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_MQL_Date_Changed_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Bypass_MQL_Automation</name>
        <label>Bypass MQL Automation</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Last_MQL_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Bypass_MQL_Automation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_MQL_Automation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes Bypass MQL Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Last_MQL_Type</name>
        <label>Evaluate Last MQL Type</label>
        <locationX>506</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_the_Last_MQL_Date_Changed_At_Value_AND_Assign_MQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Call_In_or_Live_Chat</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_MQL_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_MQL_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Last_MQL_Date_Changed_At_Value</targetReference>
            </connector>
            <label>Call In or Live Chat</label>
        </rules>
        <rules>
            <name>Sales_Lead_Type_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Lead_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Last_MQL_Date_Changed_At_Value_AND_Assign_MQL_AND_Sales_Lead_Type</targetReference>
            </connector>
            <label>Sales Lead Type is Null</label>
        </rules>
        <rules>
            <name>Outbound_Sales_Lead_Type</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Nurture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Last_MQL_Date_Changed_At_Value_AND_Assign_MQL_AND_Assign_SLT_Outbound</targetReference>
            </connector>
            <label>Outbound Sales Lead Type</label>
        </rules>
    </decisions>
    <description>9/21/2023 - Added Bypass MQL Automation custom permission logic for Ringlead
8/4/2023-Added if Sales Lead type is null it should be changed to Inbound</description>
    <environments>Default</environments>
    <formulas>
        <name>frmlaNullDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Lead - Before Save - Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Before Save - Evaluate Last MQL Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_MQL_Automation</targetReference>
        </connector>
        <filterFormula>AND(
         {!$Record.Bypass_VR_and_Automation__c} = FALSE,    
         OR(
               ISNEW(),
               ISCHANGED( {!$Record.Last_MQL_Date__c} )
               ),
      NOT( ISBLANK( {!$Record.Last_MQL_Date__c} ))
      )</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
