unpackaged/main/default/flows/Master_ID_Person_New_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Random_Number_Segment_1</name>
        <label>Random Number Segment 1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Random_Number_Segment_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>999.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_Random_Number_Segment1</assignToReference>
            <name>randomNumber</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Random_Number_Segment_2</name>
        <label>Random Number Segment 2</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>9.99999999E8</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>1.0E8</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_Random_Number_Segment2</assignToReference>
            <name>randomNumber</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Count_Records</name>
        <label>Count Records</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>var_Leads_found</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Leads</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contacts_found</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_ID_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_ID</name>
        <label>New ID</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_Person_Master_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_Final_MasterID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Leads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Duplicate_ID_Found</name>
        <label>Duplicate ID Found</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Person_Master_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicates</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Leads_found</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_contacts_found</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Random_Number_Segment_1</targetReference>
            </connector>
            <label>Duplicate Found</label>
        </rules>
    </decisions>
    <description>Creates Master Person ID on new Leads</description>
    <environments>Default</environments>
    <formulas>
        <name>for_DayofYear</name>
        <dataType>Number</dataType>
        <expression>DAYOFYEAR(DATEVALUE({!$Record.CreatedDate}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>for_Final_MasterID</name>
        <dataType>String</dataType>
        <expression>&quot;P&quot; &amp;  Text({!var_Random_Number_Segment1}) &amp; &quot;L&quot; &amp; Text({!var_Random_Number_Segment2}) &amp; Text({!for_DayofYear})</expression>
    </formulas>
    <formulas>
        <name>For_RecordID_Part</name>
        <dataType>String</dataType>
        <expression>MID(CASESAFEID({!$Record.Id}) ,10,8)</expression>
    </formulas>
    <interviewLabel>Master ID (Person): New Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Master ID (Person): New Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person_Master_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Person_Master_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Person_Master_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person_Master_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Person_Master_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Person_Master_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Person_Master_ID</name>
        <label>Update Person Master ID</label>
        <locationX>308</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Person_Master_ID__c</field>
            <value>
                <elementReference>var_Person_Master_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Random_Number_Segment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person_Master_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>var_contacts_found</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Leads_found</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Person_Master_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Random_Number_Segment1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Random_Number_Segment2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
