unpackaged/main/default/flows/Merchant_Applications_New_Opportunity_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>733</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>var_End_Flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>end</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Added_Value</name>
        <label>New/Updated Value</label>
        <locationX>904</locationX>
        <locationY>561</locationY>
        <defaultConnector>
            <targetReference>End_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated Value</defaultConnectorLabel>
        <rules>
            <name>First_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant_App_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Merchant_App_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Merchant_Application_Handler</targetReference>
            </connector>
            <label>First Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Opportunity</name>
        <label>Is New Opportunity</label>
        <locationX>903</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Added_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Merchant_Application_Handler</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Merchant Applications - New Opportunity Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant Applications - New Opportunity Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>782</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_New_Opportunity</targetReference>
        </connector>
        <filterLogic>(5 and (6 or 7) and (1 or 2 or 3 or 4))</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AffiniPay</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClientPay</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPACharge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LawPay Payments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Merchant_App_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Sends to Merchant Application - Associated Record Handler flow</description>
        <name>Merchant_Application_Handler</name>
        <label>Merchant Application Handler</label>
        <locationX>1128</locationX>
        <locationY>471</locationY>
        <flowName>Merchant_Application_Associated_Record_Handler</flowName>
        <inputAssignments>
            <name>invar_Merch_App_ID</name>
            <value>
                <elementReference>$Record.Merchant_App_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>invr_Opportunity_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Lead_Previous_State</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_End_Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
