unpackaged/main/default/flows/Merchant_Application_Lookup_Relationships_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Contact_and_Account</name>
        <label>Assign Contact and Account</label>
        <locationX>567</locationX>
        <locationY>2993</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Last_Event_Date</name>
        <label>Assign Last Event Date</label>
        <locationX>534</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Rep_Search</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead</name>
        <label>Assign Lead</label>
        <locationX>303</locationX>
        <locationY>2777</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Referral_Partner</name>
        <label>Assign Referral Partner</label>
        <locationX>512</locationX>
        <locationY>2177</locationY>
        <assignmentItems>
            <assignToReference>$Record.Referral_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPartnershipID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Contact_Search_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Rep_from_Admin_ID</name>
        <label>Assign Sales Rep from Admin ID</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Partner_Search</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Rep_from_Email</name>
        <label>Assign Sales Rep from Email</label>
        <locationX>468</locationX>
        <locationY>1577</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Search</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Check</name>
        <label>Contact Check</label>
        <locationX>699</locationX>
        <locationY>2885</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_and_Account</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Check</name>
        <label>Lead Check</label>
        <locationX>501</locationX>
        <locationY>2669</locationY>
        <defaultConnector>
            <targetReference>Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead</targetReference>
            </connector>
            <label>Lead Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact_Search_Check</name>
        <label>Lead or Contact Search Check</label>
        <locationX>798</locationX>
        <locationY>2453</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_for_Lead_or_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead</targetReference>
            </connector>
            <label>Search for Lead or Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Check</name>
        <label>Partner Check</label>
        <locationX>644</locationX>
        <locationY>2069</locationY>
        <defaultConnector>
            <targetReference>Lead_or_Contact_Search_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPartnershipID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Referral_Partner</targetReference>
            </connector>
            <label>Partner Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Search</name>
        <label>Partner Search</label>
        <locationX>798</locationX>
        <locationY>1853</locationY>
        <defaultConnector>
            <targetReference>Lead_or_Contact_Search_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_for_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner</targetReference>
            </connector>
            <label>Search for Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Rep_Search</name>
        <label>Sales Rep Search</label>
        <locationX>798</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Partner_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Assignment_on_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Admin_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Admin_User_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Search</targetReference>
            </connector>
            <label>No Assignment on Create</label>
        </rules>
        <rules>
            <name>Search_User_on_Create</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Admin_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Admin_User_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_By</targetReference>
            </connector>
            <label>Search User on Create</label>
        </rules>
        <rules>
            <name>Search_User_on_Admin_User_Update</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Admin_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Admin_User_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Admin_User_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Search_By</targetReference>
            </connector>
            <label>Search User on Admin User Update</label>
        </rules>
        <rules>
            <name>Search_User_on_Admin_Email_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Admin_User_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Search_By</targetReference>
            </connector>
            <label>Search User on Admin Email Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_By</name>
        <label>Search By</label>
        <locationX>600</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admin_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Admin_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_by_ID</targetReference>
            </connector>
            <label>Admin ID</label>
        </rules>
        <rules>
            <name>Email_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Admin_User_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_by_Email</targetReference>
            </connector>
            <label>Email Search</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change_Check</name>
        <label>Status Change Check</label>
        <locationX>798</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Sales_Rep_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Event_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Event_Date</targetReference>
            </connector>
            <label>New Application</label>
        </rules>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Last_Event_Date</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found_By_Email_Check</name>
        <label>User Found By Email Check</label>
        <locationX>600</locationX>
        <locationY>1469</locationY>
        <defaultConnector>
            <targetReference>Partner_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found by Email</defaultConnectorLabel>
        <rules>
            <name>Assign_by_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Rep_from_Email</targetReference>
            </connector>
            <label>Assign by Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_ID_Check</name>
        <label>User ID Check</label>
        <locationX>270</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Partner_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null Email</defaultConnectorLabel>
        <rules>
            <name>Assign_from_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Rep_from_Admin_ID</targetReference>
            </connector>
            <label>Assign from ID</label>
        </rules>
        <rules>
            <name>Check_by_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Admin_User_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_by_Email</targetReference>
            </connector>
            <label>Check by Email</label>
        </rules>
    </decisions>
    <description>On create or update searches for related records to populate on Merchant Application</description>
    <environments>Default</environments>
    <formulas>
        <name>f_beginningEmail</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Admin_User_Email__c},Find(&quot;@&quot;, {!$Record.Admin_User_Email__c})-1)</expression>
    </formulas>
    <interviewLabel>Merchant Application: Lookup Relationships Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant Application: Lookup Relationships Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>699</locationX>
        <locationY>2777</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Merchant_App_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant_App_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Merchant_App_ID__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner</name>
        <label>Get Partner</label>
        <locationX>644</locationX>
        <locationY>1961</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partnership_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_ID__c</elementReference>
            </value>
        </filters>
        <object>Partnerships__c</object>
        <outputAssignments>
            <assignToReference>varPartnershipID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>501</locationX>
        <locationY>2561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Check</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Merchant_App_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant_App_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Merchant_App_ID__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_by_Email</name>
        <label>User by Email</label>
        <locationX>600</locationX>
        <locationY>1361</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found_By_Email_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Admin_User_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>f_beginningEmail</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>User_by_ID</name>
        <label>User by ID</label>
        <locationX>270</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_ID_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VT_Admin_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Admin_User_ID__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Change_Check</targetReference>
        </connector>
        <object>Merchant_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varPartnershipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
