unpackaged/main/default/flows/Merchant_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign Product environment value to Record Var</description>
        <name>Assign_Product_Environment_Variables</name>
        <label>Assign Product Environment Variables</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Firm_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c_Affinipay_PE_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.VTID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Virtual_Terminal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Merchant_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant_App_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_PE_Record_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Environment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Linked_Account_Assignment</name>
        <label>Linked Account Assignment</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Create: Merch App Linked Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Environment_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Linked_Contact_Assignment</name>
        <label>Linked Contact Assignment</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Create: Merch App Linked Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Environment_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Linked_Converted_Lead_Assignment</name>
        <label>Linked Converted Lead Assignment</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__r.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Create: Merch App Linked Converted Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Environment_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Linked_Non_Converted_Lead_Assignments</name>
        <label>Linked Non Converted Lead Assignments</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Create: Merch App Linked Non Converted Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Environment_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Linked_Opportunity_Assignment</name>
        <label>Linked Opportunity Assignment</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Product_Evniornment_Final.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Create: Merch App Linked Oppty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Environment_Variables</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>c_Affinipay_PE_Record_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001Dm9MQAS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_record_is_returned</name>
        <label>Check if record is returned</label>
        <locationX>1128</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Environment_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Merch_Application_Links</targetReference>
            </connector>
            <label>Record Not Returned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to make sure VTID is on record</description>
        <name>Has_VTID</name>
        <label>Has VTID</label>
        <locationX>1469</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Virtual_Terminal_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Environment_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merch_Application_Links</name>
        <label>Merch Application Links</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Product_Environment_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Links</defaultConnectorLabel>
        <rules>
            <name>Account_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Linked_Account_Assignment</targetReference>
            </connector>
            <label>Account Linked</label>
        </rules>
        <rules>
            <name>Opportunity_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Linked_Opportunity_Assignment</targetReference>
            </connector>
            <label>Opportunity Linked</label>
        </rules>
        <rules>
            <name>Contact_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Linked_Contact_Assignment</targetReference>
            </connector>
            <label>Contact Linked</label>
        </rules>
        <rules>
            <name>Converted_Lead_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Linked_Converted_Lead_Assignment</targetReference>
            </connector>
            <label>Converted Lead Linked</label>
        </rules>
        <rules>
            <name>Non_Converted_Lead_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Linked_Non_Converted_Lead_Assignments</targetReference>
            </connector>
            <label>Non Converted Lead Linked</label>
        </rules>
    </decisions>
    <description>Creates a product environment record when a merchant application is set to provisioned</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Account</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!$Record.Opportunity__c})),
    {!$Record.Opportunity__r.Account.Id},
    IF(
        NOT(ISBLANK({!$Record.Account__c})),
        {!$Record.Account__c},
        &quot;&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>f_Lead</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        NOT(ISBLANK({!$Record.Lead__c})),
        NOT ({!$Record.Lead__r.IsConverted} = FALSE)
    ),
    {!$Record.Lead__c},
    NULL
)</expression>
    </formulas>
    <formulas>
        <name>f_PE_Record_Name</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Merchant_Name__c}, 78 - LEN({!$Record.Merchant_App_ID__c}) - 3) &amp; &quot; - &quot; &amp; {!$Record.Merchant_App_ID__c}</expression>
    </formulas>
    <interviewLabel>Merchant Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant Application: Create Product Environment on Provision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product_Environment</name>
        <label>Create Product Environment</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <inputReference>r_Product_Evniornment_Final</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Product Environment Records based on the VTID</description>
        <name>Get_Product_Environment_Record</name>
        <label>Get Product Environment Record</label>
        <locationX>1128</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_record_is_returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VTID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Virtual_Terminal_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_Affinipay_PE_Record_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1343</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_VTID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>provisioned</stringValue>
            </value>
        </filters>
        <object>Merchant_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>r_Product_Evniornment_Final</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>v_AccountID_From_MerchApp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
