unpackaged/main/default/flows/Merchant_Application_Opportunity_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Oppty_ID</name>
        <label>Assign Oppty ID</label>
        <locationX>805</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Not_Ready_to_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Completed</name>
        <label>Oppty Assignment - Completed</label>
        <locationX>359</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approvals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Declined</name>
        <label>Oppty Assignment - Declined</label>
        <locationX>1267</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Finished</name>
        <label>Oppty Assignment - Finished</label>
        <locationX>883</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approvals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Incomplete</name>
        <label>Oppty Assignment - Incomplete</label>
        <locationX>1011</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Making</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Provisioned_0</name>
        <label>Oppty Assignment - Provisioned</label>
        <locationX>1402</locationX>
        <locationY>1017</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Sign_Up</name>
        <label>Oppty Assignment - Sign Up</label>
        <locationX>229</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Making</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Submission_Errors</name>
        <label>Oppty Assignment - Submission Errors</label>
        <locationX>749</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approvals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Submitting</name>
        <label>Oppty Assignment - Submitting</label>
        <locationX>623</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approvals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Validating</name>
        <label>Oppty Assignment - Validating</label>
        <locationX>1138</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approvals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppty_Assignment_Validation_Errors</name>
        <label>Oppty Assignment - Validation Errors</label>
        <locationX>498</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>rv_Oppty_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approvals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Status_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>slack_Opprty_Save_Error</name>
        <label>slack_Opprty Save Error</label>
        <locationX>994</locationX>
        <locationY>1410</locationY>
        <assignmentItems>
            <assignToReference>slack_Oppty_Update_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Opportunity_Update_Failed</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Slack_Oppty_Not_Updated</name>
        <label>Slack Oppty Not Updated</label>
        <locationX>531</locationX>
        <locationY>1337</locationY>
        <assignmentItems>
            <assignToReference>slack_Oppty_Update_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_No_Oppty_Update</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Slack_Oppty_Updated</name>
        <label>Slack Oppty Updated</label>
        <locationX>815</locationX>
        <locationY>1536</locationY>
        <assignmentItems>
            <assignToReference>slack_Oppty_Update_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Opportunity_Updated</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Slack_Undefined_App_Status</name>
        <label>Slack Undefined App Status</label>
        <locationX>519</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>slack_Oppty_Update_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Undefined_Status_Error</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Slack_Undefined_App_Status_0</name>
        <label>Slack Undefined App Status</label>
        <locationX>1020</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>slack_Oppty_Update_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Oppty_Update_Skipped</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>slack_Green_Check</name>
        <dataType>String</dataType>
        <value>
            <stringValue>:white_check_mark:</stringValue>
        </value>
    </constants>
    <constants>
        <name>slack_Red_Siren</name>
        <dataType>String</dataType>
        <value>
            <stringValue>:siren-animated:</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Closed</name>
        <label>Is Closed</label>
        <locationX>797</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Merch_Application_Status_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp is Opened</defaultConnectorLabel>
        <rules>
            <name>Opp_is_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slack_Undefined_App_Status_0</targetReference>
            </connector>
            <label>Opp is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merch_Application_Status_Changes</name>
        <label>Merch Application Status Changes</label>
        <locationX>794</locationX>
        <locationY>817</locationY>
        <defaultConnector>
            <targetReference>Slack_Undefined_App_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Sign_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sign up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Sign_Up</targetReference>
            </connector>
            <label>Sign Up</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Validation_Errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Errors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Validation_Errors</targetReference>
            </connector>
            <label>Validation Errors</label>
        </rules>
        <rules>
            <name>Submitting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Submitting</targetReference>
            </connector>
            <label>Submitting</label>
        </rules>
        <rules>
            <name>Submission_Errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submission Errors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Submission_Errors</targetReference>
            </connector>
            <label>Submission Errors</label>
        </rules>
        <rules>
            <name>Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Finished</targetReference>
            </connector>
            <label>Finished</label>
        </rules>
        <rules>
            <name>Provisioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisioned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Provisioned_0</targetReference>
            </connector>
            <label>Provisioned</label>
        </rules>
        <rules>
            <name>Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incomplete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Incomplete</targetReference>
            </connector>
            <label>Incomplete</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Declined</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
        <rules>
            <name>Validating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inrv_Merch_App_Record.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inrv_Merch_App_Record_Prior.Application_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Assignment_Validating</targetReference>
            </connector>
            <label>Validating</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Ready_to_to_Update</name>
        <label>Not Ready to to Update</label>
        <locationX>799</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>Slack_Undefined_App_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Ready_to_Close__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Closed</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_Status_Evaluation</name>
        <label>Oppty Status Evaluation</label>
        <locationX>806</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Update_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dont Match</defaultConnectorLabel>
        <rules>
            <name>Change_and_Current_are_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rv_Oppty_Update.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slack_Oppty_Not_Updated</targetReference>
            </connector>
            <label>Change and Current are Same</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Merchant Application: Opportunity Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant Application: Opportunity Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>805</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Oppty_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inrv_Merch_App_Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>815</locationX>
        <locationY>1408</locationY>
        <connector>
            <targetReference>Slack_Oppty_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>slack_Opprty_Save_Error</targetReference>
        </faultConnector>
        <inputReference>rv_Oppty_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>678</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_No_Oppty_Update</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!slack_Green_Check} Optty Stage *({!Get_Opportunity.StageName})* matches App Stage Mapping *({!rv_Oppty_Update.StageName})*</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Opportunity_Update_Failed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!slack_Red_Siren} Update to opportunity FAILED on save</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Opportunity_Updated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!slack_Green_Check} Opprtunity Styage Updated *({!rv_Oppty_Update.StageName})*</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Oppty_Update_Skipped</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!slack_Red_Siren} Oppty Update Skipped - Oppty is already closed</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Undefined_Status_Error</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!slack_Red_Siren} Oppty Update Undefined App Status *({!inrv_Merch_App_Record.Application_Status__c})*</text>
    </textTemplates>
    <variables>
        <name>inrv_Merch_App_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Merchant_Application__c</objectType>
    </variables>
    <variables>
        <name>inrv_Merch_App_Record_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Merchant_Application__c</objectType>
    </variables>
    <variables>
        <name>rv_Oppty_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>slack_Oppty_Update_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
