unpackaged/main/default/flows/MyCase_AG_Round_Robin_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Range_to_Collection</name>
        <label>Add Range to Collection</label>
        <locationX>469</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>RoundRobinStatusDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!NextUpFormulaEmployeeRange} &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_and_Variables</name>
        <label>Assign Date and Variables</label>
        <locationX>457</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>RoundRobinCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Range</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncrement</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Range_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Counter</name>
        <label>Reset Counter</label>
        <locationX>292</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>RoundRobinCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeRange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupSizeIncrease</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completion</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlueBirdChoice</name>
        <choiceText>Blue Bird</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blue Bird</stringValue>
        </value>
    </choices>
    <choices>
        <name>TrialRoundRobinChoice</name>
        <choiceText>Trial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trial</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Range</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Range</label>
        <locationX>247</locationX>
        <locationY>735</locationY>
        <assignNextValueToReference>currentItem_Filter_Range_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Trial_Round_Robin</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Range_0.Minimum_Units_Managed__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>EmployeeRange</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Range_0.Last_Assignment__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>Get_Range.Last_Assignment__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Date_and_Variables</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>BlueBirdRoundRobinGroup</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a6d3g000000TVUeAAO</stringValue>
        </value>
    </constants>
    <constants>
        <name>SalesTeamCompGroup</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a6d3g000000TVUeAAO</stringValue>
        </value>
    </constants>
    <constants>
        <name>TrialRoundRobinGroupId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a6d3g0000008QZ2AAM</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Blue_Bird_Owner_Reset</name>
        <label>Blue Bird Owner Reset</label>
        <locationX>1182</locationX>
        <locationY>722</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Blue_Bird_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Last_Assignment_BB</targetReference>
            </connector>
            <label>Owner Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completion</name>
        <label>Completion</label>
        <locationX>62</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Get_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_Core</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmployeeRange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesTeamSplit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Round_Robin_Status</targetReference>
            </connector>
            <label>Completed Core</label>
        </rules>
        <rules>
            <name>Completed_Mid_Market</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmployeeRange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>51.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesTeamSplit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid-Market</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Round_Robin_Status</targetReference>
            </connector>
            <label>Completed Mid Market</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Reset</name>
        <label>Owner Reset</label>
        <locationX>1175</locationX>
        <locationY>567</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Last_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Last_Assignment</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Round_Robin_Reset</name>
        <label>Round Robin Reset</label>
        <locationX>532</locationX>
        <locationY>144</locationY>
        <defaultConnector>
            <targetReference>Sales_Team_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reset_Slot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetRoundRobin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity</targetReference>
            </connector>
            <label>Reset Slot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Round_Robin_Selection</name>
        <label>Round Robin Selection</label>
        <locationX>881</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Last_Slot_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blue_Bird_RR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Round_Robin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BlueBirdChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Blue_Bird_Assignment</targetReference>
            </connector>
            <label>Blue Bird RR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team</name>
        <label>Team</label>
        <locationX>284</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Blank_Default_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Team_AE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Team_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trial_Round_Robin</targetReference>
            </connector>
            <label>Existing Team AE</label>
        </rules>
    </decisions>
    <description>Screen flow to show reps on their homepage their status in the trial round robin</description>
    <environments>Default</environments>
    <formulas>
        <name>BlueBirdLastAssignmentReset</name>
        <dataType>DateTime</dataType>
        <expression>{!Last_Blue_Bird_Assignment.Last_Assignment__c} - 1</expression>
    </formulas>
    <formulas>
        <name>f_UserId</name>
        <dataType>String</dataType>
        <expression>IF( {!$User.Id} = &quot;0053g000001K3Jp&quot;, 
&quot;0053g000001K3JUAA0&quot;, {!$User.Id} )</expression>
    </formulas>
    <formulas>
        <name>FirmEmployeesRange</name>
        <dataType>Number</dataType>
        <expression>IF( {!Opportunity.Professional_User_Count__c} &lt; 6, {!Opportunity.Professional_User_Count__c},
IF( AND( {!Opportunity.Professional_User_Count__c} &gt; 5, {!Opportunity.Professional_User_Count__c} &lt; 11), 6, 
IF( AND( {!Opportunity.Professional_User_Count__c} &gt; 10, {!Opportunity.Professional_User_Count__c} &lt; 21), 11, 
IF( AND( {!Opportunity.Professional_User_Count__c} &gt; 20, {!Opportunity.Professional_User_Count__c} &lt; 51), 21,
51 ))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FirmSizeEmployees</name>
        <dataType>String</dataType>
        <expression>TEXT( ROUND( {!Opportunity.Professional_User_Count__c}, 0 ))</expression>
    </formulas>
    <formulas>
        <name>GroupSizeIncrease</name>
        <dataType>Number</dataType>
        <expression>IF( {!Sales_Team_Group.Minimum_Units_Managed__c} = 6,
CASE( {!varIncrement}, 
2, 5,
3, 10,
30), 
1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LastAssignmentReset</name>
        <dataType>DateTime</dataType>
        <expression>{!Last_Slot_Assignment.Last_Assignment__c} - 1</expression>
    </formulas>
    <formulas>
        <name>NextUpFormulaEmployeeRange</name>
        <dataType>String</dataType>
        <expression>TEXT( ROUND( {!Get_Range.Minimum_Units_Managed__c}, 0 )) &amp; 
&quot; EE: &quot; &amp; TEXT( ROUND( {!RoundRobinCounter}, 0 ))</expression>
    </formulas>
    <formulas>
        <name>SalesTeamSplit</name>
        <dataType>String</dataType>
        <expression>IF( {!Sales_Team_Group.Minimum_Units_Managed__c} = 5, &quot;Core&quot;, &quot;Mid-Market&quot;)</expression>
    </formulas>
    <formulas>
        <name>StartingEmployeeSize</name>
        <dataType>Number</dataType>
        <expression>IF( {!Sales_Team_Group.Minimum_Units_Managed__c} = 5, 1, 6)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>MyCase - AG: Round Robin Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MyCase - AG: Round Robin Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Blue_Bird_Owner</name>
        <label>Blue Bird Owner</label>
        <locationX>1055</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Blue_Bird_Owner_Reset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BlueBirdRoundRobinGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userReset.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Groups__c</object>
        <sortField>Last_Assignment__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Range</name>
        <label>Get Range</label>
        <locationX>46</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Range</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrialRoundRobinGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Minimum_Units_Managed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployeeRange</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Groups__c</object>
        <sortField>Last_Assignment__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Last_Blue_Bird_Assignment</name>
        <label>Last Blue Bird Assignment</label>
        <locationX>911</locationX>
        <locationY>718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Blue_Bird_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BlueBirdRoundRobinGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Groups__c</object>
        <sortField>Last_Assignment__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Last_Slot_Assignment</name>
        <label>Last Slot Assignment</label>
        <locationX>1052</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Last_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrialRoundRobinGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Minimum_Units_Managed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirmEmployeesRange</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Groups__c</object>
        <sortField>Last_Assignment__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>743</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Round_Robin_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Owner_Last_Assignment</name>
        <label>Owner Last Assignment</label>
        <locationX>1177</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Reset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrialRoundRobinGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Minimum_Units_Managed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirmEmployeesRange</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userReset.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Groups__c</object>
        <sortField>Last_Assignment__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sales_Team_Group</name>
        <label>Sales Team Group</label>
        <locationX>310</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesTeamCompGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Groups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Trial_Round_Robin</name>
        <label>Trial Round Robin</label>
        <locationX>71</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrialRoundRobinGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assignment_Groups__c</object>
        <sortField>Last_Assignment__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Last_Assignment</name>
        <label>Reset Last Assignment</label>
        <locationX>1283</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Update_Opp_Reset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Owner_Last_Assignment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assignment__c</field>
            <value>
                <elementReference>LastAssignmentReset</elementReference>
            </value>
        </inputAssignments>
        <object>Assignment_Groups__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Last_Assignment_BB</name>
        <label>Reset Last Assignment BB</label>
        <locationX>1361</locationX>
        <locationY>722</locationY>
        <connector>
            <targetReference>Update_Opp_Reset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Blue_Bird_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assignment__c</field>
            <value>
                <elementReference>BlueBirdLastAssignmentReset</elementReference>
            </value>
        </inputAssignments>
        <object>Assignment_Groups__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Reset</name>
        <label>Update Opp Reset</label>
        <locationX>1451</locationX>
        <locationY>565</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Round_Robin_Reset__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Blank_Default_Screen</name>
        <label>Blank Default Screen</label>
        <locationX>517</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reset_User</name>
        <label>Reset User</label>
        <locationX>892</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Round_Robin_Selection</targetReference>
        </connector>
        <fields>
            <name>Reset_User_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reset_User_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resetDisplayBB</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select the Sales Rep to reset the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Blue Bird&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; round robin spot&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Round_Robin</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>BlueBirdChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>resetDisplayTrial</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select the Sales Rep to reset the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Trial&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; round robin spot for &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!FirmSizeEmployees} Employees&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Round_Robin</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>TrialRoundRobinChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reset_User_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reset_User_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reset_User_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reset_User_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lookupDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Lookup the Account Exec to reset and click next&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reset_User_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>userReset</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Executive</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>IsActive = true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reset_User_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reset_User_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Round_Robin_Status</name>
        <label>Round Robin Status</label>
        <locationX>519</locationX>
        <locationY>407</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>blankDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;display&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Round_Robin_Status_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Round_Robin_Status_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>roundRobinDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Trial Round Robin Status&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Firm Size: Next Up In&lt;/u&gt;&lt;/em&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;﻿{!RoundRobinStatusDisplay}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Round_Robin_Status_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Round_Robin_Status_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Round_Robin_Status_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Round_Robin_Type</name>
        <label>Round Robin Type</label>
        <locationX>891</locationX>
        <locationY>138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_User</targetReference>
        </connector>
        <fields>
            <name>RoundRobinChoiceDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select the applicable Round Robin to reset for the AE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Round_Robin</name>
            <choiceReferences>TrialRoundRobinChoice</choiceReferences>
            <choiceReferences>BlueBirdChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Round Robin</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>69</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Round_Robin_Reset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Range_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assignment_Groups__c</objectType>
    </variables>
    <variables>
        <name>EmployeeRange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>StartingEmployeeSize</elementReference>
        </value>
    </variables>
    <variables>
        <name>LastAssignedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>LoopCollectionSlots</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Assignment_Groups__c</objectType>
    </variables>
    <variables>
        <name>NextEmployeeRange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ResetRoundRobin</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RoundRobinCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RoundRobinDisplayCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RoundRobinStatusDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIncrement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTestUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
