unpackaged/main/default/flows/Onboarding_Complete_Record_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>CASEpeer_Record_Type</name>
        <label>CASEpeer Record Type</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CASEpeer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Onboarding_Record_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASEpeer</stringValue>
                </rightValue>
            </conditions>
            <label>CASEpeer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlaValuePlusPrimaryContact</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Opportunity.Signer__c}), 
{!Get_Opportunity.Primary_Contact__c}, 
{!Get_Opportunity.Signer__c}
)</expression>
    </formulas>
    <interviewLabel>Onboarding: Complete Record from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding: Complete Record from Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Onboarding_Record_Types</name>
        <label>Get Onboarding Record Types</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CASEpeer_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.RecordType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onboarding_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Onboarding_Record</name>
        <label>Update Onboarding Record</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Opp_with_Onboarding_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>Get_Opportunity.Account_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Setup__c</field>
            <value>
                <elementReference>Get_Opportunity.Account_Setup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Notes__c</field>
            <value>
                <elementReference>Get_Opportunity.Contract_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Doc_Gen_Workaround__c</field>
            <value>
                <elementReference>Get_Opportunity.Current_Doc_Gen_Workaround__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Implementation_Owner__c</field>
            <value>
                <elementReference>Get_Opportunity.Data_Implementation_Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Import_Source__c</field>
            <value>
                <elementReference>Get_Opportunity.Data_Import_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Migration_Discount__c</field>
            <value>
                <elementReference>Get_Opportunity.Days_In_Data_Migration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Migration_Needed__c</field>
            <value>
                <elementReference>Get_Opportunity.Data_Migration_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Migration_Note__c</field>
            <value>
                <elementReference>Get_Opportunity.Data_Migration_Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Migration_Sources__c</field>
            <value>
                <elementReference>Get_Opportunity.Data_Migration_Sources__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Migration_Tier__c</field>
            <value>
                <elementReference>Get_Opportunity.Data_Migration_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Migration__c</field>
            <value>
                <elementReference>Get_Opportunity.Data_Migration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Received_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.Data_Received_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Maker_s_and_role_at_firm__c</field>
            <value>
                <elementReference>Get_Opportunity.Decision_Maker_s_and_role_at_firm__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doc_Migration_Plan_Details__c</field>
            <value>
                <elementReference>Get_Opportunity.Doc_Migration_Plan_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doc_Migration_Plan_Discussed__c</field>
            <value>
                <elementReference>Get_Opportunity.Doc_Migration_Plan_Discussed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Note__c</field>
            <value>
                <elementReference>Get_Opportunity.Implementation_Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Software__c</field>
            <value>
                <elementReference>Get_Opportunity.Industry_Software__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integrations_Requested__c</field>
            <value>
                <elementReference>Get_Opportunity.Integrations_Requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Migration_Data_Points__c</field>
            <value>
                <elementReference>Get_Opportunity.Key_Migration_Data_Points__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Software__c</field>
            <value>
                <elementReference>Get_Opportunity.Legacy_Software__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_Top_Features__c</field>
            <value>
                <elementReference>Get_Opportunity.List_of_Top_Features__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live__c</field>
            <value>
                <elementReference>Get_Opportunity.Live__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Migrated_Case_Count__c</field>
            <value>
                <elementReference>Get_Opportunity.Migrated_case_count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Subscriber_with_Templates__c</field>
            <value>
                <elementReference>Get_Opportunity.MyCase_Subscriber_with_Templates__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Get_Opportunity.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Users__c</field>
            <value>
                <elementReference>Get_Opportunity.Number_of_Users__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_POC__c</field>
            <value>
                <elementReference>Get_Opportunity.Onboarding_POC__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Scheduled_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.Onboarding_Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Details__c</field>
            <value>
                <elementReference>Get_Opportunity.Payment_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>Get_Opportunity.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Possible_Documents__c</field>
            <value>
                <elementReference>Get_Opportunity.Possible_Documents__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Environment__c</field>
            <value>
                <elementReference>Get_Opportunity.Product_Environment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Go_Live_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.Projected_go_live_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo__c</field>
            <value>
                <elementReference>Get_Opportunity.Promo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Onboarding_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Partnership__c</field>
            <value>
                <elementReference>Get_Opportunity.Referral_Partnership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_Onboarding_Workbook__c</field>
            <value>
                <elementReference>Get_Opportunity.Sent_Onboarding_Workbook__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Tier__c</field>
            <value>
                <elementReference>Get_Opportunity.Software_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Pricing__c</field>
            <value>
                <elementReference>Get_Opportunity.Special_Pricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Underwriting_Notes__c</field>
            <value>
                <elementReference>Get_Opportunity.Underwriting_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Used_Doc_Gen_Previously__c</field>
            <value>
                <elementReference>Get_Opportunity.Used_Doc_Gen_Previously__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Licenses__c</field>
            <value>
                <elementReference>Get_Opportunity.User_Licenses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wild_Apricot_Start_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.Wild_Apricot_Start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Woodpecker_Subscription_Interval__c</field>
            <value>
                <elementReference>Get_Opportunity.Woodpecker_Subscription_Interval__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Onboarding_Record</name>
        <label>Update Opp with Onboarding Record</label>
        <locationX>308</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Environment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
