unpackaged/main/default/flows/Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Record_ID</name>
        <label>Assign Record ID</label>
        <locationX>956</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Onboarding_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Churn_Risk_Assignment</name>
        <label>Churn Risk</label>
        <locationX>1704</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Churn_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Introduction_sent</name>
        <label>Introduction sent</label>
        <locationX>272</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Introduction_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KOC_Completed_Assignment</name>
        <label>KOC Completed</label>
        <locationX>523</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.KOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KOC_Scheduled_Assignment</name>
        <label>KOC Scheduled</label>
        <locationX>410</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.KOC_Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Live_Assignment</name>
        <label>Live</label>
        <locationX>1387</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Live_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lost_Assignment</name>
        <label>Lost</label>
        <locationX>1509</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Responsive_Assignment</name>
        <label>Non-Responsive</label>
        <locationX>1813</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Non_responsive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onboarding_Assignment</name>
        <label>Onboarding</label>
        <locationX>1614</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P1_Import_Complete_Assignment</name>
        <label>P1 - Import Complete</label>
        <locationX>865</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Import_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P1_Import_in_Progress_Assignment</name>
        <label>P1 - Import in Progress</label>
        <locationX>626</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.In_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P1_Import_Sign_Off_Assignment</name>
        <label>P1 - Import Sign Off</label>
        <locationX>744</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Sign_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P2_Import_Complete_Assignment</name>
        <label>P2 - Import Complete</label>
        <locationX>1275</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Phase_2_Import_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P2_Import_In_Progress_Assignment</name>
        <label>P2 - Import In Progress</label>
        <locationX>1042</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Phase_2_Import_In_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P2_Import_Sign_Off_Assignment</name>
        <label>P2 - Import Sign Off</label>
        <locationX>1163</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Phase_2_Import_Sign_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Onboarding_Record_Update.Stage_Entered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Onboarding_Group</name>
        <label>Onboarding Record Type</label>
        <locationX>948</locationX>
        <locationY>438</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MyCase_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Changes</targetReference>
            </connector>
            <label>MyCase Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Changes</name>
        <label>Stage Changes</label>
        <locationX>946</locationX>
        <locationY>628</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Introduction_Sent_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Introduction sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Introduction sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Introduction_sent</targetReference>
            </connector>
            <label>Introduction_Sent</label>
        </rules>
        <rules>
            <name>KOC_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KOC Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>KOC Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KOC_Scheduled_Assignment</targetReference>
            </connector>
            <label>KOC Scheduled</label>
        </rules>
        <rules>
            <name>KOC_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KOC Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>KOC Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KOC_Completed_Assignment</targetReference>
            </connector>
            <label>KOC Completed</label>
        </rules>
        <rules>
            <name>P1_Import_in_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1: Import In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1: Import In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P1_Import_in_Progress_Assignment</targetReference>
            </connector>
            <label>P1 - Import in Progress</label>
        </rules>
        <rules>
            <name>P1_Import_Sign_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1: Import Sign-off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1: Import Sign-off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P1_Import_Sign_Off_Assignment</targetReference>
            </connector>
            <label>P1 - Import Sign-Off</label>
        </rules>
        <rules>
            <name>P1_Import_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1: Import Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1: Import Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P1_Import_Complete_Assignment</targetReference>
            </connector>
            <label>P1 - Import Complete</label>
        </rules>
        <rules>
            <name>P2_Import_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2: Import In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2: Import In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P2_Import_In_Progress_Assignment</targetReference>
            </connector>
            <label>P2 - Import In Progress</label>
        </rules>
        <rules>
            <name>P2_Import_Sign_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2: Import Sign-Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2: Import Sign-Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P2_Import_Sign_Off_Assignment</targetReference>
            </connector>
            <label>P2 - Import Sign Off</label>
        </rules>
        <rules>
            <name>P2_Import_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2: Import Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2: Import Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P2_Import_Complete_Assignment</targetReference>
            </connector>
            <label>P2 - Import Complete</label>
        </rules>
        <rules>
            <name>Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Live_Assignment</targetReference>
            </connector>
            <label>Live</label>
        </rules>
        <rules>
            <name>Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lost_Assignment</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
        <rules>
            <name>Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_Assignment</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Churn_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Churn Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Churn_Risk_Assignment</targetReference>
            </connector>
            <label>Churn Risk</label>
        </rules>
        <rules>
            <name>Non_Responsive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Migration_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-responsive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_Migration_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-responsive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Responsive_Assignment</targetReference>
            </connector>
            <label>Non Responsive</label>
        </rules>
    </decisions>
    <description>2/6/24 JC - Updated to include Churn Risk and Non-Responsive assignments. Removed constant for Record Type ID</description>
    <environments>Default</environments>
    <formulas>
        <name>for_TodaysDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding: Stage Date Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Onboarding_Record</name>
        <label>Update Onboarding Record</label>
        <locationX>958</locationX>
        <locationY>1023</locationY>
        <inputReference>rv_Onboarding_Record_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>828</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Assign_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Migration_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rv_Onboarding_Record_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
