unpackaged/main/default/flows/Opportunity_Admin_Contract_Reprocess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Product_Environment_Record</name>
        <label>Product Environment Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>in_Soluno_Prod_Env_RecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluate_and_Create_Customer_Numbers.var_Product_Enviorment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Modify_Subscription_Contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Soluno_Opportunity</name>
        <label>Soluno Opportunity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Modify_Subscription_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soluno</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_and_Create_Customer_Numbers</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>replaced the last subflow (Opp - subflow - admin contract reprocess) with the Create/Modify subscription contract subflow</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Admin Contract Reprocess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Admin Contract Reprocess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Examine_Opportunity_for_Referral_Partnership_Linkage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Reprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Reprocess__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Modify_Subscription_Contract</name>
        <label>Create/Modify Subscription Contract</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <flowName>Opportunity_Subflow_Create_Modify_Subscription_Contract</flowName>
        <inputAssignments>
            <name>recOpportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Evaluate_and_Create_Customer_Numbers</name>
        <label>Evaluate and Create Customer Numbers</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Product_Environment_Record</targetReference>
        </connector>
        <flowName>ID_Builder_Soluno_Customer_and_Serial_Compiler</flowName>
        <inputAssignments>
            <name>var_Account_Record_ID</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Examine_Opportunity_for_Referral_Partnership_Linkage</name>
        <label>Examine Opportunity for Referral Partnership Linkage</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Soluno_Opportunity</targetReference>
        </connector>
        <flowName>Referral_Opportunity_Referral_Examination_Subflow</flowName>
        <inputAssignments>
            <name>recOpportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>in_Soluno_Prod_Env_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
