unpackaged/main/default/flows/Opportunity_LawPay_Pro_Firm_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Opp_Has_Linked_Firm</name>
        <label>Assign Opp Has Linked Firm</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>HasLinkedFirm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrialAccountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trial_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Show_Variables</name>
        <label>Assign Show Variables</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>OppApprovalsStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opp_Has_Linked_Firm</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trial_Expiration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>trial_actions_buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial Expiration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extend_Trial_Flow</targetReference>
            </connector>
            <label>Trial Expiration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_Opp_Has_Linked_Firm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approvals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approvals</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Show_Variables</targetReference>
            </connector>
            <label>Approvals</label>
        </rules>
    </decisions>
    <description>Master screen flow for LawPay Pro Opportunities to manage the trial and purchase.</description>
    <environments>Default</environments>
    <formulas>
        <name>ClosedLostFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF( TEXT({!Opportunity.StageName}) = &quot;Closed Lost&quot;, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>CurrentTrialExpiration</name>
        <dataType>String</dataType>
        <expression>&quot;TEST&quot;</expression>
    </formulas>
    <formulas>
        <name>OppManagementDisplayFormula</name>
        <dataType>String</dataType>
        <expression>&quot;MyCase Firm Actions&quot;</expression>
    </formulas>
    <formulas>
        <name>TrialAccountFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISBLANK( {!Opportunity.Product_Environment__c} ), FALSE, TRUE)</expression>
    </formulas>
    <formulas>
        <name>TrialExpired</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
OR( 
ISBLANK( {!Opportunity.Product_Environment__r.Trial_Expiration__c} ),
{!Opportunity.Product_Environment__r.Trial_Expiration__c} &lt; TODAY()),
TRUE,
FALSE
)</expression>
    </formulas>
    <interviewLabel>Opportunity: LawPay Pro Firm Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: LawPay Pro Firm Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Trial_Actions</name>
        <label>Trial Actions</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>txt_Instructions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;LawPay Pro Firm Actions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click the below button to adjust the trial end date.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>trial_actions_buttons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Adjust Trial Expiration&quot;,&quot;value&quot;:&quot;Trial Expiration&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:date_input&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Extend_Trial_Flow</name>
        <label>Extend Trial Flow</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <flowName>Opportunity_Extend_MyCase_Trial</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>HasLinkedFirm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OppApprovalsStage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
