unpackaged/main/default/flows/Opportunity_Update_Default_Values_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Close_Date</name>
        <label>Assign Close Date</label>
        <locationX>402</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Type_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Sales_Lead_Type_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Close_Date_Populated</name>
        <label>Is Close Date Populated?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Close_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Close_Date_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Type_Populated</targetReference>
            </connector>
            <label>Yes Close Date Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LawPay_or_MyCase_Opportunity</name>
        <label>Is LawPay or MyCase Opportunity</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Update_All_Customer_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LawPay_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LawPay_6QA_Value</targetReference>
            </connector>
            <label>LawPay Opportunity</label>
        </rules>
        <rules>
            <name>MyCase_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyCase_6QA_Value</targetReference>
            </connector>
            <label>MyCase Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Lead_Type_Null</name>
        <label>Is Sales Lead Type Null</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cntcts_Last_Act_Date_Before_Opty_Create__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Lead_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Lead_Type_to_Outbound</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Type_Populated</name>
        <label>Is Type Populated?</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Assign_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Type_Is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Sales_Lead_Type_Null</targetReference>
            </connector>
            <label>Yes Type Is Populated</label>
        </rules>
    </decisions>
    <description>8/8/2023 Added MyCase 6QA and LawPay 6QA assignment
10/13/2023 Added Customer Status&#39; fields for all Opps generated
11/8/2023 Added logic to update Sales Lead Type to Outbound when appropriate</description>
    <environments>Default</environments>
    <formulas>
        <name>fxCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <interviewLabel>Opportunity - Update Default Values on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Default Values on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_LawPay_or_MyCase_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_LawPay_6QA_Value</name>
        <label>Assign LawPay 6QA Value</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <inputAssignments>
            <field>AffiniPay_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.AffiniPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASEpeer_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.CASEpeer_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPACharge_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.CPACharge_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientPay_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.ClientPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docketwise_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.Docketwise_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_6QA__c</field>
            <value>
                <elementReference>Get_Account.LawPay_6QA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.LawPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_Product_Tier__c</field>
            <value>
                <elementReference>Get_Account.LawPay_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.MyCase_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Product_Tier__c</field>
            <value>
                <elementReference>Get_Account.MyCase_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Websites_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.Websites_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MyCase_6QA_Value</name>
        <label>MyCase 6QA Value</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <inputAssignments>
            <field>AffiniPay_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.AffiniPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASEpeer_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.CASEpeer_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPACharge_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.CPACharge_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientPay_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.ClientPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docketwise_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.Docketwise_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.LawPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_Product_Tier__c</field>
            <value>
                <elementReference>Get_Account.LawPay_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_6QA__c</field>
            <value>
                <elementReference>Get_Account.MyCase_6QA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.MyCase_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Product_Tier__c</field>
            <value>
                <elementReference>Get_Account.MyCase_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Websites_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.Websites_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Customer_Status</name>
        <label>Update All Customer Status</label>
        <locationX>578</locationX>
        <locationY>1403</locationY>
        <inputAssignments>
            <field>AffiniPay_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.AffiniPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASEpeer_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.CASEpeer_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPACharge_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.CPACharge_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientPay_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.ClientPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docketwise_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.Docketwise_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.LawPay_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_Product_Tier__c</field>
            <value>
                <elementReference>Get_Account.LawPay_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.MyCase_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Product_Tier__c</field>
            <value>
                <elementReference>Get_Account.MyCase_Product_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Websites_Customer_Status__c</field>
            <value>
                <elementReference>Get_Account.Websites_Customer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Lead_Type_to_Outbound</name>
        <label>Update Sales Lead Type to Outbound</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Lead_Type__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Close_Date_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bypass_VR_and_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
