unpackaged/main/default/flows/Opportunity_Create_from_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>OpenOpportunity</name>
        <label>OpenOpportunity</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varOpportunityRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Approvals</name>
        <choiceText>Approvals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approvals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deicison_Making</name>
        <choiceText>Deicison Making</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decision Making</stringValue>
        </value>
    </choices>
    <choices>
        <name>Meeting_Scheduled</name>
        <choiceText>Meeting Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Needs_Analysis</name>
        <choiceText>Needs Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Analysis</stringValue>
        </value>
    </choices>
    <description>1. Select Record Type. 2. Review pre-defined values, populate where required.</description>
    <dynamicChoiceSets>
        <description>Gets a list of Opportunity Record Type values for a picklist</description>
        <name>OpportunityRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varOppRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppStageChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlaCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF( 
     {!fmlaNaturalCloseDateWithinCurrentMonth} = TRUE, 
     {!fmlaNaturalCloseDate}, 
     {!fmlaNextMonthCloseDate}
     )</expression>
    </formulas>
    <formulas>
        <name>fmlaCurrentMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fmlaDayInYear</name>
        <dataType>Number</dataType>
        <expression>DAYOFYEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Determine natural close date in order to discover if it&#39;s in the current month or next month</description>
        <name>fmlaNaturalCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 14

/*
DATE( 
          YEAR( {!$Flow.CurrentDate} -1 ), 
          12, 
          31
         ) 
+ {!fmlaDayInYear} + 14
*/</expression>
    </formulas>
    <formulas>
        <name>fmlaNaturalCloseDateWithinCurrentMonth</name>
        <dataType>Boolean</dataType>
        <expression>IF( MONTH( {!$Flow.CurrentDate}) = MONTH( {!fmlaNaturalCloseDate} ) , TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>fmlaNextMonthCloseDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
          YEAR(ADDMONTHS( {!fmlaNaturalCloseDate} ,1)), 
          MONTH(ADDMONTHS({!fmlaNaturalCloseDate},1)), 
          1)
 - 1
/*
DATE(
         YEAR( fmlaNaturalCloseDate ) ,
         MONTH( fmlaNaturalCloseDate ) ,
         ADDMONTHS( fmlaNaturalCloseDate , 1 ) 
         )
*/</expression>
    </formulas>
    <formulas>
        <name>fmlaNullDate</name>
        <dataType>Date</dataType>
        <expression>Datevalue(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlaOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact_Record.Account.Name} &amp; &#39; - &#39; &amp; {!varOppRecordTypeName}</expression>
    </formulas>
    <formulas>
        <description>https://affinipaymain.lightning.force.com/ &amp;&amp; new OppId</description>
        <name>fmlaOpportunityURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://affinipaymain.lightning.force.com/&quot;&amp;{!OppRecord.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity: Create from Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Create from Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>varOpportunityRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Related_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AcctLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Opportunity_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecasted_Users__c</field>
            <value>
                <elementReference>Opportunity_Forecast_User_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outbound_Reason__c</field>
            <value>
                <elementReference>Get_Contact_Record.Outbound_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OpportunityOwner.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>PrimaryContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_Rep__c</field>
            <value>
                <elementReference>QualifyingRep.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Choose_Opportunity_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Lead_Type__c</field>
            <value>
                <elementReference>Get_Contact_Record.Sales_Lead_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Opportunity_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>OpenOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outbound_Assigned_Date__c</field>
            <value>
                <elementReference>fmlaNullDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outbound_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Lead_Type__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Account</name>
        <label>Update Related Account</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Account_Professional_User_Count</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>Account_Professional_User_Count</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Pre_Populated_Opp_Screen</name>
        <label>2. Pre-Populated Opp Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>AcctLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Contact_Record.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Opportunity_Type</name>
            <choiceReferences>OpportunityTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>fmlaCloseDate</elementReference>
            </defaultValue>
            <fieldText>Opportunity Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;By default: If the day is greater than 14, push to end of next month. Otherwise, end of current month. &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fmlaOpportunityName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <choiceReferences>Meeting_Scheduled</choiceReferences>
            <choiceReferences>Needs_Analysis</choiceReferences>
            <choiceReferences>Deicison_Making</choiceReferences>
            <choiceReferences>Approvals</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Meeting Scheduled</stringValue>
            </defaultValue>
            <fieldText>Opportuntity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;defaulted to first stage in the Opportunity (Meeting Scheduled)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpportunityOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>QualifyingRep</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Qualifying Rep</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PrimaryContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Contact_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Opportunity_Forecast_User_Count</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Record.Account.NumberOfEmployees</elementReference>
            </defaultValue>
            <fieldText>Opportunity Forecast User Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Account_Professional_User_Count</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Record.Account.NumberOfEmployees</elementReference>
            </defaultValue>
            <fieldText>Account Professional User Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>1. Select Record Type</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pre_Populated_Opp_Screen</targetReference>
        </connector>
        <fields>
            <name>Choose_Opportunity_Record_Type</name>
            <choiceReferences>OpportunityRecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Opportunity Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>newly created Opportunity</description>
        <name>varOpportunityRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the Record Type selected on Screen 1</description>
        <name>varOppRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
