unpackaged/main/default/flows/Opportunity_Assign_Recrod_Type_from_Sku_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_LawPay_Payments_Record_Type</name>
        <label>Assign LawPay Payments Record Type</label>
        <locationX>704</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LawPay_Payments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ReordType_Variable</name>
        <label>Assign ReordType Variable</label>
        <locationX>440</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LawPay_Software</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordTypeVariables</name>
        <label>AssignRecordTypeVariables</label>
        <locationX>1232</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sku_Product.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LawPay_Opp</name>
        <label>LawPay Opp</label>
        <locationX>968</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>AssignRecordTypeVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decLawPayOpp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sku_Product.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LawPay_Payments_of_LawPay_Software</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LawPay_Payments_of_LawPay_Software</name>
        <label>LawPay Payments of LawPay Software</label>
        <locationX>704</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decLawPaySoftware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sku_Product.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ReordType_Variable</targetReference>
            </connector>
            <label>LawPay Software</label>
        </rules>
        <rules>
            <name>decLawPayPayments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sku_Product.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LawPay_Payments_Record_Type</targetReference>
            </connector>
            <label>LawPayPayments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Types_Match</name>
        <label>Record Types Match</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>LawPay_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Type Match</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Types_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Sku_Product.RecordType.Name</elementReference>
                </rightValue>
            </conditions>
            <label>Yes Record Types Match</label>
        </rules>
        <rules>
            <name>LawPay_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay Payments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sku_Product.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sku_Product.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payments</stringValue>
                </rightValue>
            </conditions>
            <label>LawPay Payments</label>
        </rules>
        <rules>
            <name>LawPay_Software</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sku_Product.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sku_Product.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <label>LawPay Software</label>
        </rules>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <label>Parent</label>
        </rules>
    </decisions>
    <description>Checks for mismatched record type from sku product and assigns correct record type to Opportunity</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Assign Recrod Type from Sku Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Assign Record Type from Sku Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sku_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>968</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sku_Product</name>
        <label>Get Sku Product</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Types_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SKU_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SKU_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record_Type</name>
        <label>Update Opportunity Record Type</label>
        <locationX>968</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <object>Opportunity_SKU__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
