unpackaged/main/default/flows/Opportunity_SKU_Select_Oppty_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Name_Values_0</name>
        <label>With Promo Value Assignment</label>
        <locationX>1064</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>SKUListValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>text_Product_Line_WithPromo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_SKU_Count</name>
        <label>Get SKU Count</label>
        <locationX>690</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>var_SKU_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Locate_new_SKUs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sku_s_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Promo_Value_Assignment</name>
        <label>No Promo Value Assignment</label>
        <locationX>1065</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>SKUListValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>text_Product_Line_NoPromo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Line Break</description>
        <name>con_LineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Promo_s_Found</name>
        <label>Promo&#39;s Found</label>
        <locationX>1278</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>No_Promo_Value_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oppy_Promos.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name_Values_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sku_s_Found</name>
        <label>Sku&#39;s Found</label>
        <locationX>682</locationX>
        <locationY>652</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SKU_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Opportunity Field updates needed at the end of the SKU Select process</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: SKU Select - Oppty Field Updates</label>
    <loops>
        <description>Loop through list of SKUs and pull in any new values.</description>
        <name>Loop</name>
        <label>Loop Through SKUs</label>
        <locationX>887</locationX>
        <locationY>658</locationY>
        <collectionReference>Locate_new_SKUs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Oppy_Promos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Oppy_Promos</name>
        <label>Get Oppy Promos</label>
        <locationX>1014</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promo_s_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Promo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find all new SKU entries.</description>
        <name>Locate_new_SKUs</name>
        <label>Locate new SKUs</label>
        <locationX>689</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SKU_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>subvar_Opportunity_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>771</locationX>
        <locationY>983</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>subvar_Opportunity_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SKUs_Added__c</field>
            <value>
                <elementReference>SKUListValue</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>563</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>Locate_new_SKUs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_Product_Line_NoPromo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Qty: {!Loop.Qty__c} | Product: {!Loop.SKU_Product__r.Name}  | Unit Price: ${!Loop.SKU_Product__r.Price_Base__c}     {!con_LineBreak}
{!con_LineBreak}</text>
    </textTemplates>
    <textTemplates>
        <name>text_Product_Line_WithPromo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Qty: {!Loop.Qty__c} | Product: {!Loop.SKU_Product__r.Name}  | Unit Price: ${!Loop.SKU_Product__r.Price_Base__c}   | Promotion: {!Get_Oppy_Promos.Product_SKU_Promotion__r.Name}  {!con_LineBreak}
{!con_LineBreak}</text>
    </textTemplates>
    <variables>
        <name>EndProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SKUListValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>subvar_Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Prom_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Promo_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_SKU_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
