unpackaged/main/default/flows/Opportunity_Contact_Role_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Account_Status</name>
        <label>Account Status</label>
        <locationX>484</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Account.Customer_Status_Overall__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Status_to_Customer</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Not_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Account.Customer_Status_Overall__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Marketing_Nurture</targetReference>
            </connector>
            <label>Not Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_an_Opportunity_Open</name>
        <label>Is an Opportunity Open</label>
        <locationX>704</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Loop_over_OCRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_OCRs.Opportunity.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Open Opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Any_Opportunities_Returned</name>
        <label>Were Any Opportunities Returned</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Contact_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities_for_Contact_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Contact Role - Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contact Role - Deleted</label>
    <loops>
        <name>Loop_over_OCRs</name>
        <label>Loop over OCRs</label>
        <locationX>484</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_Opportunity_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_an_Opportunity_Open</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunities_for_Contact_Id</name>
        <label>Get Opportunities for Contact Id</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Any_Opportunities_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Contact_Records</name>
        <label>Get Opportunity Contact Records</label>
        <locationX>484</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_OCRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Contact_Status_to_Customer</name>
        <label>Set Contact Status to Customer</label>
        <locationX>220</locationX>
        <locationY>1211</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_Marketing_Nurture</name>
        <label>Set Status to Marketing Nurture</label>
        <locationX>484</locationX>
        <locationY>1211</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nurture_Marketing_Reasons__c</field>
            <value>
                <stringValue>No Authority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Marketing Nurture</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities_for_Contact_Id</targetReference>
        </connector>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
