unpackaged/main/default/flows/Opportunity_SKU_Created_Updated_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Evaluate_Record_Type</name>
        <label>Evaluate Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Correct_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Record_Type</name>
            <conditionLogic>1 OR (2 AND 3 AND (4 OR 5)) OR 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SKU_Product__r.RecordType.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay Payments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SKU_Product__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SKU_Product__r.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SKU_Product__r.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Forecasted_User_Updated_Needed</targetReference>
            </connector>
            <label>Matching Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forecasted_User_Updated_Needed</name>
        <label>Forecasted User Updated Needed</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Product_Sub_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ForecastedUserUpdateNeeded</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>fxOpportunityRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxOpportunityRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASEpeer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxOpportunityRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxOpportunityRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docketwise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Main</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Qty__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Forecasted_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Sub_Family</name>
        <label>Product Sub Family</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Soluno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Sub_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soluno</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Tier_Pricing</targetReference>
            </connector>
            <label>Soluno</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fxISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>fxOpportunityRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.SKU_Product__r.RecordType.Name},&#39;LawPay&#39;)&amp;&amp;ISPICKVAL({!$Record.SKU_Product__r.Product_Family__c},&#39;Software&#39;),&#39;LawPay_Software&#39;,

IF(CONTAINS({!$Record.SKU_Product__r.RecordType.Name},&#39;LawPay&#39;)&amp;&amp;ISPICKVAL({!$Record.SKU_Product__r.Product_Family__c},&#39;Payments&#39;),&#39;LawPay_Payments&#39;,

{!$Record.SKU_Product__r.RecordType.Name}
))</expression>
    </formulas>
    <formulas>
        <name>fxOpportunityRecordTypeName</name>
        <dataType>String</dataType>
        <expression>IF({!Matching_Record_Type},{!$Record.Opportunity__r.RecordType.Name},{!Get_Correct_Record_Type_ID.Name})</expression>
    </formulas>
    <interviewLabel>Opportunity SKU: Created/Updated - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity SKU: Created/Updated - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Correct_Record_Type_ID</name>
        <label>Get Correct Record Type ID</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxOpportunityRecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Forecasted_Users</name>
        <label>Update Forecasted Users</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Product_Sub_Family</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Forecasted_Users__c</field>
            <value>
                <elementReference>$Record.Qty__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_Type</name>
        <label>Update Opportunity Record Type</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Forecasted_User_Updated_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Correct_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Record_Type</targetReference>
        </connector>
        <object>Opportunity_SKU__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Tier_Pricing</name>
        <label>Calculate Tier Pricing</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <flowName>Opportunity_SKU_Soluno_Tier_Calcs</flowName>
        <inputAssignments>
            <name>in_Oppty_SKU_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
