unpackaged/main/default/flows/Opportunity_Assign_Has_Referral_with_Prohibited_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>var_CountofReferralsProhibited</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>coll_HasReferralProhibited</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Greater_Than_Zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Referrals_that_are_Prohibited</name>
        <label>Count Referrals that are Prohibited</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>coll_HasReferralProhibited</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Referral_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Referral_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Greater_Than_Zero</name>
        <label>Greater Than Zero</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Greater_than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountofReferralsProhibited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Yes Greater than Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Record_Outbound_and_Inbound_Prohibited</name>
        <label>Referral Record Outbound and Inbound Prohibited</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Referral_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Referral_has_Outbound_and_Inbound_Prohibited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Referral_Records.Partner_Software_Non_Compete_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound and Inbound Prohibited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Referrals_that_are_Prohibited</targetReference>
            </connector>
            <label>Yes Referral has Outbound and Inbound Prohibited</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Assign Has Referral with Prohibited Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Assign Has Referral with Prohibited Status</label>
    <loops>
        <name>Loop_Through_Referral_Records</name>
        <label>Loop Through Referral Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Referral_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Referral_Record_Outbound_and_Inbound_Prohibited</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Referral_Records</name>
        <label>Get Referral Records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Referral_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Has_Referral_with_Prohibited_Status__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Referral_Records</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_HasReferralProhibited</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>var_CountofReferralsProhibited</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
