unpackaged/main/default/flows/Opportunity_Add_Placeholder_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Placeholder_Users_Permission</name>
        <label>Placeholder Users Permission</label>
        <locationX>232</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Placeholder_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_Add_Placeholder_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentPlaceholderUsers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Placeholder_Users</targetReference>
            </connector>
            <label>Can Add Placeholder Users</label>
        </rules>
    </decisions>
    <description>Screen flow allowing reps to add placeholder users for firm</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Add Placeholder Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Add Placeholder Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>618</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>Add_Placeholder_Users_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Placeholder_Users__c</field>
            <value>
                <elementReference>Number_of_Placeholder_Users</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Add_Placeholder_Users</name>
        <label>Add Placeholder Users</label>
        <locationX>458</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <fields>
            <name>Add_Placeholder_Users_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Placeholder_Users_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>placeholderUsersDisplay</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Enter the number of placeholder users to add for the firm.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;This action can only be executed once per firm.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Placeholder_Users_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Placeholder_Users</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Number of Placeholder Users</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Placeholder_Validation</name>
        <label>Placeholder Validation</label>
        <locationX>242</locationX>
        <locationY>441</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>placeholderErrorConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;This firm has already had placeholder users added to it. This action can only be executed once per firm.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Placeholder_Users_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Placeholder_Users_Flow</name>
        <label>Add Placeholder Users Flow</label>
        <locationX>807</locationX>
        <locationY>207</locationY>
        <flowName>Integration_Queue_New_Integration_Queue_Subflow</flowName>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>MyCase Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubProcess</name>
            <value>
                <stringValue>MC Add Placeholder Users</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varCurrentPlaceholderUsers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
