unpackaged/main/default/flows/Opportunity_Initiate_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Proceed</name>
        <label>Proceed?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_initiate_Onboarding_before_the_Opportunity_is_Closed_Won</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Opportunity</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
        <rules>
            <name>ExitOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_initiate_Onboarding_before_the_Opportunity_is_Closed_Won</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Opportunity</targetReference>
            </connector>
            <label>ExitOut</label>
        </rules>
    </decisions>
    <description>Allows Users to Initiate Onboarding ahead of Opportunity Closed Won</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Initiate Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Initiate Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Opportunity</name>
        <label>Get Current Opportunity</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Onboarding_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Initiate</name>
        <label>Initiate?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proceed</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_initiate_Onboarding_before_the_Opportunity_is_Closed_Won</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to initiate Onboarding before the Opportunity is Closed Won?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initiate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Onboarding_Subflow</name>
        <label>Create Onboarding Subflow</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <flowName>Opportunity_Subflow_Closed_Won_Create_Onboarding</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Current_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
