unpackaged/main/default/flows/Opportunity_SKU_Select_Websites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Opp_Status</name>
        <label>Assign Opp Status</label>
        <locationX>880</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>var_Is_Closed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Stage_Status.var_Opportunity_Closed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Closed_Date_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Stage_Status.var_Close_Date_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Opp_Suk_Found</name>
        <label>Current Opp Suk Found</label>
        <locationX>878</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>var_Current_Opp_SKU_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Current_Opportunity_SKUs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Action</name>
        <label>Selected Action</label>
        <locationX>876</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>var_Product_Line</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Options.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Product_Tier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Product_Line_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Website Subscription</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_Selected</name>
        <label>Action Selected</label>
        <locationX>866</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>Found_Current_Opps_SKU_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_SKU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Options.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>website</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Current_Opps_SKU_s</targetReference>
            </connector>
            <label>Add SKU</label>
        </rules>
        <rules>
            <name>Delete_SKUs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Options.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Delete_SKU_Promo</targetReference>
            </connector>
            <label>Delete SKUs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Close_Date_in_Past</name>
        <label>Close Date in Past</label>
        <locationX>1053</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Opportunity_SKUs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current</defaultConnectorLabel>
        <rules>
            <name>In_Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Closed_Date_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Past</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Stage_Screen_0</targetReference>
            </connector>
            <label>In Past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Current_Opps_SKU_s</name>
        <label>Found Current Opps SKU&#39;s</label>
        <locationX>731</locationX>
        <locationY>944</locationY>
        <defaultConnector>
            <targetReference>Launch_SKU_Select_Function</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Current_Opp_SKU_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Sku_s_Found_Message</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Closed</name>
        <label>Is Opp Closed</label>
        <locationX>871</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>Closed_Stage_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Is_Closed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>not closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Date_in_Past</targetReference>
            </connector>
            <label>Not Closed</label>
        </rules>
    </decisions>
    <description>Starting flow for the websites Opportunity SKU selection</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: SKU Select - Websites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: SKU Select - Websites</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Opportunity_SKUs</name>
        <label>Get Current Opportunity SKUs</label>
        <locationX>880</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Opp_Suk_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Opportunity_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Remove_SKUs</name>
        <label>Add / Remove SKUs</label>
        <locationX>716</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Stage_Status</targetReference>
        </connector>
        <fields>
            <name>Header_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 16px;&quot;&gt;Opportunity Product Management&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(2, 2, 2); font-size: 14px;&quot;&gt;Select action below&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(240, 52, 4); font-size: 14px;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Options</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Website Subscriptions&quot;,&quot;value&quot;:&quot;Website&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:new&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Delete SKU&#39;s and Promo&#39;s&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:ban&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Closed_Stage_Screen</name>
        <label>Closed Stage Screen</label>
        <locationX>712</locationX>
        <locationY>339</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtext_Opp_Closed</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Opportunity Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;SKU select is disabled on Opportunities in a closed stage.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Closed_Stage_Screen_0</name>
        <label>Close Date in Past</label>
        <locationX>1215</locationX>
        <locationY>370</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtext_Opp_Close_Date</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Opportunity Close Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Opportunity Update in not permitted if the Close Date is in the past. Please update the Close Date on the Opportunity and try again. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opp_Sku_s_Found_Message</name>
        <label>Opp Sku&#39;s Found Message</label>
        <locationX>606</locationX>
        <locationY>944</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Opps_SKU_Found_Text_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Subscription SKU Already Added&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This opportunity already has Product SKU&#39;s added. If you need to change the products remove the current SKUs first.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>310</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Add_Remove_SKUs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Stage_Status</name>
        <label>Check Stage Status</label>
        <locationX>880</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Assign_Opp_Status</targetReference>
        </connector>
        <flowName>Opportunity_Is_Closed_Stage_Check</flowName>
        <inputAssignments>
            <name>var_Opportunity_ID</name>
            <value>
                <elementReference>var_Opportunity_ID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Launch_Delete_SKU_Promo</name>
        <label>Launch Delete SKU/ Promo</label>
        <locationX>1040</locationX>
        <locationY>940</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <flowName>Opportunity_SKU_Promo_Delete</flowName>
        <inputAssignments>
            <name>var_Opp_ID</name>
            <value>
                <elementReference>var_Opportunity_ID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Launch_SKU_Select_Function</name>
        <label>Launch SKU Select Function</label>
        <locationX>738</locationX>
        <locationY>1137</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <flowName>Opportunity_SKU_Function_Add_SKU</flowName>
        <inputAssignments>
            <name>sub_Product_Line</name>
            <value>
                <elementReference>var_Product_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sub_Product_Line_Tier</name>
            <value>
                <elementReference>var_Product_Tier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sub_Product_Line_Type</name>
            <value>
                <elementReference>var_Product_Line_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Opp_Record_ID</name>
            <value>
                <elementReference>var_Opportunity_ID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1040</locationX>
        <locationY>1137</locationY>
        <flowName>Opportunity_SKU_Select_Oppty_Field_Updates</flowName>
        <inputAssignments>
            <name>subvar_Opportunity_ID</name>
            <value>
                <elementReference>var_Opportunity_ID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_Closed_Date_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Current_Opp_SKU_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Is_Closed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Product_Line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Product_Line_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Product_Tier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
