unpackaged/main/default/flows/Product_Environment_Account_Linking_Step_1_Existing_Links.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Exciting_Account_Link_Update</name>
        <label>Exciting Account Link Update</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO UPDATE: Linked to an Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Record_Update_on_Save</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>General_Record_Update_on_Save</name>
        <label>General Record Update on Save</label>
        <locationX>1238</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Last_Touch_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Environment: Account Linking (Step 1: Existing Links)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Run_Account_Matching__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_On_Convert_Lead_Process</name>
        <label>Update On Convert Lead Process</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Match: Convert Lead Process TBD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Record_Update_on_Save</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_On_Convert_Lead_Process_No_Flag</name>
        <label>Update On Convert Lead Process (No Flag)</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Match: Converted Lead Flag not Set</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Record_Update_on_Save</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_On_Converted_Account</name>
        <label>Update On Converted Account</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Linked: Linked on Converted Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Lead__r.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Record_Update_on_Save</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_On_Converted_Contacts</name>
        <label>Update On Converted Contacts</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Linked: Linked on Converted Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Record_Update_on_Save</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_On_Unsupported_PE_Record_Type</name>
        <label>Update On Unsupported PE Record Type</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Match: Unsupported PE Record Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>General_Record_Update_on_Save</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Covers all payment brands</description>
        <name>c_Affinipay_Record_Type_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001Dm9MQAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Docketwise_Type_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01279000000L8OmAAK</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_MyCase_Record_Type_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001Dm68QAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Record_Returned</name>
        <label>Account Record Returned</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Converted_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Returned</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_record_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_On_Converted_Account</targetReference>
            </connector>
            <label>Yes Account Record Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conver</name>
        <label>Run Convert Lead Process Flag Set</label>
        <locationX>2030</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_On_Convert_Lead_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Run Convert Lead Process is Set</defaultConnectorLabel>
        <rules>
            <name>YES_Convert_Lead_Flag_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Run_Convert_Lead_Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_On_Convert_Lead_Process_No_Flag</targetReference>
            </connector>
            <label>No - Convert Lead Flag No Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Converted_Contact_Returned</name>
        <label>Converted Contact Returned</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>What_is_the_PE_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Record Returned</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Record_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_On_Converted_Contacts</targetReference>
            </connector>
            <label>Yes Contact Record Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Links</name>
        <label>Current Links</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>What_is_the_PE_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Links</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exciting_Account_Link_Update</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Lead_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Lead__r.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Converted_Account</targetReference>
            </connector>
            <label>Lead (Converted)</label>
        </rules>
        <rules>
            <name>Lead_Not_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Lead__r.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conver</targetReference>
            </connector>
            <label>Lead (Not Converted)</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_PE_Record_Type</name>
        <label>What is the PE Record Type</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_On_Unsupported_PE_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsupported Record Type</defaultConnectorLabel>
        <rules>
            <name>MyCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_MyCase_Record_Type_ID</elementReference>
                </rightValue>
            </conditions>
            <label>MyCase</label>
        </rules>
        <rules>
            <name>Affinipay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Affinipay_Record_Type_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Affinipay_Linking_Process</targetReference>
            </connector>
            <label>Affinipay</label>
        </rules>
        <rules>
            <name>Docketwise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Docketwise_Type_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Docketwise_Linking_Process</targetReference>
            </connector>
            <label>Docketwise</label>
        </rules>
    </decisions>
    <description>Evaluates current links and decides if brand specific processes needs to be evaluated</description>
    <environments>Default</environments>
    <interviewLabel>Product Environment: Account Linking (Step 1: Existing Links) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Environment: Account Linking (Step 1: Existing Links)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Converted_Account</name>
        <label>Get Converted Account</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Record_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Lead__r.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Converted_Contact_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Lead__r.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PE</name>
        <label>Update PE</label>
        <locationX>1238</locationX>
        <locationY>1442</locationY>
        <inputReference>rv_PE_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_Links</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Launch Product Environment: Account Linking (Step 2: Affinipay)</description>
        <name>Evaluate_Affinipay_Linking_Process</name>
        <label>Evaluate Affinipay Linking Process</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <flowName>Product_Environment_Account_Linking_Step_2_Affinipay</flowName>
        <inputAssignments>
            <name>input_Prod_Env_Record</name>
            <value>
                <elementReference>input_Prod_Env_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Evaluate_Docketwise_Linking_Process</name>
        <label>Evaluate Docketwise Linking Process</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <flowName>Product_Environment_Account_Linking_Step_2_Docketwise</flowName>
        <inputAssignments>
            <name>input_Prod_Env_Record</name>
            <value>
                <elementReference>input_Prod_Env_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>input_Prod_Env_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <description>Passed by triggering flows to indicate if triggering process allows for the lead to be converted if the PE is linked to an non converted lead</description>
        <name>Input_Run_Convert_Lead_Process</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>record variable that is updated in the this flow and updated at endpoints of this flow.</description>
        <name>rv_PE_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>var_Created_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
