unpackaged/main/default/flows/Product_Environment_Account_Linking_Step_2_LPP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>1498</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Only_1_LPC_Found.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PE Match: 1 LPPC Found </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LPClassic_Assignments_1PE_With_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_1_Account_Found</name>
        <label>Assign Account</label>
        <locationX>886</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Only_1_Account_Found_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Match: No PE / On 1 Account Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LPClassing_Missing_Name_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LPC_Vars</name>
        <label>Assign LPC Vars</label>
        <locationX>2066</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Many_LPC_Records_Found.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PE Match: Many LPPC Found Most Recent </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LPC_Created_Date_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Many_LPC_Records_Found.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LPClassic_Assignments_Many_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LPClassic_Assignments</name>
        <label>Assign LPClassic Assignments</label>
        <locationX>1068</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>rv_LPClassic_PE_Update.Last_Touch_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Environment: Account Linking (Step 2: LPP)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_LPClassic_PE_Update.LawPay_Pro_Product_Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Product_Env_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LPClassic_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Found_PE</name>
        <label>Count Found PE</label>
        <locationX>1200</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_Found_PE_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Lawpay_Classic_PE_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_PEs_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LPClassic_Account_Assignment</name>
        <label>LPClassic Account Assignment</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>rv_LPClassic_PE_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Only_1_Account_Found_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_LPClassic_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: LPPro Account Lookup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Only_1_Account_Found_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LPClassic_Assignments_1PE_Account_Missing</name>
        <label>LPClassic Assignments</label>
        <locationX>1762</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rv_LPClassic_PE_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Only_1_LPC_Found.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LPC_Missing_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LPClassic_Assignments_1PE_With_Account</name>
        <label>LPClassic Assignments</label>
        <locationX>1498</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rv_LPClassic_PE_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Only_1_LPC_Found.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Only_1_LPC_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LPClassic_Assignments_Many_PE</name>
        <label>LPClassic Assignments</label>
        <locationX>2066</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rv_LPClassic_PE_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Many_LPC_Records_Found.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LPC_Missing_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_LPClassic_Name_Check_in_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Many_LPC_Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LPP_Flow_Assignments</name>
        <label>LPP Flow Assignments</label>
        <locationX>1200</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Product_Env_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Last_Touch_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Environment: Account Linking (Step 2: LPP)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LPPro_PE_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Many_Accounts_Assign</name>
        <label>Many Accounts Assign</label>
        <locationX>794</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Match: 1+ Account Matched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LPP_Flow_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Named_Accounts_Found</name>
        <label>Named Accounts Found</label>
        <locationX>422</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_Accounts_by_Name_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_By_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Accounts_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Account_Assign</name>
        <label>No Account Assign</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rv_LPPro_PE_Update.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Match: No PE / No Account Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LPP_Flow_Assignments</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>c_Affinipay_RecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0128W000001Dm9MQAS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Populated</name>
        <label>Account Populated</label>
        <locationX>1978</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_By_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>YES_Account_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LPC_Missing_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LPClassic_Update_Flag</targetReference>
            </connector>
            <label>YES Account is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_Date</name>
        <label>Created Date</label>
        <locationX>2198</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Many_LPC_Records_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not More Recent</defaultConnectorLabel>
        <rules>
            <name>Created_Date_is_more_recent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Many_LPC_Records_Found.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_LPC_Created_Date_Time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LPC_Vars</targetReference>
            </connector>
            <label>Created Date is more recent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_LPC_Have_Account</name>
        <label>Does LPC Have Account</label>
        <locationX>1630</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>LPClassic_Assignments_1PE_Account_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>YES_LPC_Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Only_1_LPC_Found.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account</targetReference>
            </connector>
            <label>YES LPC Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Accounts_Found</name>
        <label>How Many Accounts Found</label>
        <locationX>422</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Many_Accounts_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Many Accounts Found</defaultConnectorLabel>
        <rules>
            <name>No_Accounts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Accounts_by_Name_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Account_Assign</targetReference>
            </connector>
            <label>No Accounts Found</label>
        </rules>
        <rules>
            <name>Only_1_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Accounts_by_Name_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Only_1_Account_Found_Loop</targetReference>
            </connector>
            <label>Only 1 Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_PEs_Found</name>
        <label>How Many PEs Found</label>
        <locationX>1200</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Many_LPC_Records_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 1 PE Found</defaultConnectorLabel>
        <rules>
            <name>No_PE_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Found_PE_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_By_Name</targetReference>
            </connector>
            <label>No PE Found</label>
        </rules>
        <rules>
            <name>One_PE_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Found_PE_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Only_1_LPC_Found</targetReference>
            </connector>
            <label>1 PE Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>LPClassic_Update_Flag</name>
        <label>LPClassic Update Flag</label>
        <locationX>1200</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>LPP_Flow_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dont Update LPClassic Record</defaultConnectorLabel>
        <rules>
            <name>YES_Update_LPClassic_PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rv_LPClassic_PE_Update.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LPClassic_Assignments</targetReference>
            </connector>
            <label>YES Update LPClassic PE</label>
        </rules>
    </decisions>
    <decisions>
        <name>LPClassing_Missing_Name_Flag</name>
        <label>LPClassic Missing Account Flag</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Only_1_Account_Found_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Flag_Set_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LPC_Missing_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LPClassic_Account_Assignment</targetReference>
            </connector>
            <label>Yes - Flag Set True</label>
        </rules>
    </decisions>
    <description>Process covers LL Pro specific account Linking process. Process will also link related LP Classic record to account if its missing.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_LPClassic_Name_Check_in_Loop</name>
        <dataType>Boolean</dataType>
        <expression>if(ISBLANK({!Many_LPC_Records_Found.Account__c}),TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Product Environment: Account Linking (Step 2: LPP) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Environment: Account Linking (Step 2: LPP)</label>
    <loops>
        <name>Many_LPC_Records_Found</name>
        <label>Many LPC Records Found</label>
        <locationX>1978</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Lawpay_Classic_PE_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Created_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Populated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Only_1_Account_Found_Loop</name>
        <label>Only 1 Account Found</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Account_By_Name</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_1_Account_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LPClassic_Update_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Only_1_LPC_Found</name>
        <label>Only 1 LPC Found</label>
        <locationX>1410</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Lawpay_Classic_PE_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_LPC_Have_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LPClassic_Update_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_By_Name</name>
        <label>Get Account By Name</label>
        <locationX>422</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Named_Accounts_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Product_Env_Record.Firm_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Look for the related Lawpay PE&#39;s</description>
        <name>Get_Lawpay_Classic_PE_Record</name>
        <label>Get Lawpay Classic PE Record</label>
        <locationX>1200</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Found_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Firm_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Product_Env_Record.Firm_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LawPay</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_Affinipay_RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LPClassic_Record</name>
        <label>Update LPClassic Record</label>
        <locationX>1068</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>LPP_Flow_Assignments</targetReference>
        </connector>
        <inputReference>rv_LPClassic_PE_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LPPro_PE_Record</name>
        <label>Update LPPro PE Record</label>
        <locationX>1200</locationX>
        <locationY>2066</locationY>
        <inputReference>rv_LPPro_PE_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1074</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lawpay_Classic_PE_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>input_Product_Env_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>rv_LPClassic_PE_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>rv_LPPro_PE_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>var_Accounts_by_Name_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Found_PE_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_LPC_Created_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LPC_Created_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>used as a flag in the flow processing</description>
        <name>var_LPC_Missing_Account</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Update_LPClassic_PE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
