unpackaged/main/default/flows/Product_Environment_Account_Linking_Step_2_Docketwise.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_Firm_Name</name>
        <label>Format Firm Name</label>
        <locationX>5308</locationX>
        <locationY>1430</locationY>
        <actionName>FlowSanitizeString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Clean_Name_Search</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>theRawString</name>
            <value>
                <elementReference>input_Prod_Env_Record.Firm_Name__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowSanitizeString</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>5770</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Active_Account.output_Created_AccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_On_Owner_Account_Link</name>
        <label>Assign On Owner Account Link</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owners_PU_Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Owners PE Account Link </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_On_Owner_Contact_Link</name>
        <label>Assign On Owner Contact Link</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owners_PU_Record.Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Owners PE Contact Link </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PU_Update_on_Contact_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_PU_Record_ID</name>
        <label>assign PU Record ID</label>
        <locationX>2220</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>rv_Prod_User_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owners_PU_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PU_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Standard_PE_Vars</name>
        <label>Assign Standard PE Vars</label>
        <locationX>2352</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Last_Touch_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Environment: Account Linking (Step 2: Docketwise)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PE_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Can_Not_Proceed</name>
        <label>Can Not Proceed</label>
        <locationX>6298</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR: Could Not Link and Missing Firm Name </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_PU_Update_on_Account_Contact</name>
        <label>PU Update on Account</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_Update_PU_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Prod_User_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_PE_Update_on_Converted_Opportunity</name>
        <label>Update on Account Domain</label>
        <locationX>4450</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Domain_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Account Domain Search</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Errors</name>
        <label>Errors</label>
        <locationX>5506</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Active_Account.outbound_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Linked_Unconverted_Lead</name>
        <label>Linked Unconverted Lead</label>
        <locationX>4186</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Matched: Linked Lead Not Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_Converted_Account</name>
        <label>PE Update Converted Account</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Owners Lead Converted Account </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_PU_Update_on_Account_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_Converted_Account_Contact</name>
        <label>PE Update Converted Account/Contact</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Owners Lead Converted Account/Contact </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PU_Update_on_Account_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_Converted_Account_Contact_Lead_Search</name>
        <label>PE Update Converted Account/Contact</label>
        <locationX>3130</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Lead Search Converted Account/Contact </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_Converted_Account_Lead_Search</name>
        <label>PE Update Converted Account</label>
        <locationX>2866</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Lead Search Converted Account </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_On_Contact_Search</name>
        <label>PE Update On Contact Search</label>
        <locationX>2602</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Owners Contact Search</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_On_Converted_Contact</name>
        <label>PE Update On Converted Contact</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Owners Lead Converted Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PU_Update_Converted_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_On_Converted_Contact_Lead_Search</name>
        <label>PE Update On Converted Contact</label>
        <locationX>3394</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Lead Search Converted Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_on_Converted_Opportunity</name>
        <label>PE Update on Converted Opportunity</label>
        <locationX>1502</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Owners Lead Converted Opportunity </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PU_Update_Converted_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_on_Converted_Opportunity_Lead_Search</name>
        <label>PE Update on Converted Opportunity</label>
        <locationX>3658</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Lead Search Converted Opportunity </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PE_Update_On_Non_Converted_Lead</name>
        <label>PE Update On Non Converted Lead</label>
        <locationX>2074</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owners_PU_Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Owers Non Converted Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PU_Contact_Update_Converted_Opportunity</name>
        <label>PU Contact Update Converted Opportunity</label>
        <locationX>1370</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>rv_Prod_User_Update.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Opportunity.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PU_Update_Converted_Contact</name>
        <label>PU Update Converted Contact</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_Update_PU_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Prod_User_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Prod_User_Update.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PU_Update_Converted_Opportunity</name>
        <label>PU Update Converted Opportunity</label>
        <locationX>1502</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_Update_PU_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Prod_User_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Primary_Contact_Emails_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PU_Update_on_Account_Contact</name>
        <label>PU Update on Account / Contact</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_Update_PU_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Prod_User_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Prod_User_Update.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PU_Converted_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PU_Update_on_Contact_Link</name>
        <label>PU Update on Contact Link</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_Update_PU_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Prod_User_Update.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owners_PU_Record.Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unsupported_PE_Firm_Status</name>
        <label>Unsupported PE Firm Status</label>
        <locationX>6034</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR: Unsupported PE Firm Status</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Create_Lead</name>
        <label>Update Create Lead</label>
        <locationX>5242</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Lead: Not supported Yet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_on_Clean_Name_Search</name>
        <label>Update on Clean Name Search</label>
        <locationX>4978</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Clean_Name_Search.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Account Clean Name Search</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_on_Email_in_Name_Search</name>
        <label>Update on Email in Name Search</label>
        <locationX>4714</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_In_Name_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PE_Update_Record.Account_Matched_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched: Account Owner Email in Name Search</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found</label>
        <locationX>3511</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_On_Contact_Search</targetReference>
            </connector>
            <label>Yes Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Clean_Name</name>
        <label>Found Clean Name</label>
        <locationX>5308</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>PE_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Macth Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_on_Clean_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Clean_Name_Search.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_on_Clean_Name_Search</targetReference>
            </connector>
            <label>Yes Found on Clean Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Converted_Contact</name>
        <label>Found Converted Contact</label>
        <locationX>3328</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Converted_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account/Contact Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Only_Lead_Search</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Account.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Converted_Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_Converted_Account_Lead_Search</targetReference>
            </connector>
            <label>Yes Account Only</label>
        </rules>
        <rules>
            <name>Yes_Contact_and_Account_Lead_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Converted_Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_Converted_Account_Contact_Lead_Search</targetReference>
            </connector>
            <label>Yes Contact and Account</label>
        </rules>
        <rules>
            <name>Yes_Converted_Contact_Only_Lead_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_On_Converted_Contact_Lead_Search</targetReference>
            </connector>
            <label>Yes Converted Contact Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Converted_Opportunity</name>
        <label>Found Converted Opportunity</label>
        <locationX>3790</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Has_Firm_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Converted_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_on_Converted_Opportunity_Lead_Search</targetReference>
            </connector>
            <label>Yes Found Converted Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Domain_Search</name>
        <label>Found Domain Search</label>
        <locationX>4730</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Email_In_Name_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account found</defaultConnectorLabel>
        <rules>
            <name>Yes_Domain_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Domain_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_PE_Update_on_Converted_Opportunity</targetReference>
            </connector>
            <label>Yes Domain Search</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Email_Name_Search</name>
        <label>Found Email Name Search</label>
        <locationX>5011</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Format_Firm_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Search_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_In_Name_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_on_Email_in_Name_Search</targetReference>
            </connector>
            <label>Yes Email Search Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_PE_Converted_Contact</name>
        <label>Found PE Converted Contact</label>
        <locationX>1117</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_PU_Converted_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account/Contact Found</defaultConnectorLabel>
        <rules>
            <name>Account_Only</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PU_Converted_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PU_Converted_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PU_Converted_Account.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_PU_Converted_Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_Converted_Account</targetReference>
            </connector>
            <label>Yes Account Only</label>
        </rules>
        <rules>
            <name>Yes_Contact_and_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PU_Converted_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PU_Converted_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PU_Converted_Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_PU_Converted_Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_Converted_Account_Contact</targetReference>
            </connector>
            <label>Yes Contact and Account</label>
        </rules>
        <rules>
            <name>Yes_Converted_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PU_Converted_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PU_Converted_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_On_Converted_Contact</targetReference>
            </connector>
            <label>Yes Converted Contact Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_PE_Converted_Opportunity</name>
        <label>Found PE Converted Opportunity</label>
        <locationX>1656</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PU_Converted_Opportunity.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_PU_Converted_Opportunity.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_on_Converted_Opportunity</targetReference>
            </connector>
            <label>Yes Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_PU_Record</name>
        <label>Found PU Record</label>
        <locationX>2352</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PU Record Found</defaultConnectorLabel>
        <rules>
            <name>Yes_PU_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owners_PU_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PU_Has_Account</targetReference>
            </connector>
            <label>Yes PU Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Firm_Name</name>
        <label>Has Firm Name</label>
        <locationX>5514</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Can_Not_Proceed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Firm_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Firm_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Domain_Account</targetReference>
            </connector>
            <label>Yes Has Firm Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Owners_Email_Address</name>
        <label>Has Owners Email Address</label>
        <locationX>4457</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Format_Firm_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Owners Email address</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Owners_Email_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Owners_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owners_PU_Record</targetReference>
            </connector>
            <label>Yes Has Owners Email Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found</label>
        <locationX>4421</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Has_Firm_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lead Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Converted_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Converted_Account</targetReference>
            </connector>
            <label>Yes Converted Lead</label>
        </rules>
        <rules>
            <name>Yes_Non_Converted_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Linked_Unconverted_Lead</targetReference>
            </connector>
            <label>Yes Non Converted Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_Primary_Contact_Emails_Match</name>
        <label>Oppty Primary Contact Emails Match</label>
        <locationX>1502</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Assign_Standard_PE_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_PU_Converted_Opportunity.Primary_Contact__r.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Owners_PU_Record.User_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PU_Converted_Opportunity.Primary_Contact__r.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Owners_PU_Record.Contact__r.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PU_Contact_Update_Converted_Opportunity</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>PE_Status</name>
        <label>Create Lead or Account</label>
        <locationX>5638</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Unsupported_PE_Firm_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsupported PE Firm Status</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>trialing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>unpaid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Create_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>past_due</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Prod_Env_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Active_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>PU_Has_Account</name>
        <label>PU Links</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Links</defaultConnectorLabel>
        <rules>
            <name>Account_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owners_PU_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_On_Owner_Account_Link</targetReference>
            </connector>
            <label>Account Link</label>
        </rules>
        <rules>
            <name>Contact_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owners_PU_Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_On_Owner_Contact_Link</targetReference>
            </connector>
            <label>Contact Link</label>
        </rules>
        <rules>
            <name>Lead_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owners_PU_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Owners_PU_Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Owners_PU_Record.Lead__r.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PU_Converted_Account</targetReference>
            </connector>
            <label>Lead Converted</label>
        </rules>
        <rules>
            <name>Lead_Non_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owners_PU_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Owners_PU_Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Owners_PU_Record.Lead__r.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Update_On_Non_Converted_Lead</targetReference>
            </connector>
            <label>Lead Non Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_PU_Record_Needed</name>
        <label>Update PU Record Needed</label>
        <locationX>2352</locationX>
        <locationY>3158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_PU_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Update_PU_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_PU_Record_ID</targetReference>
            </connector>
            <label>Yes Update PU Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Error</name>
        <label>Was Error</label>
        <locationX>5638</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <targetReference>Assign_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>Yes_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Active_Account.output_Create_Account_Error</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errors</targetReference>
            </connector>
            <label>Yes Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_DW_Account_Status</name>
        <dataType>String</dataType>
        <expression>Case({!input_Prod_Env_Record.Status__c},
&quot;active&quot; , &quot;Active&quot;,
&quot;past_due&quot; , &quot;Active&quot;,
&quot;canceled&quot; , &quot;Churned&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_Owners_Email_Domain</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!input_Prod_Env_Record.Owners_Email__c}, LEFT({!input_Prod_Env_Record.Owners_Email__c}, FIND(&quot;@&quot;, {!input_Prod_Env_Record.Owners_Email__c})), NULL)</expression>
    </formulas>
    <interviewLabel>Product Environment: Account Linking (Step 2: Docketwise) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Environment: Account Linking (Step 2: Docketwise)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Clean_Name_Search</name>
        <label>Get Clean Name Search</label>
        <locationX>5308</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Clean_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Linking_Firm_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Format_Firm_Name.theRawString</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>3511</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Owners_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Account</name>
        <label>Get Converted Account</label>
        <locationX>3328</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>3328</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Opportunity</name>
        <label>Get Converted Opportunity</label>
        <locationX>3790</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Converted_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Domain_Account</name>
        <label>Get Domain Account</label>
        <locationX>4730</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Domain_Search</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Owners_Email_Domain</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_In_Name_Account</name>
        <label>Get Email In Name Account</label>
        <locationX>5011</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Email_Name_Search</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Owners_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>4421</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Owners_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owners_PU_Record</name>
        <label>Get Owners PU Record</label>
        <locationX>2352</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_PU_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_ID_DW__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Owners_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Prod_Env_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PU_Converted_Account</name>
        <label>Get PU Converted Account</label>
        <locationX>1117</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PU_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Owners_PU_Record.Lead__r.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PU_Converted_Contact</name>
        <label>Get PU Converted Contact</label>
        <locationX>1117</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_PE_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Owners_PU_Record.Lead__r.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PU_Converted_Opportunity</name>
        <label>Get PU Converted Opportunity</label>
        <locationX>1656</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_PE_Converted_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Owners_PU_Record.Lead__r.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PE_Record</name>
        <label>Update PE Record</label>
        <locationX>2352</locationX>
        <locationY>3050</locationY>
        <connector>
            <targetReference>Update_PU_Record_Needed</targetReference>
        </connector>
        <inputReference>rv_PE_Update_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PU_Record</name>
        <label>Update PU Record</label>
        <locationX>2220</locationX>
        <locationY>3374</locationY>
        <inputReference>rv_Prod_User_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>4331</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Owners_Email_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Active_Account</name>
        <label>Create Active Account</label>
        <locationX>5638</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Was_Error</targetReference>
        </connector>
        <flowName>Autolaunch_Create_Account_Service</flowName>
        <inputAssignments>
            <name>input_Brand_Status</name>
            <value>
                <elementReference>f_DW_Account_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Create_Contacts_Flags</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PE_Record</name>
            <value>
                <elementReference>input_Prod_Env_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>input_Prod_Env_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>rv_PE_Update_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Environment__c</objectType>
    </variables>
    <variables>
        <name>rv_Prod_User_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_User__c</objectType>
    </variables>
    <variables>
        <name>var_Created_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Update_PU_Record</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
