unpackaged/main/default/flows/Product_User_Contact_Lead_Linking_Flow_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Excluded_Email_Address</name>
        <label>Excluded Email Address</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Contact_Lead_Linking_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go Evaluate</defaultConnectorLabel>
        <rules>
            <name>Yes_Place_Holder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>placeholder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PU_Match_On_Place_Holder_PU</targetReference>
            </connector>
            <label>Yes - Place Holder</label>
        </rules>
        <rules>
            <name>Yes_Internal_Email_Domains</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@mycase.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@affinipay.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@lawpay.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@clientpay.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@cpacharge.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@casepeer.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@docketwise.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PU_Match_On_Internal_Email_Domains</targetReference>
            </connector>
            <label>Yes Internal Email Domains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Name_Provided</name>
        <label>Last Name Provided</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Update_PU_Match_On_Missing_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Provided</defaultConnectorLabel>
        <rules>
            <name>Yes_Last_Name_in_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excluded_Email_Address</targetReference>
            </connector>
            <label>Yes Last Name in Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>PE Record Type</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_PU_Match_On_Brand_not_Supported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Supported Brand</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Environment__r.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Name_Provided</targetReference>
            </connector>
            <label>MyCase</label>
        </rules>
        <rules>
            <name>Payments</name>
            <conditionLogic>1 OR 2 OR 3 OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Environment__r.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AffiniPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Environment__r.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Environment__r.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPACharge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Environment__r.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Environment__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affinipay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Name_Provided</targetReference>
            </connector>
            <label>Payments</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product User: Contact Lead Linking Flow Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product User: Contact Lead Linking Flow Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_PU_Match_On_Brand_not_Supported</name>
        <label>Update PU Match On - Brand not Supported</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Contact_Matched_On__c</field>
            <value>
                <stringValue>Not Evaluated: Brand Not Supported Yet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Contact_Matching__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PU_Match_On_Internal_Email_Domains</name>
        <label>Update PU Match On - Internal Email Domains</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Contact_Matched_On__c</field>
            <value>
                <stringValue>Not Evaluated: Internal Email Domain</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Contact_Matching__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PU_Match_On_Missing_Last_Name</name>
        <label>Update PU Match On - Missing Last Name</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Contact_Matched_On__c</field>
            <value>
                <stringValue>Not Evaluated: Missing Last Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Contact_Matching__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PU_Match_On_Place_Holder_PU</name>
        <label>Update PU Match On - Place Holder PU</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Contact_Matched_On__c</field>
            <value>
                <stringValue>Not Evaluated: PlaceHolder PU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Contact_Matching__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Environment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product_User__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contact_Lead_Linking_Flow</name>
        <label>Contact/ Lead Linking Flow</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <flowName>Product_User_Contact_Linking_Flow_Autolaunched</flowName>
        <inputAssignments>
            <name>Input_Product_User_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varRecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_User__c</objectType>
    </variables>
</Flow>
