unpackaged/main/default/flows/Referral_After_Save_Evaluate_Primary_Field_Value_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Not_Selected_Collection</name>
        <label>Add to Not Selected Collection</label>
        <locationX>380</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>coll_NotSelectedStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Referrals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referrals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Determine_Count_of_Records_in_Referral_Collection</name>
        <label>Determine Count of Records in Referral Collection</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_ReferralCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Other_Referrals_for_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Referral_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_to_Not_Selected</name>
        <label>Set Primary to Not Selected</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Referrals.Primary_Referral_Partnership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Selected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Not_Selected_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_Account_Reference_This_Referral_as_Primary</name>
        <label>Does the Account Reference This Referral as Primary</label>
        <locationX>1084</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Referenced</defaultConnectorLabel>
        <rules>
            <name>Referenced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.Primary_Referral_Partnership__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Primary_Referral_Partnership__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_the_Account_s_Primary_Referral_Partnership_Value</targetReference>
            </connector>
            <label>Referenced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Primary_Condition</name>
        <label>Evaluate Primary Condition</label>
        <locationX>644</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Referrals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unevaluated Condition</defaultConnectorLabel>
        <rules>
            <name>No_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referrals.Primary_Referral_Partnership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_to_Not_Selected</targetReference>
            </connector>
            <label>No Value</label>
        </rules>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referrals.Primary_Referral_Partnership__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_to_Demoted</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Primary_Field</name>
        <label>Evaluate Primary Field</label>
        <locationX>897</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Referral_Partnership__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_with_Primary_Referral_Partnership</targetReference>
            </connector>
            <label>Is Selected</label>
        </rules>
        <rules>
            <name>Is_Demoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Referral_Partnership__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Account_Reference_This_Referral_as_Primary</targetReference>
            </connector>
            <label>Is Demoted</label>
        </rules>
        <rules>
            <name>No_Value_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Referral_Partnership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Referral_s_Primary_Referral_Partner_to_Not_Selected</targetReference>
            </connector>
            <label>No Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Referral_Count</name>
        <label>Evaluate Referral Count</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Unexpected Condition</defaultConnectorLabel>
        <rules>
            <name>No_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ReferralCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>No Others</label>
        </rules>
        <rules>
            <name>Others_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ReferralCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referrals</targetReference>
            </connector>
            <label>Others Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Records_to_Update</name>
        <label>Referral Records to Update?</label>
        <locationX>292</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>No Records Exist</defaultConnectorLabel>
        <rules>
            <name>Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_NotSelectedStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referrals_to_Not_Selected</targetReference>
            </connector>
            <label>Records Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Referral - After Save - Evaluate Primary Field Value Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral - After Save - Evaluate Primary Field Value Change</label>
    <loops>
        <name>Referrals</name>
        <label>Referrals</label>
        <locationX>292</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_All_Other_Referrals_for_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_Primary_Condition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Referral_Records_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Other_Referrals_for_Account</name>
        <label>Get All Other Referrals for Account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Count_of_Records_in_Referral_Collection</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Referral_Partnership__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Referral_Partnership__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_the_Account_s_Primary_Referral_Partnership_Value</name>
        <label>Clear the Account&#39;s Primary Referral Partnership Value</label>
        <locationX>952</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Referral_Partnership__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Primary_to_Demoted</name>
        <label>Set Primary to Demoted</label>
        <locationX>644</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referrals.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Referral_Partnership__c</field>
            <value>
                <stringValue>Demoted</stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Referral_s_Primary_Referral_Partner_to_Not_Selected</name>
        <label>Set Referral&#39;s Primary Referral Partner to Not Selected</label>
        <locationX>1480</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Primary_Referral_Partnership__c</field>
            <value>
                <stringValue>Not Selected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Primary_Referral_Partnership</name>
        <label>Update Account with Primary Referral Partnership</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_All_Other_Referrals_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Referral_Partnership__c</field>
            <value>
                <elementReference>$Record.Partnership__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referrals_to_Not_Selected</name>
        <label>Update Referrals to Not Selected</label>
        <locationX>160</locationX>
        <locationY>1571</locationY>
        <inputReference>coll_NotSelectedStatus</inputReference>
    </recordUpdates>
    <start>
        <locationX>771</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Primary_Field</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.Primary_Referral_Partnership__c}) || ISCHANGED({!$Record.Partnership__c}) || ISCHANGED({!$Record.Customer__c})</filterFormula>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_NotSelectedStatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>var_InboundIsPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PrimaryReferralPartnershipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReferralCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
