unpackaged/main/default/flows/Referral_Update_account_Software_Non_Compete_Expiry_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_referral_start_date_to_variable</name>
        <label>Assign referral start date to variable</label>
        <locationX>484</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>var_ReferralStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Referral_records.Referral_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_collection_variable</name>
        <label>Assign to collection variable</label>
        <locationX>572</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>coll_ReferralsSoftwareNonCompeteTypeTimeBound</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Referral_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Referral_records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_referrals_by_referral_start_date</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort referrals by referral start date</label>
        <locationX>484</locationX>
        <locationY>1031</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>coll_ReferralsSoftwareNonCompeteTypeTimeBound</collectionReference>
        <connector>
            <targetReference>Assign_referral_start_date_to_variable</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Referral_Start_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Customer_field_is_Null</name>
        <label>Customer field is Null</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Referral_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No customer field is not null</defaultConnectorLabel>
        <rules>
            <name>Yes_customer_field_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes customer field is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Software_Non_Compete_Type_Outbound_Prohibited_Time_Bound</name>
        <label>Has Software Non Compete Type = Outbound Prohibited (Time Bound)</label>
        <locationX>704</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Referral_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_software_non_compete_type_Outbound_Prohibited_Time_Bound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Referral_records.Partner_Software_Non_Compete_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Prohibited (Time Bound)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_collection_variable</targetReference>
            </connector>
            <label>Yes Has software non compete type Outbound Prohibited (Time Bound)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmla_ReferralStartDateplusoneyear</name>
        <dataType>Date</dataType>
        <expression>{!var_ReferralStartDate}+365</expression>
    </formulas>
    <interviewLabel>Referral: Update account Software Non Compete Expiry Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral: Update account Software Non Compete Expiry Date</label>
    <loops>
        <description>Loop through all referrals associated to that customer record that have Software Non Compete Type = Outbound Prohibited (Time Bound)</description>
        <name>Loop_through_Referral_records</name>
        <label>Loop through Referral records</label>
        <locationX>484</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Referral_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Software_Non_Compete_Type_Outbound_Prohibited_Time_Bound</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_referrals_by_referral_start_date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get referral records that are associated with the same customer.</description>
        <name>Get_Referral_Records</name>
        <label>Get Referral Records</label>
        <locationX>484</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Referral_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>484</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Software_Non_Compete_Expiry_Date__c</field>
            <value>
                <elementReference>fmla_ReferralStartDateplusoneyear</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_field_is_Null</targetReference>
        </connector>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>coll_ReferralsSoftwareNonCompeteTypeTimeBound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>var_ReferralStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
