unpackaged/main/default/flows/RoundRobin_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Account_Total_Employees</name>
        <label>Account - Total Employees</label>
        <locationX>860</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>var_employee_count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inputvar_Employee_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inputvar_RecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MQL_Assignment_Group_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>513</locationX>
        <locationY>934</locationY>
        <assignmentItems>
            <assignToReference>var_End_Flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>end</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Lead_Total_Employees</name>
        <label>Lead - Total Employees</label>
        <locationX>569</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>var_employee_count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inputvar_Employee_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inputvar_RecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MQL_Assignment_Group_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assignment_Group_Name</name>
        <label>Set Assignment Group Name</label>
        <locationX>350</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>Inputvar_RR_Assignment_Group_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test Group 1</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>record prefix for accounts</description>
        <name>con_Account_Prefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </constants>
    <constants>
        <description>case record prefix</description>
        <name>con_Case_Prefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>500</stringValue>
        </value>
    </constants>
    <constants>
        <description>record prefix for Contacts</description>
        <name>con_Contact_Prefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>003</stringValue>
        </value>
    </constants>
    <constants>
        <description>lead record prefix</description>
        <name>con_Lead_Prefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00Q</stringValue>
        </value>
    </constants>
    <constants>
        <description>record prefix for Opportunities</description>
        <name>con_Oppty_Prefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>006</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Sales_Ownership</name>
        <label>Check Sales Ownership</label>
        <locationX>707</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>Round_Robin_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_Sales_Retention_Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Account_Lookup_subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Starts process to identify what Assignment group is needed for MQL Process.</description>
        <name>MQL_Assignment_Group_Lookup</name>
        <label>MQL Assignment Group Lookup</label>
        <locationX>707</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Check_Sales_Ownership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>MQL_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_MQL_Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Group_Name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the OwnerID match the User?</description>
        <name>Owner_ID_is_User</name>
        <label>Owner ID is User?</label>
        <locationX>708</locationX>
        <locationY>937</locationY>
        <defaultConnector>
            <targetReference>End_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner Found</defaultConnectorLabel>
        <rules>
            <name>OwnerID_is_Group_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ownership_ID_New_Assignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Round_Robin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Flow</targetReference>
            </connector>
            <label>No Owner Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>704</locationX>
        <locationY>156</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inputvar_RecordID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Account_Prefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Total_Employees</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inputvar_RecordID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Lead_Prefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Total_Employees</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Round_Robin_Needed</name>
        <label>Round Robin Needed?</label>
        <locationX>702</locationX>
        <locationY>678</locationY>
        <defaultConnector>
            <targetReference>Owner_ID_is_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RR Not Needed</defaultConnectorLabel>
        <rules>
            <name>RR_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ownership_ID_New_Assignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Round_Robin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RoundRobin_Lookup_Subflow</targetReference>
            </connector>
            <label>RR Needed</label>
        </rules>
    </decisions>
    <description>This flow will evaluate incoming records and assign an Account Owner.</description>
    <environments>Default</environments>
    <interviewLabel>RoundRobin Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RoundRobin Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>586</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>RoundRobin_Lookup_Subflow</name>
        <label>RoundRobin Lookup Subflow</label>
        <locationX>952</locationX>
        <locationY>787</locationY>
        <flowName>RoundRobin_Handler_subflow_RoundRobin_Lookup</flowName>
        <inputAssignments>
            <name>sub_RR_AssignmentGroup_Name</name>
            <value>
                <elementReference>Inputvar_RR_Assignment_Group_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Total_Employees</name>
            <value>
                <elementReference>Inputvar_Employee_Count</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Ownership_ID_New_Assignment</assignToReference>
            <name>var_OwnerID_New</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Sales_Account_Lookup_subflow</name>
        <label>Sales Account Lookup subflow</label>
        <locationX>958</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>Round_Robin_Needed</targetReference>
        </connector>
        <flowName>RoundRobin_Hander_subflow_Sales_Account_Lookup</flowName>
        <inputAssignments>
            <name>sub_Sales_Retain_Days</name>
            <value>
                <elementReference>Inputvar_Sales_Retention_Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_AccountID</name>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Ownership_ID_New_Assignment</assignToReference>
            <name>var_OwnerID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>in_MQL_Process</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True / false flag. If true will check account sales ownership to see if sales should retain ownership before assigning it to the Round Robin</description>
        <name>in_Sales_Retention_Process</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Inputvar_Employee_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Inputvar_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inputvar_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Inputvar_RR_Assignment_Group_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Inputvar_RR_Last_Assigned_Date_Field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of days that sales can retain ownership</description>
        <name>Inputvar_Sales_Retention_Days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Ownership_ID_New_Assignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Round_Robin</stringValue>
        </value>
    </variables>
    <variables>
        <description>Account ID passed from trigger flow</description>
        <name>var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_employee_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_End_Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Found_Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
