unpackaged/main/default/flows/Screen_Update_Assignment_Group_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_AssignmentGroupMembers</name>
        <label>Get Assignment Group Members via SOQL</label>
        <locationX>655</locationX>
        <locationY>278</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asg_CountAssignmentGroupMembers</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Assignment_Group_Member__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>SELECT Id,Assignment_Group_Name__c,Assignment_Group__c,End_At__c,Is_Active__c,Is_Paused__c,Last_Assignment__c,Min_Number_of_Employees__c,Name,Pause_End_At__c,Pause_Start_At__c,Start_At__c,Status__c,User__c,User_Active__c,User_Name__c,User_Role_Name__c FROM Assignment_Group_Member__c WHERE User__c = &#39;{!inp_UserLookup.recordId}&#39; ORDER BY Assignment_Group_Name__c,User_Name__c,Min_Number_of_Employees__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>col_AssignmentGroupMembers</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>get_AssignmentGroupMembersNewlyCreated</name>
        <label>Get Assignment Group Members Newly Created</label>
        <locationX>1986</locationX>
        <locationY>1574</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>scr_SuccessAfterClone</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Assignment_Group_Member__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <stringValue>SELECT Id,Assignment_Group_Name__c,Assignment_Group__c,End_At__c,Is_Active__c,Is_Paused__c,Last_Assignment__c,Min_Number_of_Employees__c,Name,Pause_End_At__c,Pause_Start_At__c,Start_At__c,Status__c,User__c,User_Active__c,User_Name__c,User_Role_Name__c FROM Assignment_Group_Member__c WHERE User__c = &#39;{!inp_UserToUse.recordId}&#39; ORDER BY Assignment_Group_Name__c,User_Name__c,Min_Number_of_Employees__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>col_AssignmentGroupMembersNewlyCreated</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>asg_AddToCollection</name>
        <label>Add to Collection</label>
        <locationX>2074</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>col_AssignmentGroupMembersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_AssignmentGroupMemberFromLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_CountAssignmentGroupMembers</name>
        <label>Count Assignment Group Members</label>
        <locationX>655</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_AssignmentGroupMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_NoAssignmentGroupMembersFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_LoopVariable</name>
        <label>Assign to Loop Variable</label>
        <locationX>2074</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberFromLoop.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_UserToUse.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberFromLoop.Min_Number_of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Col.Min_Number_of_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberFromLoop.Start_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_StartAt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AssignmentGroupMemberFromLoop.Assignment_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Col.Assignment_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asg_AddToCollection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc_Clone</name>
        <choiceText>Clone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clone</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Edit</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dec_DeleteRecords</name>
        <label>Delete Records?</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>dec_NoRowsEdited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_DeleteRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_DeleteRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_NoRowsSelectedForDeletion</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_EditOrClone</name>
        <label>Edit or Clone</label>
        <locationX>1260</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>scr_Clone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clone</defaultConnectorLabel>
        <rules>
            <name>out_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_Edit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_Edit</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_NoAssignmentGroupMembersFound</name>
        <label>No Assignment Group Members Found</label>
        <locationX>655</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>dec_EditOrClone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_NoAssignmentGroupMembersFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AssignmentGroupMemberCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_NoMembersFound</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_NoRowsEdited</name>
        <label>No Rows Edited</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>up_EditedRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_NoRowsEdited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dtbl_AssignmentGroupMembersToEdit.numberOfRowsEdited</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_NoRowsEdited</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_NoRowsSelected</name>
        <label>No Rows Selected</label>
        <locationX>1810</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>loop_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_NoRowsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dtbl_AssignmentGroupMembersToClone.numberOfRowsSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_NoRowsSelected</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_NoRowsSelectedForDeletion</name>
        <label>No Rows Selected for Deletion</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>scr_DeletionConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_NoRowsSelectedForDeletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dtbl_AssignmentGroupMembersToEdit.numberOfRowsSelected</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>scr_NoRowsSelectedForDeletion</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_DeletionRecordsText</name>
        <dataType>String</dataType>
        <expression>TEXT({!dtbl_AssignmentGroupMembersToEdit.numberOfRowsSelected}) &amp;
&#39; &#39; &amp; IF({!dtbl_AssignmentGroupMembersToEdit.numberOfRowsSelected} = 1, &quot;record&quot;, &quot;records&quot;)</expression>
    </formulas>
    <formulas>
        <name>fx_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Screen - Update Assignment Group Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Update Assignment Group Members</label>
    <loops>
        <name>loop_Col</name>
        <label>Loop Collection</label>
        <locationX>1986</locationX>
        <locationY>998</locationY>
        <collectionReference>dtbl_AssignmentGroupMembersToClone.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asg_LoopVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_AssignmentGroupMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_AssignmentGroupMembers</name>
        <label>Create Assignment Group Members</label>
        <locationX>1986</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>get_AssignmentGroupMembersNewlyCreated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_Error</targetReference>
        </faultConnector>
        <inputReference>col_AssignmentGroupMembersToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>del_Records</name>
        <label>Delete Records</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>scr_SuccessDeletion</targetReference>
        </connector>
        <inputReference>dtbl_AssignmentGroupMembersToEdit.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>up_EditedRecords</name>
        <label>Update Edited Records</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>scr_SuccessAfterEdit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_Error</targetReference>
        </faultConnector>
        <inputReference>dtbl_AssignmentGroupMembersToEdit.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>scr_Clone</name>
        <label>Clone</label>
        <locationX>1810</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_NoRowsSelected</targetReference>
        </connector>
        <fields>
            <name>txt_InstructionsForClone</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Clone Assignment Group Members&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select the records to clone.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtbl_AssignmentGroupMembersToClone</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Assignment_Group_Member__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Assignment_Group_Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_AssignmentGroupMembers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Assignment_Group_Name__c,User__c,Min_Number_of_Employees__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Assignment_Group_Name__c:240, User__c:200, Min_Number_of_Employees__c:220</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt_CloneDetails</name>
            <fieldText>&lt;p&gt;Specify the details:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inp_UserToUse</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Assignment_Group_Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inp_StartAt</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>fx_Now</elementReference>
            </defaultValue>
            <fieldText>Start At</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_InstructionsForClonePart2</name>
            <fieldText>&lt;p&gt;Click &lt;strong&gt;Next&lt;/strong&gt; to create new Assignment Group Members.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_DeletionConfirmation</name>
        <label>Deletion Confirmation</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>del_Records</targetReference>
        </connector>
        <fields>
            <name>txt_AreYouSure</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Are you sure?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Are you sure you want to delete {!fx_DeletionRecordsText}&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Edit</name>
        <label>Edit</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_DeleteRecords</targetReference>
        </connector>
        <fields>
            <name>txt_InstructionsForDataTableToEdit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Edit Assignment Group Members&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Update the Start Date, End Date, Pause Start Date, or Pause End Date.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtbl_AssignmentGroupMembersToEdit</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Assignment_Group_Member__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Assignment_Group_Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_AssignmentGroupMembers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Min_Number_of_Employees__c:true, Start_At__c:true, End_At__c:true, Pause_End_At__c:true, Pause_Start_At__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Assignment_Group_Name__c,User__c,Min_Number_of_Employees__c,Is_Active__c,Start_At__c,End_At__c,Is_Paused__c,Pause_Start_At__c,Pause_End_At__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Assignment_Group_Name__c:240, User__c:200, Min_Number_of_Employees__c:220, Is_Active__c:120, Start_At__c:190, End_At__c:190, Is_Paused__c:120, Pause_Start_At__c:190, Pause_End_At__c:190</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inp_DeleteRecords</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete Records</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Error</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Uh Oh&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Something went wrong. Reach out to your System Administrator and reference this error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Intro</name>
        <label>Intro</label>
        <locationX>655</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>act_AssignmentGroupMembers</targetReference>
        </connector>
        <fields>
            <name>txt_Guidance</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Update Assignment Group Members&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This allows you to view, update, and clone Assignment Group Members.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inp_UserLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lookup User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Assignment_Group_Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inp_Action</name>
            <choiceReferences>chc_Edit</choiceReferences>
            <choiceReferences>chc_Clone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chc_Edit</defaultSelectedChoiceReference>
            <fieldText>Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_NoMembersFound</name>
        <label>No Members Founds</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_NoMembersFound</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No Members Found&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Return to the previous screen and search for a different user.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_NoRowsEdited</name>
        <label>No Rows Edited</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_NoRowsEdited</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No Rows Edited&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Return to the previous screen and save edits before clicking &lt;strong&gt;Next&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_NoRowsSelected</name>
        <label>No Rows Selected</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_txt_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No Rows Selected&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Return to the previous screen and select rows before clicking &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Next&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_NoRowsSelectedForDeletion</name>
        <label>No Rows Selected for Deletion</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_txt_NoRowsEdited</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No Rows Selected to Delete&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Return to the previous screen and save edits before clicking &lt;strong&gt;Next&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_SuccessAfterClone</name>
        <label>Success After Clone</label>
        <locationX>1986</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_SuccessMessageAfterClone</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!dtbl_AssignmentGroupMembersToClone.numberOfRowsSelected} Assignment Group Members were created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtbl_AssignmentGRoupMembersCloned</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Assignment_Group_Member__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Assignment_Group_Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Assignment_Group_Name__c,User__c,Min_Number_of_Employees__c,Is_Active__c,Start_At__c,End_At__c,Is_Paused__c,Pause_Start_At__c,Pause_End_At__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Assignment_Group_Name__c:240, User__c:200, Min_Number_of_Employees__c:220, Is_Active__c:120, Start_At__c:190, End_At__c:190, Is_Paused__c:120, Pause_Start_At__c:190, Pause_End_At__c:190</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_AssignmentGroupMembersNewlyCreated</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_SuccessAfterEdit</name>
        <label>Success</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_SuccessMessageAfterEdit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!dtbl_AssignmentGroupMembersToEdit.numberOfRowsEdited} Assignment Group Members were updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtbl_AssignmentGroupMembersEdited</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Assignment_Group_Member__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Assignment_Group_Member__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>dtbl_AssignmentGroupMembersToEdit.outputEditedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Assignment_Group_Name__c,User__c,Min_Number_of_Employees__c,Is_Active__c,Start_At__c,Is_Paused__c,Pause_Start_At__c,Pause_End_At__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Assignment_Group_Name__c:240, User__c:200, Min_Number_of_Employees__c:220, Is_Active__c:120, Start_At__c:190, Is_Paused__c:120, Pause_Start_At__c:190, Pause_End_At__c:190</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_SuccessDeletion</name>
        <label>Success Deletion</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_SuccessDeletion</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have successfully deleted &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!fx_DeletionRecordsText}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>529</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_Intro</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_AssignmentGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assignment_Group_Member__c</objectType>
    </variables>
    <variables>
        <name>col_AssignmentGroupMembersNewlyCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assignment_Group_Member__c</objectType>
    </variables>
    <variables>
        <name>col_AssignmentGroupMembersToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assignment_Group_Member__c</objectType>
    </variables>
    <variables>
        <name>var_AssignmentGroupMemberCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_AssignmentGroupMemberFromLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assignment_Group_Member__c</objectType>
    </variables>
</Flow>
