unpackaged/main/default/flows/Subflow_Process_Opportunity_Contacts_into_a_Collection_of_Contact_IDs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Contact_IDs_to_the_Collection_for_Update</name>
        <label>Add Contact IDs to the Collection for Update</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_ContactIdsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Record_Collection.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contacts_to_Outbound_Collection</name>
        <label>Add Contacts to Co</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_ContactIdsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Id</name>
        <label>Check Account Id</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Record_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Opportunity_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Record_Collection.Contact.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Contact_Id_Already_Exist_in_Collection</targetReference>
            </connector>
            <label>Account = Opportunity Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Id_Already_Exist_in_Collection</name>
        <label>Does Contact Id Already Exist in Collection</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Add_Contact_IDs_to_the_Collection_for_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ContactIdsForUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Over_Record_Collection.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Record_Collection</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_In_Collection_being_Updated</name>
        <label>Is Contact In Collection being Updated</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Add_Contacts_to_Outbound_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ContactIdsForUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Contacts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Inbound</name>
        <label>What is Inbound</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Unhandled Condition</defaultConnectorLabel>
        <rules>
            <name>Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contacts</targetReference>
            </connector>
            <label>Contacts</label>
        </rules>
        <rules>
            <name>Opportunity_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_OpportunityContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Record_Collection</targetReference>
            </connector>
            <label>Opportunity Contacts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow - Process Opportunity Contacts into a Collection of Contact IDs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Process Opportunity Contacts into a Collection of Contact IDs</label>
    <loops>
        <name>Loop_Over_Record_Collection</name>
        <label>Loop Over Record Collection</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <collectionReference>coll_OpportunityContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Account_Id</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <collectionReference>coll_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Contact_In_Collection_being_Updated</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_Inbound</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>coll_OpportunityContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContactIdsForUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
