unpackaged/main/default/flows/Subscription_Contract_Status_Examination.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Active_Brand_Value</name>
        <label>Set Active Brand Value</label>
        <locationX>1590</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varBrandStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomerStatusOverall</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Determine_Brand_Customer_Status_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Status_Overall_to_Prospect</name>
        <label>Set Customer Status Overall to Prospect</label>
        <locationX>2118</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>varCustomerStatusOverall</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Examine_for_Customer_Status_Overall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inactive_Brand_Value</name>
        <label>Set Inactive Brand Value</label>
        <locationX>1854</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varBrandStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Examine_Brand_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Overall_Customer_Status_Active</name>
        <label>Set Overall Customer Status Active</label>
        <locationX>1590</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>varCustomerStatusOverall</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Determine_Brand_Customer_Status_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Overall_Customer_Status_Churned</name>
        <label>Set Overall Customer Status Churned</label>
        <locationX>1854</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>varCustomerStatusOverall</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Examine_for_Customer_Status_Overall</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Collection_on_Brand</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Collection on Brand</label>
        <locationX>1502</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>currentItem_Filter_Collection_on_Brand</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Subscription_Contracts_for_the_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Collection_on_Brand.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.RecordTypeId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Examine_Brand_Status</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Customer_Overall_Status_Check</name>
        <label>Customer Overall Status Check</label>
        <locationX>1986</locationX>
        <locationY>1427</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AnyActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Examine_for_Customer_Status_Overall.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Overall_Customer_Status_Active</targetReference>
            </connector>
            <label>AnyActive</label>
        </rules>
        <rules>
            <name>Inactive_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Examine_for_Customer_Status_Overall.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>See_if_the_Account_Identifies_any_Brands_as_Prospect.varIsProspect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Overall_Customer_Status_Churned</targetReference>
            </connector>
            <label>Inactive/Churned</label>
        </rules>
        <rules>
            <name>Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>See_if_the_Account_Identifies_any_Brands_as_Prospect.varIsProspect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Status_Overall_to_Prospect</targetReference>
            </connector>
            <label>Prospect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Brand_Customer_Status_to_Update</name>
        <label>Determine Brand Customer Status to Update</label>
        <locationX>1502</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AffiniPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affinipay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AffiniPay_Customer_Status</targetReference>
            </connector>
            <label>AffiniPay</label>
        </rules>
        <rules>
            <name>CASEpeer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASEpeer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CASEpeer_Customer_Status</targetReference>
            </connector>
            <label>CASEpeer</label>
        </rules>
        <rules>
            <name>ClientPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ClientPay_Customer_Status</targetReference>
            </connector>
            <label>ClientPay</label>
        </rules>
        <rules>
            <name>CPACharge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPACharge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CPACharge_Customer_Status</targetReference>
            </connector>
            <label>CPACharge</label>
        </rules>
        <rules>
            <name>Docketwise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docketwise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Docketwise_Customer_Status</targetReference>
            </connector>
            <label>Docketwise</label>
        </rules>
        <rules>
            <name>LawPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LawPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LawPay_Customer_Status</targetReference>
            </connector>
            <label>LawPay</label>
        </rules>
        <rules>
            <name>MyCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MyCase_Customer_Status</targetReference>
            </connector>
            <label>MyCase</label>
        </rules>
        <rules>
            <name>MyCase_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyCase Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MyCase_Payments_Customer_Status</targetReference>
            </connector>
            <label>MyCase Payments</label>
        </rules>
        <rules>
            <name>Soluno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soluno</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Soluno_Customer_Status</targetReference>
            </connector>
            <label>Soluno</label>
        </rules>
        <rules>
            <name>Websites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Websites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Websites_Customer_Status</targetReference>
            </connector>
            <label>Websites</label>
        </rules>
        <rules>
            <name>Woodpecker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Woodpecker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Woodpecker_Customer_Status</targetReference>
            </connector>
            <label>Woodpecker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Examine_Statuses</name>
        <label>Examine Statuses</label>
        <locationX>1854</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Examine_Brand_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_Brand_Value</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Inactive_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Examine_Brand_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inactive_Brand_Value</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <description>Reviews the recently updated contract status and updates the corresponding Customer Status fields on the related account</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlaBrandCustomerStatusField</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.Name} &amp; &quot;_Customer_Status__c&quot;</expression>
    </formulas>
    <interviewLabel>Subscription Contract - Status Examination {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Contract - Status Examination</label>
    <loops>
        <name>Examine_Brand_Status</name>
        <label>Examine Brand Status</label>
        <locationX>1502</locationX>
        <locationY>695</locationY>
        <collectionReference>Filter_Collection_on_Brand</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Examine_Statuses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Examine_for_Customer_Status_Overall</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Examine_for_Customer_Status_Overall</name>
        <label>Examine for Customer Status - Overall</label>
        <locationX>1502</locationX>
        <locationY>1307</locationY>
        <collectionReference>Get_All_Subscription_Contracts_for_the_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Customer_Overall_Status_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Determine_Brand_Customer_Status_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Subscription_Contracts_for_the_Account</name>
        <label>Get All Subscription Contracts for the Account</label>
        <locationX>1502</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>See_if_the_Account_Identifies_any_Brands_as_Prospect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract__c</object>
        <sortField>Status__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AffiniPay_Customer_Status</name>
        <label>Update AffiniPay Customer Status</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AffiniPay_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CASEpeer_Customer_Status</name>
        <label>Update CASEpeer Customer Status</label>
        <locationX>314</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CASEpeer_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ClientPay_Customer_Status</name>
        <label>Update ClientPay Customer Status</label>
        <locationX>578</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientPay_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CPACharge_Customer_Status</name>
        <label>Update CPACharge Customer Status</label>
        <locationX>842</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPACharge_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Docketwise_Customer_Status</name>
        <label>Update Docketwise Customer Status</label>
        <locationX>1106</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docketwise_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LawPay_Customer_Status</name>
        <label>Update LawPay Customer Status</label>
        <locationX>1370</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LawPay_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MyCase_Customer_Status</name>
        <label>Update MyCase Customer Status</label>
        <locationX>1634</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MyCase_Payments_Customer_Status</name>
        <label>Update MyCase Payments Customer Status</label>
        <locationX>1898</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyCase_Payments_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Soluno_Customer_Status</name>
        <label>Update Soluno Customer Status</label>
        <locationX>2162</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soluno_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Websites_Customer_Status</name>
        <label>Update Websites Customer Status</label>
        <locationX>2426</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Websites_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Woodpecker_Customer_Status</name>
        <label>Update Woodpecker Customer Status</label>
        <locationX>2690</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Overall__c</field>
            <value>
                <elementReference>varCustomerStatusOverall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Woodpecker_Customer_Status__c</field>
            <value>
                <elementReference>varBrandStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Subscription_Contracts_for_the_Account</targetReference>
        </connector>
        <filterFormula>AND(
   {!$Record.Bypass_VR_and_Automation__c} &lt;&gt; TRUE,
   OR( 
        ISCHANGED( {!$Record.Status__c}) , 
        ISNEW()
        )
   )</filterFormula>
        <object>Contract__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>See_if_the_Account_Identifies_any_Brands_as_Prospect</name>
        <label>See if the Account Identifies any Brands as Prospect</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Filter_Collection_on_Brand</targetReference>
        </connector>
        <flowName>Account_Examine_Brand_Customer_Statuses_for_Prospect</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txtSOQLQuery</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Select {!fmlaBrandCustomerStatusField} from Account where Id = &#39;{!$Record.Id}&#39;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>colAccountForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colSOQLText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Collection_on_Brand</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>varBrandStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerStatusOverall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOverallProspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Prospect</stringValue>
        </value>
    </variables>
</Flow>
