unpackaged/main/default/flows/Subscription_Contract_Termination_SKU_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>631</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>colContractSKU_transaction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContractSKU_transaction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdateContractSKUs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Process_SKUs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_SKUs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transactions</name>
        <label>Assign Transactions</label>
        <locationX>477</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.Contract_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_SKUs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.Quantity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_QuantityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_TransactionQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Termination_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractSKU_transaction.History_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Process_SKUs.Effective_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Termination_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SKU_Check</name>
        <label>SKU Check</label>
        <locationX>539</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_SKUs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_SKUs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_SKUs</targetReference>
            </connector>
            <label>Has SKUs</label>
        </rules>
    </decisions>
    <description>Creates transactions for SKUs when contract is cancelled</description>
    <environments>Default</environments>
    <formulas>
        <name>f_QuantityType</name>
        <dataType>String</dataType>
        <expression>CASE( {!Process_SKUs.SKU_Product__r.Product_Type__c},
&quot;Main&quot;, &quot;Users&quot;, 
&quot;Units&quot; )</expression>
    </formulas>
    <formulas>
        <name>f_TransactionQuantity</name>
        <dataType>Number</dataType>
        <expression>IF( {!Process_SKUs.User_Count_Rollup__c} &gt; 0, {!Process_SKUs.User_Count_Rollup__c} *-1,
{!Process_SKUs.Add_On_Users__c} * -1 )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Subscription Contract: Termination SKU Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Contract: Termination SKU Process</label>
    <loops>
        <name>Process_SKUs</name>
        <label>Process SKUs</label>
        <locationX>548</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Contract_SKUs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Transactions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Transactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transactions</name>
        <label>Create Transactions</label>
        <locationX>776</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Contract_SKUs</targetReference>
        </connector>
        <inputReference>colContractSKU_transaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_SKUs</name>
        <label>Get Contract SKUs</label>
        <locationX>547</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SKU_Check</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Subscription_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Count_Rollup__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Add_On_Users__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_SKUs</name>
        <label>Update Contract SKUs</label>
        <locationX>995</locationX>
        <locationY>468</locationY>
        <inputReference>col_UpdateContractSKUs</inputReference>
    </recordUpdates>
    <start>
        <locationX>137</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Get_Contract_SKUs</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <object>Contract__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>col_UpdateContractSKUs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_SKU__c</objectType>
    </variables>
    <variables>
        <name>colContractSKU_transaction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_SKU_Transaction__c</objectType>
    </variables>
    <variables>
        <name>varContractSKU_transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_SKU_Transaction__c</objectType>
    </variables>
    <variables>
        <name>varEndLoopText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
