unpackaged/main/default/flows/Subscription_Contracts_Link_Product_Environment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Brand</name>
        <label>Brand</label>
        <locationX>640</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>var_Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_Brand_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subscription_Environment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>443</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>var_END_FLOW</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>end</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Product_Environment_Found</name>
        <label>Product Environment Found</label>
        <locationX>635</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>End_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_Environment_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for_Brand_Calculation</name>
        <dataType>String</dataType>
        <expression>Case ({!$Record.RecordType.DeveloperName},
&#39;Soluno&#39; , &#39;Soluno&#39;,
&#39;Other&#39;
)</expression>
    </formulas>
    <interviewLabel>Subscription Contracts: Add Product Environment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Contracts: Link Product Environment Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Subscription_Environment_Record</name>
        <label>Get Subscription Environment Record</label>
        <locationX>640</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Environment_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Brand</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>643</locationX>
        <locationY>774</locationY>
        <inputAssignments>
            <field>Product_Environment__c</field>
            <value>
                <elementReference>Get_Subscription_Environment_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>514</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Brand</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Environment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Soluno</stringValue>
            </value>
        </filters>
        <object>Contract__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_END_FLOW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
