unpackaged/main/default/flows/Task_Created_Updated_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Inbound_Email_Values</name>
        <label>Assign Inbound Email Values</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>recvarOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recvarOpportunity.Number_of_Inbound_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxNumberOfInboundEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recvarOpportunity.Date_of_Last_Inbound_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_for_Update_Inbound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OppId</name>
        <label>Assign OppId</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>colvarOppIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opp_Contact_Roles.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_for_Update_Inbound</name>
        <label>Assign Opportunity for Update</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>reccolvarOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recvarOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_for_Update_Outbound</name>
        <label>Assign Opportunity for Update</label>
        <locationX>402</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>reccolvarOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recvarOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_for_Update_Phone</name>
        <label>Assign Opportunity for Update</label>
        <locationX>666</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>reccolvarOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recvarOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outbound_Email_Values</name>
        <label>Assign Outbound Email Values</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>recvarOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recvarOpportunity.Number_of_Outbound_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxNumberOfOutboundEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recvarOpportunity.Date_of_Last_Outbound_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_for_Update_Outbound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_Touch_Values</name>
        <label>Assign Phone Touch Values</label>
        <locationX>666</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>recvarOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recvarOpportunity.Number_of_Phone_Touches__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxNumberOfPhoneTouches</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recvarOpportunity.Date_of_Last_Phone_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_for_Update_Phone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activity_Type</name>
        <label>Activity Type</label>
        <locationX>534</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Loop_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound_Email_Touch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>[IN]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inbound_Email_Values</targetReference>
            </connector>
            <label>Inbound Email Touch</label>
        </rules>
        <rules>
            <name>Outbound_Email_Touch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>[OUT]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outbound_Email_Values</targetReference>
            </connector>
            <label>Outbound Email Touch</label>
        </rules>
        <rules>
            <name>Phone_Touch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDurationInSeconds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Touch_Values</targetReference>
            </connector>
            <label>Phone Touch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Activity_Count_Update_Needed</name>
        <label>Opp Activity Count Update Needed</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ActivityCountUpdateNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxOppActivityCountUpdateNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Contact_Roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Contact_Roles_Found</name>
        <label>Opp Contact Roles Found</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Contact_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opp_Contact_Roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fxNumberOfInboundEmails</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_Opps.Number_of_Inbound_Emails__c}),1,{!Loop_Opps.Number_of_Inbound_Emails__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxNumberOfOutboundEmails</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_Opps.Number_of_Outbound_Emails__c}),1,{!Loop_Opps.Number_of_Outbound_Emails__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxNumberOfPhoneTouches</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_Opps.Number_of_Phone_Touches__c}),1,{!Loop_Opps.Number_of_Phone_Touches__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxOppActivityCountUpdateNeeded</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;
(CONTAINS({!$Record.Subject}, &#39;[IN]&#39;) ||
CONTAINS({!$Record.Subject}, &#39;[OUT]&#39;) ||
ISBLANK({!$Record.CallDurationInSeconds}))</expression>
    </formulas>
    <interviewLabel>Task: Created/Updated - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task: Created/Updated - After Save</label>
    <loops>
        <name>Loop_Opp_Contact_Roles</name>
        <label>Loop Opp Contact Roles</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Opp_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OppId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opps</name>
        <label>Loop Opps</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Activity_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunites</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Contact_Roles</name>
        <label>Get Opp Contact Roles</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Contact_Roles_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps</name>
        <label>Get Opps</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colvarOppIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunites</name>
        <label>Update Opportunites</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <inputReference>reccolvarOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opp_Activity_Count_Update_Needed</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colvarOppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reccolvarOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recvarOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
