unpackaged/main/default/flows/Time_Tracker_Time_Worked_Rollup_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Hours_and_Minutes</name>
        <label>Add Hours and Minutes</label>
        <locationX>138</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Hours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Hours_and_Minutes.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Minutes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Hours_and_Minutes.Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Hours_and_Minutes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>From_Deleted_Trigger</name>
        <label>From Deleted Trigger</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Time_Tracker_Records_Update_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From Update/Create</defaultConnectorLabel>
        <rules>
            <name>From_Deleted_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Is_Delete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Tracker_Records_Delete</targetReference>
            </connector>
            <label>From Deleted Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Update_Value_Plus_To_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rc_Time_Trackers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Hours_and_Minutes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlaHoursandMinutes</name>
        <dataType>Number</dataType>
        <expression>(({!Hours}*60) + {!Minutes})/60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Time Tracker: Time Worked Rollup Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Tracker: Time Worked Rollup Autolaunched</label>
    <loops>
        <name>Loop_Through_Hours_and_Minutes</name>
        <label>Loop Through Hours and Minutes</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <collectionReference>rc_Time_Trackers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Hours_and_Minutes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Hours_Worked</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Time_Tracker_Records_Delete</name>
        <label>Get Time Tracker Records - Delete</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ValuePlus__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeTracker.ValuePlus__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varTimeTracker.Id</elementReference>
            </value>
        </filters>
        <object>Time_Tracker__c</object>
        <outputReference>rc_Time_Trackers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Hours__c</queriedFields>
        <queriedFields>Minutes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Tracker_Records_Update_Create</name>
        <label>Get Time Tracker Records - Update/Create</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ValuePlus__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeTracker.ValuePlus__c</elementReference>
            </value>
        </filters>
        <object>Time_Tracker__c</object>
        <outputReference>rc_Time_Trackers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Hours__c</queriedFields>
        <queriedFields>Minutes__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Hours_Worked</name>
        <label>Update Total Hours Worked</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeTracker.ValuePlus__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Time_Worked__c</field>
            <value>
                <elementReference>fmlaHoursandMinutes</elementReference>
            </value>
        </inputAssignments>
        <object>ValuePlus__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Value_Plus_To_Null</name>
        <label>Update Value Plus To Null</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeTracker.ValuePlus__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Time_Worked__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ValuePlus__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>From_Deleted_Trigger</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Minutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>rc_Time_Trackers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Tracker__c</objectType>
    </variables>
    <variables>
        <name>var_Is_Delete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTimeTracker</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Tracker__c</objectType>
    </variables>
</Flow>
