unpackaged/main/default/flows/Value_Scheduled_Flow_Update_Status_of_Sub_Contract_and_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Temporary flow to update Subscription contract and Websites Customer Status in Full and Prod</description>
    <environments>Default</environments>
    <interviewLabel>Value+: Scheduled Flow Update Status of Sub Contract and Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Value+: Scheduled Flow Update Status of Sub Contract and Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Subscription_Contract</name>
        <label>Get Subscription Contract</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Website_Subscription_Contract_to_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Websites</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_to_Churned_Website</name>
        <label>Update Account to Churned Website</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Websites_Customer_Status__c</field>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Website_Subscription_Contract_to_Inactive</name>
        <label>Update Website Subscription Contract to Inactive</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Update_Account_to_Churned_Website</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Contract__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Subscription_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZuoraImplementationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled In Zuora</stringValue>
            </value>
        </filters>
        <object>ValuePlus__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-10-10</startDate>
            <startTime>10:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
