unpackaged/main/default/flows/Websites_Monthly_Value_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Websites : Monthly (Value+ Triggered) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Websites : Monthly (Value+ Triggered)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Integration_Queue_Record</name>
        <label>Create Integration Queue Record</label>
        <locationX>507</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Opportunity_SKU</targetReference>
        </connector>
        <inputAssignments>
            <field>Integration_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Value+</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Name__c</field>
            <value>
                <stringValue>Add Monthly Website Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Queue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_SKU_Website_Monthly_Fee</name>
        <label>Get Opportunity SKU - Website Monthly Fee</label>
        <locationX>835</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Integration_Queue_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MyCase - Website</stringValue>
            </value>
        </filters>
        <filters>
            <field>Integration_Queue__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_SKU__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Opportunity_SKU</name>
        <label>Opportunity SKU</label>
        <locationX>318</locationX>
        <locationY>587</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Integration_Queue__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MyCase - Website</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration_Queue__c</field>
            <value>
                <elementReference>Create_Integration_Queue_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_SKU__c</object>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Opportunity_SKU_Website_Monthly_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site_Delivered_Final_Changes__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ZuoraImplementationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchased In Zuora</stringValue>
            </value>
        </filters>
        <filters>
            <field>No_Website_2_0_Processing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Zuora__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Purchase_at_Signing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ValuePlus__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
