unpackaged/main/default/flows/Website_SKU_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Name_Values_0</name>
        <label>With Promo Value Assignment</label>
        <locationX>1046</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>SKUListValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>text_Product_Line_WithPromo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Fee_PromoAssignment</name>
        <label>Build Fee Promo</label>
        <locationX>1182</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>BuildFeePromoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Name_Values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_SKU_Count</name>
        <label>Get SKU Count</label>
        <locationX>690</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>var_SKU_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Locate_new_SKUs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sku_s_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Promo_Value_Assignment</name>
        <label>No Promo Value Assignment</label>
        <locationX>1065</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>SKUListValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>text_Product_Line_NoPromo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Line Break</description>
        <name>con_LineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Build_Fee_Promo</name>
        <label>Build Fee Promo</label>
        <locationX>1268</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Assign_Name_Values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_BuildFee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oppy_Promos.Product_SKU_Promotion__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Build Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Fee_PromoAssignment</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Build_Field_2</name>
        <label>Build Field # 2</label>
        <locationX>874</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Get_Oppy_Promos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Promo Yet</defaultConnectorLabel>
        <rules>
            <name>Build_Fee_2_with_Promo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuildFeePromoFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.SKU_Product__r.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Build Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name_Values_0</targetReference>
            </connector>
            <label>Build Fee 2 with Promo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Promo_s_Found</name>
        <label>Promo&#39;s Found</label>
        <locationX>1693</locationX>
        <locationY>643</locationY>
        <defaultConnector>
            <targetReference>No_Promo_Value_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oppy_Promos.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Fee_Promo</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sku_s_Found</name>
        <label>Sku&#39;s Found</label>
        <locationX>682</locationX>
        <locationY>652</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SKU_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Pulls a list of all selected website SKUs into opportunity layout.</description>
    <environments>Default</environments>
    <interviewLabel>Website SKU Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Website SKU Summary</label>
    <loops>
        <description>Loop through list of SKUs and pull in any new values.</description>
        <name>Loop</name>
        <label>Loop Through SKUs</label>
        <locationX>885</locationX>
        <locationY>654</locationY>
        <collectionReference>Locate_new_SKUs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Field_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Oppy_Promos</name>
        <label>Get Oppy Promos</label>
        <locationX>1104</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promo_s_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Promo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find all new SKU entries.</description>
        <name>Locate_new_SKUs</name>
        <label>Locate new SKUs</label>
        <locationX>689</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SKU_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>771</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>SKUs_Added__c</field>
            <value>
                <elementReference>SKUListValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>565</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Locate_new_SKUs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128W000001DlqKQAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>text_Product_Line_NoPromo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Qty: {!Loop.Qty__c} | Product: {!Loop.SKU_Product__r.Name}  | Unit Price: ${!Loop.SKU_Product__r.Price_Base__c}     {!con_LineBreak}
{!con_LineBreak}</text>
    </textTemplates>
    <textTemplates>
        <name>text_Product_Line_WithPromo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Qty: {!Loop.Qty__c} | Product: {!Loop.SKU_Product__r.Name}  | Unit Price: ${!Loop.SKU_Product__r.Price_Base__c}   | Promotion: {!Get_Oppy_Promos.Product_SKU_Promotion__r.Name}  {!con_LineBreak}
{!con_LineBreak}</text>
    </textTemplates>
    <variables>
        <name>BuildFeePromoFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EndProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SKUListValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Prom_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Promo_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_SKU_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
